
@{
    ViewBag.Title = "Flight";
}


<div id="cesiumContainer"></div>

<div id="loadingIndicator" class="cover">
    <div id="loadingIcon" class="loadingIndicator"></div>
</div>

<div class="controlPanel">
    <h5>Longitude: <span id="lonlabel"></span></h5>
    <h5>Latitude: <span id="latlabel"></span></h5>
    
</div>

    @section header {
        <link type="text/css" rel="stylesheet" href="~/Cesium/Widgets/widgets.css" />
        <link type="text/css" rel="stylesheet" href="~/Content/flightmap.css" />

    }




    @section scripts {
        <script type="text/javascript">
        var FlightID =@ViewBag.ID;
        var HomeLat =@ViewBag.HomeLat;
            var HomeLong =@ViewBag.HomeLong;
            var IsLive = @ViewBag.IsLive;
        </script>
        <script src="~/Cesium/Cesium.js"></script>
        <script src="~/Scripts/Flight_3D.js"></script>
    }

