@import "exPortal_V3_Common";




div#ActivePilots {
  display: block;
  border-bottom: 1px white solid;
  float: left;

  ul {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    list-style: none;

    li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      border-bottom: 1px $HiliteColor3 solid;
      padding: 3px 10px 3px 10px;
      font-size: 12px;

      &.active {
        background-color: $MenuColor;
      }

      &:hover {
        background-color: $MenuHiliteColor;
      }
    }
  }
}


ul#ComsList {
  margin: 0px;
  padding: 0px;
  font-size: 13px;

  li {
    margin: 0px 0px 10px 0px;
    padding: 0px;

    div.message {
      border-radius: 8px;
      padding: 1px 10px 1px 10px;

      div.name {
        padding-right: 10px;
        font-weight: bold;
        display: table-cell;
      }

      div.content {
        display: table-cell;
        width: auto;
      }
    }

    &.tome div.message {
      background-color: $BodyColor;
      color: white;
    }

    &.fromme div.message {
      background-color: silver;
    }

    div.date {
      text-align: right;
      padding-right: 0px;
      font-size: 10px;
    }
  }
}



#AddDiv {
  position: absolute;
  right: 60px;
  top: 10px;
  z-index: 10;
  border-radius: 5px;
}

div.button {
  background-color: #272727;
  color: white;
  border: 2px #272727 solid;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  cursor: pointer
}

div.button:hover {
  background-color: #3e3e3e;
}

span.icon {
  padding-right: 5px;
}

div#ComSection {
  display: block;
  border: 1px $HiliteColor3 solid;
  overflow: hidden;
}

div#ActivePilots,
div#ComSection {
  div.caption {
    width: 100%;
    background-color: $HiliteColor3;
    font-family: 'Advent';
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-weight: 800;
  }
}

@mixin ChatModule($Width, $MaxHeight) {


  $Left: $Width * 0.25;
  $Right: $Width * 0.75;

  section#ChatWindow {
    width: $Width  !important;
  }

  div#ActivePilots {
    width: $Left;
    height: $MaxHeight;
    box-sizing: border-box;

    ul li {
      width: $Left;
      box-sizing: border-box;
    }
  }

  div#ComSection {
    height: $MaxHeight;
    width: $Right;
    box-sizing: border-box;
    float: left;
  }

  @include ChatSection($Right, $MaxHeight);
}

div#MessageDivInbox {
  border: 1px solid $MenuHiliteColor;
  padding: 0px;
  margin-top: 20px;
  box-sizing: border-box;

  select {
    width: 100%;
    padding: 2px;
    margin: 0px;
    box-sizing: border-box;
  }

  div.caption {
    font-size: 18px;
    letter-spacing: 3.33333px;
    background-color: $MenuHiliteColor;
    padding: 2px 10px 2px 10px;
    text-align: center;
  }
}

div#DetailDiv {
  table {
    td {
      padding: 0px 0px 5px 0px;
    }
  }

  margin-bottom: 20px;

  div.caption {
    background-color: $AlertColor;
    font-size: 18px;
    letter-spacing: 3.33333px;
    color: white;
    padding: 2px 10px 2px 10px;
    text-align: center;
  } 

  border: 1px $AlertColor solid;
}

@mixin SetColumns ($MaxSize, $VerticalGap) {
  $ColWidth: ($MaxSize - $VerticalGap)/2;
  $Height: 600px;

  div#PageDiv {
    width: $MaxSize;
    height: $Height;
  }

  div#firstDiv, div#secondDiv {
    float: left;
    width: $ColWidth;
    height: auto !important;
    padding: 0px;
    box-sizing: border-box;
  }

  div#firstDiv {
    margin-right: $VerticalGap;
  }

  div#MessageDivInbox {
    width: $ColWidth;

    div.content {
      padding: 10px;
      width: $ColWidth - 2px;
      box-sizing: border-box;
    }
  }


  div#DetailDiv {
    width: $ColWidth;

    div.content {
      padding: 10px;
      width: $ColWidth;

      table {
        width: $ColWidth - 20px;
      }
    }
  }

  @include ChatModule($ColWidth, 200px);
}


@mixin ChatSection($Col2, $Height) {
  $FontSize: 10px;
  $CaptionHeight: $FontSize + 8px + 10px;


  div#ActivePilots {
    div.caption {
      font-size: $FontSize + 8px;
      letter-spacing: $FontSize / 3;
      height: $CaptionHeight;
      line-height: $FontSize + 8px;
      text-transform: uppercase;
      border-bottom: 1px $HiliteColor3 solid;
    }
  }

  div#ComSection {
    $BottomSectionHeight: 30px;
    $ButtonWidth: 50px;

    width: $Col2;

    div.caption {
      font-size: $FontSize + 8px;
      letter-spacing: $FontSize / 3;
      height: $CaptionHeight;
      line-height: $FontSize + 8px;
    }

    div#ComsContent {
      width: $Col2;
      height: $Height - ($CaptionHeight +$BottomSectionHeight );
      overflow-y: scroll;
      padding: 10px;
      box-sizing: border-box;
    }

    div#ComsSendMessage {
      width: $Col2;
      height: $BottomSectionHeight;
      background-color: green;


      div.ContentBox, div.ContentButton {
        float: left;
        width: 100%;
        height: $BottomSectionHeight;

        input {
          margin: 0px;
          line-height: $BottomSectionHeight;
          border: 1px $MenuColor solid;
          box-sizing: border-box;
          height: $BottomSectionHeight;
        }
      }

      div.ContentBox input {
        padding: 0px 10px 0px 10px;
        width: $Col2 - $ButtonWidth;
      }

      div.ContentButton input {
        padding: 0px;
        width: $ButtonWidth;
        background-color: #50ff00;

        &:hover {
          background-color: $HiliteColor2;
        }

        &.disabled,
        &.disabled:hover {
          background-color: silver;
        }
      }


      div.ContentButton {
        width: $ButtonWidth;
      }

      div.ContentBox {
        width: $Col2 - $ButtonWidth;
      }
    }
  }
}


@media screen and (min-width: 720px) {
    $MaxSize: 680px;
    $MaxHeight: 400px;
    $VerticalGap: 8px;
  @include SetColumns($MaxSize, $VerticalGap);

}

@media screen and (min-width: 1080px) {
    $MaxSize: 1000px;
    $MaxHeight: 400px;
    $VerticalGap: 12px;
  @include SetColumns($MaxSize, $VerticalGap);

}

@media screen and (min-width: 1320px) {
    $MaxSize: 1260px;
    $MaxHeight: 350px;
    $VerticalGap: 15px;
  @include SetColumns($MaxSize, $VerticalGap);

}


