@import "exPortal_V3_Common";

div.instrument.attitude div.roll div.pitch,
div.instrument.attitude div.roll {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  border:0px;
  background-color:$HiliteColor1;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0px;
  background-color: $HiliteColor2;
}
.ui-slider .ui-slider-handle {
  width:16px;
  height:12px;
  border:0px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -2px;
  margin-left: 0px;
}

.cesium-viewer .cesium-widget-credits {
  display:none !important;
}

div.SpotMarker {
  $Size: 16px;
  $Padding: 4px;
  width: $Size;
  height: $Size;
  position: absolute;
  margin-left: $Size/-2;
  margin-top: $Size/-2;
  border-radius: 50%;
  cursor: default;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;

  span.Marker {
    display: block;
    width: $Size - ($Padding * 2);
    height: $Size - ($Padding * 2);
    left: $Padding - 1px;
    top: $Padding - 1px;
    position: absolute;
    border-radius: 50%;
  }

  div.Marker-ToolTip {
    display: none;
    position: absolute;
    top: $Size;
    width: auto;
    height: auto;
    padding: 3px;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.5);
    border: 1px black solid;
    border-radius: 3px;
    color: white;
  }

  &:hover {
    div.Marker-ToolTip {
      display: block;
    }
  }
}

div#StartMarker {
  border: 1px white solid;

  span.Marker {
    background-color: white;
  }
}

div#EndMarker {
  border: 1px $HiliteColor2 solid;

  span.Marker {
    background-color: $HiliteColor2;
  }
}

div#FlightMapDroneIcon {
  $Size: 32px;
  width: $Size;
  height: $Size;
  position: absolute;
  margin-left: $Size/-2;
  margin-top: $Size/-2;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
}

div#custom-handle {
  $HandleWidth: 50px;
  width: $HandleWidth;
  margin-left: $HandleWidth / -2;
  line-height: 21px;
  font-size: 11px;
  height: 21px;
  text-align: center;
}

div#FlightInfoColumn1,
div#FlightInfoColumn2,
div#FlightInfoColumn3,
div#FlightInfoColumn2_3_merge {
  float: left;
}
div#FlightInfoColumn3 {

  div#Toolbar {


    & > div.button,
    & > div.round-button {
      background-color: silver;
      cursor: pointer;
      box-sizing: content-box;
      float: left;

      &.disabled {
        color: #a0a0a0 !important;
        background-color: silver !important;

        span.icon,
        &:hover,
        &.active:hover,
        &.active {
          color: #a0a0a0 !important;
          background-color: silver !important;
        }
      }
    }


    & > div.button {
      border-radius: 3px;

      span.icon {
        color: $HiliteColor1;
        margin-right: 6px;
      }

      &:hover {
        background-color: $HiliteColor1;
        color: white;

        span.icon {
          color: $HiliteColor2;
        }
      }
    }

    & > div.round-button {
      border-radius: 50%;
      font-weight: bold;
      padding: 0px;
      vertical-align: bottom;
      text-align: center;

      &.active:hover,
      &:hover {
        background-color: $HiliteColor1;
        color: white;
      }

      &.active {
        background-color: $HiliteColor2;
        color: white;
      }
    }
  }

  div#FlightSlider {
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: bottom;

    div#FlightSliderStart {
      left: 0px;
    }

    div#FlightSliderEnd {
      right: 0px;
    }

    div#FlightSliderCenter {
      width: 100%;
      text-align: center;
      left: 0px;
      color: $HiliteColor1;
      font-weight: bold;
    }

    div#FlightSliderStart,
    div#FlightSliderEnd,
    div#FlightSliderCenter {
      position: absolute;
      top: 0px;
      font-size: 14px;
    }

    div#FlightSliderStart,
    div#FlightSliderEnd,
    div#FlightSliderBar,
    div#FlightSliderCenter {
      display: inline-block;
    }

    div#FlightSliderBar {
      position: absolute;
      bottom: 0px;
      background-color: silver;
    }
  }
}

div#FlightInfoColumn3::after {
  @include Clear();
}

div#FlightInfoSection::after {
  @include Clear();
}


nav#flightmap_infobar {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
      float: left;
      overflow: hidden;
      font-family: 'Advent';
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;

      div.image {
        float: left;
        border-radius: 50%;
        background-color: #484848;
        background-size: cover;
        background-repeat: no-repeat;
      }

      div.title1 {
        font-family: Arial;
      }

      &.rpas div.image {
        background-size: 70% 70%;
        background-position: center center;
      }
    }
  }
}


div#AttitudeMeter {
  position: relative;

  div.AttitudePichRollBackground {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: $BodyColor;
  }

  div#attitude {
    position: relative;
    z-index: 99;
    border-radius:50%;
  }

  div.AttitudePitchSection,
  div.AttitudeRollSection {
    position: absolute;
    color: white;
    z-index: 99;
    font-family: 'Advent';
  }

  div.AttitudePitchSection {
    left: 10px;
    text-align: left;
  }

  div.AttitudeRollSection {
    right: 10px;
    text-align: right;
  }
}



div#FlightStatusBar {
  ul {
    padding: 0px;
    margin:0px;
    list-style: none;
    display: block;

    li {
      padding: 0px;
      margin:0px;
      list-style: none;
      float:left;


      & > div {
        display: block;
        background-color: $BodyColor;
        background-size: contain;
        border-radius: 50%;

        &:hover,
        &.active {
          background-color: $HiliteColor1;
        }
      }

      div.FlightStatusIconWind {
        background-image: url('/images/V3/flightmap-wind.png');
      }

      div.FlightStatusIconTemp {
        background-image: url('/images/V3/flightmap-temp.png');
      }

      div.FlightStatusIconAirline {
        background-image: url('/images/V3/flightmap-airlines.png');
      }

      div.FlightStatusIconEM {
        background-image: url('/images/V3/flightmap-em.png');
      }
    }
  }

  div#FlightStatusIconInfo {
    color: white;
    display: block;
  }
}



@mixin AttitudeMeter($VerticalGap, $SizeWithMargin, $FontSize) {
  $MarginTop: $VerticalGap;
  $MarginLeft: $VerticalGap;
  $Size: $SizeWithMargin - ($MarginLeft*2);
  $Width: $Size;
  $Height: $Size * 0.65;
  $BackgroundHeight: $Size * 0.4;

  div#AttitudeMeter {
    width: $Width;
    height: $Height;
    margin-top: $MarginTop;
    margin-left: $MarginLeft;

    div#attitude {
      left: ($Width - $Height)/2;
    }

    div#attitude,
    div.instrument {
      width: $Height;
      height: $Height;
      border-radius: 50%;
      box-sizing: content-box;
    }

    div.AttitudePichRollBackground {
      border-radius: ($BackgroundHeight * 0.4);
      height: $BackgroundHeight;
      top: ($Height - $BackgroundHeight)/2;
    }

    div.AttitudePitchSection,
    div.AttitudeRollSection {
      top: ($Height - $BackgroundHeight)/2 + ($BackgroundHeight * 0.3);
      font-size: $FontSize * 0.8;

      span.Number,
      span.Symbol {
        font-size: $FontSize * 2;
      }
    }
  }
}

div#FlightData {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  li {
    margin: 0px;
    padding: 0px;
    list-style: none;

    div {
      float: left;
      display: block;
      font-family: 'Avenir Next Condensed'
    }


    &::after {
      @include Clear();
      border-bottom: 1px #d9d9d9 solid !important;
    }
  }
}

section#BottomSection {
  div#BottomMapInfo,
  div#ComSection,
  div#GoogleMap,
  div#CesiumMap {
    float: left;
  }

  div#BottomMapInfo {
    background-color: black;
    display: table;

    div.MapInfoContent {
      vertical-align: middle;
      display: table-cell;
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;

      li {
        margin: 0px 0px 10px 0px;
        padding: 0px;
        list-style: none;
        color: white;
        text-align: center;

        &:last-child {
          margin-bottom: 0px;
        }

        div.title {
          text-transform: uppercase;
        }

        div.value {
          font-weight: bold;
        }
      }
    }
  }

  div#ComSection {
    background-color: white;

    div.caption {
      width: 100%;
      background-color: $HiliteColor3;
      font-family: 'Advent';
      text-align: center;
      padding: 5px 0px 5px 0px;
      font-weight: 800;
    }

    ul#ComsList {
      margin: 0px;
      padding: 0px;
      font-size: 13px;

      li {
        margin: 0px 0px 10px 0px;
        padding: 0px;

        div.message {
          border-radius: 8px;
          padding: 1px 10px 1px 10px;

          div.name {
            padding-right: 10px;
            font-weight: bold;
            display: table-cell;
          }

          div.content {
            display: table-cell;
            width: auto;
          }
        }

        &.tome div.message {
          background-color: $BodyColor;
          color: white;
        }

        &.fromme div.message {
          background-color: silver;
        }

        div.date {
          text-align: right;
          padding-right: 0px;
          font-size: 10px;
        }
      }
    }

  }

  div#GoogleMap,
  div#CesiumMap {
    background-color: silver;
  }

  &::after {
    @include Clear();
  }
}

@mixin BottomSection($MaxWidth, $Height, $FontSize) {
  $Col1: $MaxWidth * 0.1;
  $Col2: $MaxWidth * 0.3;
  $Col3: $MaxWidth * 0.6;

  div#BottomMapInfo,
  div#ComSection,
  div#GoogleMap,
  div#CesiumMap {
    height: $Height;
  }

  div#BottomMapInfo {
    width: $Col1;

    li {
      width: $Col1;
      font-size: $FontSize;
    }
  }

  div#ComSection {
    $CaptionHeight: $FontSize + 8px + 10px;
    $BottomSectionHeight: 30px;
    $ButtonWidth: 50px;

    width: $Col2;

    div.caption {
      font-size: $FontSize + 8px;
      letter-spacing: $FontSize / 3;
      height: $CaptionHeight;
      line-height: $FontSize + 8px;
    }

    div#ComsContent {
      width: $Col2;
      height: $Height - ($CaptionHeight +$BottomSectionHeight );
      overflow-y: scroll;
      padding: 10px;
      box-sizing: border-box;
    }

    div#ComsSendMessage {
      width: $Col2;
      height: $BottomSectionHeight;
      background-color: green;


      div.ContentBox, div.ContentButton {
        float: left;
        width: 100%;
        height: $BottomSectionHeight;

        input {
          margin: 0px;
          line-height: $BottomSectionHeight;
          border: 0px;
          height: $BottomSectionHeight;
        }
      }

      div.ContentBox input {
        padding: 0px 10px 0px 10px;
        width: $Col2 - $ButtonWidth - 20px;
      }

      div.ContentButton input {
        padding: 0px;
        width: $ButtonWidth;
        background-color: #50ff00;

        &:hover {
          background-color: $HiliteColor2;
        }

        &.disabled, 
        &.disabled:hover {
          background-color: silver;
        }
      }


      div.ContentButton {
        width: $ButtonWidth;
      }

      div.ContentBox {
        width: $Col2 - $ButtonWidth;
      }
    }
  }

  div#GoogleMap,
  div#CesiumMap {
    width: $Col3;
  }
}

@mixin FlightData($MaxWidth, $VSpace, $FontSize, $DataHeight) {
  $AvailWidth: $MaxWidth - ($VSpace * 8) - 20px;
  $ColPercentage: ( $AvailWidth * 0.10, $AvailWidth * 0.15, $AvailWidth * 0.15, $AvailWidth * 0.10, $AvailWidth * 0.10, $AvailWidth * 0.10, $AvailWidth * 0.10, $AvailWidth * 0.10, $AvailWidth * 0.10);

  div#FlightData {

    ul {
      li {
        div {
          font-size: $FontSize;
        }

        @for $i from 1 through 9 {
          div.col#{$i} {
            width: nth($ColPercentage, $i);

            @if $i == 9 {
              margin-right: 0px;
            }
            @else {
              margin-right: $VSpace;
            }
          }
        }
      }
      //LI
    }
    //UL
    div.data-rows {
      height: $DataHeight;
      overflow: auto;
      overflow-y: scroll;
    }

    ul.header-row {
      li {
        font-weight: bold;
      }
    }
  }
}

@mixin FlightStatusBar($VerticalGap, $IconHeight) {
  div#FlightStatusBar {
    ul {
      height: $IconHeight;
      margin: 0px;

      li {
        width: $IconHeight;
        height: $IconHeight;
        margin: 0px $VerticalGap/4 0px 0px;

        & > div {
          width: $IconHeight;
          height: $IconHeight;
        }
      }
    }

    div#FlightStatusIconInfo {
      margin-top: $VerticalGap/4;
      span {
        background-color: $HiliteColor1;
        padding-left: $VerticalGap;
        padding-right: $VerticalGap;
        border-radius: $VerticalGap;
        font-size: 11px;
        display: table-cell;
      }
    }
  }
}

@mixin FlightStatusMetar($VerticalGap, $MaxSize, $FontSize) {
  $MetarHeight: $MaxSize * 0.12;
  $BorderWidth: 8px;

  div#FlightStatusBar {
    margin-left: $MetarHeight - $BorderWidth;
  }

  div#FlightStatusMetar {
    margin-top: $VerticalGap;
    width: $MaxSize;
    height: $MetarHeight;
    display: block;
    background-color: silver;
    border-radius: $MetarHeight/2;
    overflow: hidden;

    div.MetarInfoContent {
      box-sizing: border-box;
      width: $MaxSize - ($BorderWidth * 4 + $MetarHeight);
      height: $MetarHeight - $BorderWidth * 2;
      margin-left: $BorderWidth;
      margin-top: $BorderWidth;
      float: left;
      display:table;

      div.MetarInfo {
        text-align: left;
        vertical-align: middle;
        display: table-cell;
        font-size: $FontSize * 0.7;
        font-weight:bold;
      }
    }

    div.MetarTitle {
      box-sizing: border-box;
      background-color: silver;
      width: $MetarHeight + ($BorderWidth * 2);
      height: $MetarHeight + ($BorderWidth * 2);
      border-radius: 50%;
      border: $BorderWidth solid white;
      float: left;
      margin-left: -1 * $BorderWidth;
      margin-top: -1 * $BorderWidth;


      div.content {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        height: $MetarHeight;
        width: $MetarHeight;
        font-size: $FontSize * 0.8;

        div.refresh {
          font-size: $FontSize * 0.5;
        }
      }
    }
  }
}

@mixin FlightInfoBar($VerticalGap, $MaxSize, $Width, $FontSize) {
  nav#flightmap_infobar {
    margin-bottom: $VerticalGap;
  }

  nav#flightmap_infobar ul li {

    div.image {
      margin-right: $VerticalGap;
    }

    div.title-1 {
      font-size: $FontSize;
    }

    div.title-2 {
      font-size: $FontSize - 1px;

      & > span {
        font-size: $FontSize + 5px;
      }
    }

    div.title-3 {
      font-size: $FontSize - 2px;
      color: #929292;
    }
  }

  nav#flightmap_infobar ul li {
    $Sections: 6;
    $TotalGap: $VerticalGap * ($Sections - 1);
    $TotalWidth: $MaxSize - $TotalGap;
    $FirstSecion: 0.4;
    $SecondSection: 1 - $FirstSecion;
    //15% of width for normal cell
    //[4 * 15%  = 60%] + [2 * 25% = 40%] = 100%;
    $CellWidth: ($TotalWidth * $SecondSection)/4;
    width: $CellWidth;
    margin-right: $VerticalGap;
    font-size: $FontSize;

    &.pack-of-2 {
      //20% of width for the bigger cell
      width: ($TotalWidth * $FirstSecion) / 2;
    }

    &:last-child {
      margin-right: 0px;
    }

    div.image {
      width: $Width;
      height: $Width;
    }
  }
}


#FlightChartInfos {
  div.flightchartinfo {
    float: left;
    text-align: center;

    div.title {
      font-weight: bold;
      text-transform: uppercase;
    }

    div.sub-title {
      text-transform: uppercase;
    }
  }
}

@mixin FlightChart($VerticalGap, $MaxSizeWithMargin, $Height, $FontSize) {
  $MaxSize: $MaxSizeWithMargin;
  $MaxWidth: $MaxSize - ($VerticalGap * 2);

  div#FlightCharts {
    width: $MaxSize;
    height: $Height;

    div.flightchart {
      width: ($MaxWidth/3);
      margin-right: $VerticalGap;
      height: $Height;
      float: left;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  div#FlightChartInfos {
    width: $MaxSize;

    div.flightchartinfo {
      width: ($MaxWidth/3);
      margin-right: $VerticalGap;
      float: left;

      div.title {
        font-size: $FontSize * 0.7;
      }

      div.sub-title {
        font-size: ($FontSize * 0.6);
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

@mixin FlightStatus($VerticalGap, $MaxScreenSize, $FontSize, $ScrollerWidth) {
  $AvailWidth: $MaxScreenSize - (2 * $VerticalGap);
  $Column1: $AvailWidth * 0.40;
  $Column2: $AvailWidth * 0.25;
  $Column3: $AvailWidth * 0.35;

  @include FlightChart($VerticalGap, $Column1, 60px, $FontSize);
  @include AttitudeMeter($VerticalGap, $Column2, 12px);
  @include FlightStatusMetar($VerticalGap, $Column3, $FontSize);

  section#FlightStatusInfo {
    margin-bottom: $VerticalGap;
  }

  div#FlightInfoColumn1 {
    width: $Column1;
    margin-right: $VerticalGap;
  }

  div#FlightInfoColumn2 {
    width: $Column2;
    margin-right: $VerticalGap;
  }

  div#FlightInfoColumn3 {
    width: $Column3;
    $ButtonFontSize: $FontSize * 0.8;
    $BigButton: 70px;
    $Height: $FontSize + 10px;
    $SmallButton: $Height;
    $BigButtonCount: 3;
    $SmallButtonCount: 3;
    $TotalWidth: ($BigButton * $BigButtonCount) + ($SmallButton * $SmallButtonCount);
    $HGap: ($Column3 - $TotalWidth) / ($BigButtonCount + $SmallButtonCount - 1);

    div#Toolbar {
      margin-top: $VerticalGap;
      width: $Column3;
      font-size: $ButtonFontSize;

      & > div {
        float: left;
      }

      & > div.button {
        width: $BigButton;
        height: $Height;
        line-height: $Height;
        margin-right: $HGap;
        box-sizing: border-box;
        padding: 0px 5px 0px 5px;
      }

      & > div.round-button {
        width: $Height;
        line-height: $Height;
        height: $SmallButton;
        margin-right: $HGap;
        padding: 0px 5px 0px 5px;
        box-sizing: border-box;
      }

      & > div:last-child {
        margin-right: 0px !important;
      }
    }


    div#FlightSlider {
      width: $Column3;
      margin-top: $VerticalGap;
    }

    div#FlightSliderBar {
      width: $Column3;
      height: 8px;
      border: 0px;
    }
  }

  div#FlightInfoColumn2_3_merge {
    width: $Column2 + $Column3 + $VerticalGap;
  }
}


@mixin VerticalSpaces($Margin) {
  div#FlightData {
    margin-top: $Margin
  }
}


@media screen and (min-width: 720px) {
  $MaxSize: 720px;
  $VerticalGap: 8px;
  $AvailWidth: $MaxSize - (2 * $VerticalGap);
  $Column1: $AvailWidth * 0.40;
  @include FlightInfoBar($VerticalGap, $MaxSize, 30px, 11px);
  @include FlightStatus($VerticalGap, $MaxSize, 13px,200px);
  @include FlightStatusBar($VerticalGap, 22px);
  @include FlightData($Column1, 2px, 10px, 80px);
  @include BottomSection($MaxSize, 300px, 12px);
}


@media screen and (min-width: 1080px) {
  $VerticalGap: 12px;
  $MaxSize: 1080px;
  $AvailWidth: $MaxSize - (2 * $VerticalGap);
  $Column1: $AvailWidth * 0.40;
  @include FlightInfoBar($VerticalGap, $MaxSize, 40px, 13px);
  @include FlightStatus($VerticalGap, $MaxSize, 14px, 260px);
  @include FlightStatusBar($VerticalGap, 26px);
  @include FlightData($Column1, 4px, 10px, 90px);
  @include BottomSection($MaxSize, 300px, 12px);
}

@media screen and (min-width: 1320px) {
  $VerticalGap: 15px;
  $MaxSize: 1260px;
  $AvailWidth: $MaxSize - (2 * $VerticalGap);
  $Column1: $AvailWidth * 0.40;
  @include FlightInfoBar($VerticalGap, $MaxSize, 50px, 14px);
  @include FlightStatus($VerticalGap, $MaxSize, 16px, 483px);
  @include FlightStatusBar($VerticalGap, 22px);
  @include FlightData($Column1, 5px, 12px, 95px);
  @include BottomSection($MaxSize, 350px, 13px);
  @include VerticalSpaces($VerticalGap);
}
 