@import "compass";

$MaxResolution: 1150px;
$MenuColor: #e5e5e5;
$ShadedColur: #ededed;
$MenuHiliteColor: #cacaca;
$MenuPadding: 5px;
$MenuSpaceFromRight: 12px;
$SelectedItemColor: #53a100;

$ReportHeadBackground: #474747;
$ReportBackgroundTranDuration: 100ms;
$TitleTextColor: #ff9b9b;
$MaxResolution: 1150px;
$VerticalGap: 12px;

$BreachColor: #fe0000;
$AlertColor: #f2a003;
$SafeColor: #53a100;
$FilterColor: #018aff;

@include font-face("FontAwesome", font-files( "../fonts/fontawesome-webfont.ttf", "../fonts/FontAwesome.otf", "../fonts/fontawesome-webfont.svg", "../fonts/fontawesome-webfont.eot", "../fonts/fontawesome-webfont.woff", "../fonts/fontawesome-webfont.woff2" ));
@include font-face("OpenSans", font-files( "../fonts/OpenSans.ttf", "../fonts/OpenSans.eot", "../fonts/OpenSans.svg", "../fonts/OpenSans.woff", "../fonts/OpenSans.woff2" ));
@include font-face("Gobold_Light", font-files( "../fonts/GoboldThinLight.ttf", "../fonts/GoboldThinLight.eot", "../fonts/GoboldThinLight.svg", "../fonts/GoboldThinLight.woff", "../fonts/GoboldThinLight.woff2" ));

@mixin MultiResolution($TotalWidth, $Gap, $FontSize: 1em) {
  width: $TotalWidth;
  font-size: $FontSize;

  div.column {
    margin-right: $Gap;

    div.column-content {
      width: 100%;
      padding: 0px 0px 0px 5px;
      box-sizing: border-box;
    }

    div.title {
      padding: 5px 0px 5px 5px;
      background-color: $ReportHeadBackground;
      margin: 0px;
      font-family: Gobold_Light;
      font-size: 12px;
      color: $MenuHiliteColor;

      div.button {
        float: right;
        display: inline-block;
        padding: 0px 8px 2px 8px;
        background-color: $MenuColor;
        color: black;
        margin-right: 10px;
        font-family: OpenSans;
        font-size: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $TitleTextColor
        }
      }

      div.info {
        display: inline-block;
        margin: 0px 10px 0px 10px;
        color: white;
      }
    }

    div.sub-title {
      padding: 5px 0px 5px 5px;
      background-color: $ShadedColur;
      border-bottom: 2px white solid;
      margin: 0px 0px 5px 0px;
      font-family: Gobold_Light;
      font-size: 10px;
    }

    &.NoVideo {
      div#FlightSummary {
        width:100%;
      }
    }
  }

  div.column-full {
    width: $TotalWidth;
  }

  div.column-half {
    $CalulatedWidth: (($TotalWidth - $Gap) / 2);
    width: $CalulatedWidth;

    div.column-2-of-6 {
      width: ($CalulatedWidth - $Gap) * 0.4;
    }

    div.column-4-of-6 {
      width: ($CalulatedWidth - $Gap) * 0.6;
    }


    div#FlightVideo {
      width: 240px;
      height: 160px;
      float: left;
      background-color: black;
    }

    div#FlightSummary {
      width: $CalulatedWidth - 240px;
      float: right;

      &.NoVideo {
        width: 100%;
        float: none;
        padding-top: 5px;

        div#GeneralInformation {
          table.infoTable td {
            width: 50%;

            & > div {
              line-height: 30px;
              float: left;
            }

            div.FlightSummaryImage {
              width: 30px !important;
              height: 30px !important;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  div.column-2-of-6 {
    width: ($TotalWidth - $Gap *5)/6 * 2 + ($Gap * 1);
  }

  div.column-4-of-6 {
    width: ($TotalWidth - $Gap*5)/6 * 4 + ($Gap * 3);
  }

  div.column-1-of-3 {
    width: ($TotalWidth - $Gap * 2)/3;
  }

  div.column-3 {
    $CalulatedWidth: (($TotalWidth - $Gap) / 3);
    width: $CalulatedWidth;

    div.column-2-of-6 {
      width: ($CalulatedWidth - $Gap) * 0.4;
    }

    div.column-4-of-6 {
      width: ($CalulatedWidth - $Gap) * 0.6;
    }


    div#FlightVideo {
      width: 240px;
      height: 140px;
      float: left;
      background-color: black;
    }

    div#FlightSummary {
      width: 100%;
      align-items: center;
      float: right;

      &.NoVideo {
        width: 100%;
        float: none;
        padding-top: 10px;
      }
    }
  }


  div.hr {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 2px;
  }

  div.fixed-height-1 {
    height: 165px;
  }

  .top-space,
  &.top-space {
    margin-top: $Gap;
  }

  div.two-column-form-group {
    div.form-group {
      width: 48%;
      float: left;
      @include clearfix();

      &:last-child {
        margin-left: 4%;
      }
    }
  }
}


@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

table {
  box-sizing: border-box;
}

span.refresh,
span.icon,
span.green_icon {
  font-family: FontAwesome;
  font-size: 12px;
  display: inline-block;
}

span.refresh {
  margin-left: $MenuPadding;
  cursor: pointer;


  &:hover {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
}

#flightmap {
  min-height: 510px;
}

input,
select,
textarea,
button,
file {
  box-sizing: border-box;
  border: 1px silver solid;
  font-family: OpenSans;
  color: $ReportHeadBackground;
  margin: 0px;
}

input,
select,
textarea,
button {
  padding: 2px 4px 2px 4px;
}

input[type=datetime] {
  background-image: url('../images/cal-icon.png');
  background-position: calc(100% - 4px) 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}

input.time-picker {
  background-image: url('../images/time-picker.png');
  background-position: calc(100% - 4px) 3px;
  background-repeat: no-repeat;
  background-size: 20px;
}

select {
  padding: 1px 4px 1px 4px;
}

div.label {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  background-color: white;
  border-radius: 10px;
  width: 30px;
}

h2 {
  font-family: Gobold_Light;
  color: $ReportHeadBackground;
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px $ReportHeadBackground solid;
}

a {
  text-decoration:none;
  color: #ff0000
}
a:hover {
  text-decoration:underline;
  color:black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input.spinner {
  width: 30px;
}

ul.simple-list {
  list-style: none;
  margin: 0px 0px 0px 5px;
  padding: 0px;

  li {
    margin: 0px;
    margin: 5px 0px 5px 0px;
  }

  input[type="checkbox"] {
    display: none;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;

    & + label {
      padding-left: 20px;
      background-image: url('/images/adsb-check-off.png');
      background-repeat: no-repeat;
      background-position: left center;
      height: 16px;
      display: block;
    }

    &:checked + label {
      background-image: url('/images/adsb-check-on.png');
    }
  }
}

ul.multi-select {
  margin: 10px 0px 5px 5px;
  padding: 0px;

  li {
    display: inline-block;
  }

  input[type="checkbox"] {
    display: none;

    & + label {
      margin: 0px 6px 3px 0px;
      padding: 0px 5px 0px 5px;
      border-radius: 6px;
      background-color: white;
    }

    &:checked + label {
      background-color: scale-saturation($SelectedItemColor,20);
      color: white;
    }

    & + label:hover {
      background-color: #87d534;
    }
  }
}


@mixin clearfix() {
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: OpenSans;
  color: #292929;
}

body {
  padding: 10px 30px 60px 30px;
  box-sizing: border-box;
  position: relative;
}

footer {
  border-top: 1px red solid;
  font-size: 8pt;
  padding: 3px 0px 10px 0px;
}

div.clearfix {
  @include clearfix;
}

.shaded {
  background-color: $ShadedColur;
}

header {
  font-size:11px;
  div.left-section {
    float: left;
  }

  div.right-section {
    float: right;
  }

  div.logo img {
    width: auto;
    height: 72px;
  }

  @include clearfix;
}

.ui-spinner-input {
  margin: 0px 16px 0px 3px;
}

nav {
  text-transform: uppercase;
}

nav.user-management,
nav.main-menu,
nav.breadcrumbs {
  ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      float: left;
      padding-right: $MenuPadding;
      padding-left: $MenuPadding;
      position: relative;

      &:last-child ul {
        left: auto !important;
        right: 0px !important;
      }


      ul {
        position: absolute;
        top: 14px;
        left: 0px;
        display: none;
        z-index: 10;

        li {
          padding-right: $MenuPadding;
          padding-left: $MenuPadding;
          padding-top: 5px;
          padding-bottom: 5px;
          box-sizing: border-box;
        }
      }



      &:hover {
        ul {
          display: block;
        }
      }

      a {
        text-decoration: none;
        color: #292929;
      }
    }
  }

  @include clearfix;
}

nav.user-management {
  ul {
    margin-right: $MenuSpaceFromRight;

    li {
      border-right: 1px black solid;

      &:last-child {
        border-right: 0px white none;
      }

      span.icon {
        display: inline-block;
      }

      &:hover span.icon {
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
      }

      &#user-menu:hover {
        background-color: $MenuHiliteColor;
      }

      ul {
        background-color: $MenuColor;
        min-width: 100%;
        margin-right: 0px;

        li {
          border-right: 0px white none;
          min-width: 100%;

          &:hover {
            background-color: $MenuHiliteColor;
          }
        }
      }
    }
  }
}

nav.main-menu {
  margin-top: 5px;

  ul {
    li {
      padding: 7px $MenuSpaceFromRight 6px $MenuSpaceFromRight;
      background-color: $MenuColor;

      a {
        display: block;
        width: 100%;
      }

      ul {
        top: 25px;
        background-color: $MenuHiliteColor;
        width: auto;

        li {
          min-width: 100%;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 5px $MenuSpaceFromRight 5px $MenuSpaceFromRight;
          background-color: $MenuHiliteColor;

          &:hover {
            background-color: $MenuColor;
          }
        }
      }

      &:last-child {
        padding-right: ($MenuSpaceFromRight + $MenuPadding);
      }

      &:hover {
        background-color: $MenuHiliteColor;
      }
    }
  }

  div.navigation-logo {
    float: left;
    margin-right: 10px;
    background-color: $MenuColor;

    img {
      height: 16px;
      width: auto;
      padding: 5px 10px 4px 10px
    }
  }
}

nav.breadcrumbs {
  margin-top: 5px;

  ul {
    li {
      padding: 0px 3px 0px 0px;

      &:after {
        display: inline-block;
        padding-left: 3px;
        content: ">";
      }

      &:last-child {
        color: red;
        padding-right: ($MenuSpaceFromRight);

        &:after {
          display: none;
          padding: 0px;
          content: "";
        }
      }
    }
  }
}



div.column-group,
table.info-tiles {
  @include clearfix;
}

section {
  margin: 0px auto 0px auto;
  @include clearfix;

  &.body-content {
    font-size: 11pt;
  }

  div.body-title {
    padding: 5px 0px 5px 5px;
    background-color: $ReportHeadBackground;
    color: white;
    margin: $VerticalGap 0px 0px 0px;
    font-family: Gobold_Light;
    font-size: 18px;
    color: $TitleTextColor;
  }

  div.column {
    box-sizing: border-box;
    float: left;

    &:last-child {
      border-right: 0px red none;
      margin-right: 0;
    }
  }

  div.column-half {
  }

  div.column-2-of-6 {
  }

  div.column-4-of-6 {
  }
}



@media screen and (min-width: 1200px) {
  section {
    @include MultiResolution(1150px,15px, 11pt);
  }

  footer {
    width: 1150px;
    margin: auto;
  }
}


div#Overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(85, 49, 5, 0.53);
  display: none;

  img {
    position: relative;
    $Dimension: 256px;
    width: $Dimension;
    height: $Dimension;
    margin-left: -1 * ($Dimension/2);
    margin-top: -1 * ($Dimension/2);
    left: 50%;
    top: 50%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
}

div.dataTables_wrapper {
  margin-top: $VerticalGap;
}

div.dataTables_head {
  @include clearfix;
  background-color: $ReportHeadBackground;
  padding: 5px;

  label {
    color: white;
  }

  span.refresh {
    color: white;
  }

  input {
    font-size: 8pt;
  }
}

table.report {
  thead {
    tr {
      th {
        padding: 4px 2px 4px 4px;
        font-weight: normal;
        text-align: left;
        border-left: 1px silver solid;
        border-bottom: 2px solid red;

        &:last-child {
          border-left: 0px silver none;
          border-right: 1px silver solid;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-left: 1px silver solid;
        padding: 4px 2px 4px 4px;
        -webkit-transition: background-color $ReportBackgroundTranDuration linear;
        -ms-transition: background-color $ReportBackgroundTranDuration linear;
        transition: background-color $ReportBackgroundTranDuration linear;

        &:last-child {
          border-right: 1px silver solid;
          border-left: 0px silver none;
        }

        &.menu {
          position: relative;
          width: 16px;

          img {
            display: none;
            visibility: hidden;
          }
        }
      }

      &.even {
        td {
          background-color: #f1f1f1;
        }
      }
    }

    tr:hover {
      td {
        -webkit-transition: background-color $ReportBackgroundTranDuration linear;
        -ms-transition: background-color $ReportBackgroundTranDuration linear;
        transition: background-color $ReportBackgroundTranDuration linear;
        background-color: $MenuColor;
      }
    }

    tr.active {
      td {
        -webkit-transition: background-color $ReportBackgroundTranDuration linear;
        -ms-transition: background-color $ReportBackgroundTranDuration linear;
        transition: background-color $ReportBackgroundTranDuration linear;
        background-color: $MenuHiliteColor;
      }
    }

    tr:hover, tr.active {
      td.menu {
        background-image: url('../images/menu-drop-down.png');
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
  }

  tfoot {
    tr {
      th {
        color: silver;
        padding: 4px 2px 4px 4px;
        font-weight: normal;
        text-align: left;
        border-left: 1px silver solid;
        border-bottom: 1px $ReportHeadBackground solid;
        border-top: 1px $ReportHeadBackground solid;

        &:last-child {
          border-left: 0px silver none;
          border-right: 1px silver solid;
        }
      }
    }
  }
}
//table.report

table.dataTable thead .sorting {
  background-image: none;
}

UL.qViewMenu {
  position: absolute;
  right: 0px;
  top: 28px;
  background-color: $MenuHiliteColor;
  list-style: none;
  margin: 0px;
  padding: 0px;
  z-index: 10;
  display: block;

  li:hover {
    background-color: $MenuColor;
  }

  li a {
    color: black;
    text-decoration: none;
    display: block;
    min-width: 120px;
    padding: 5px 10px 5px 10px;
  }
}

div.form-horizontal {
  border: 1px $ReportHeadBackground solid;
  margin: 0px auto 40px auto;
  @include border-bottom-left-radius(10px);
  @include border-bottom-right-radius(10px);
  padding: 30px;

  &.NoBorder {
    border: 0px red none !important;
    padding: 0px !important;
  }


  span.field-validation-error {
    display: block;
    color: red;
  }

  div.two-column-form-group {
    div.form-group {
      width: 48%;
      float: left;
      @include clearfix();

      &:last-child {
        margin-left: 4%;
      }
    }
  }

  div.editor-label {
    padding-bottom: 3px;
  }

  div.form-toolbar {
    padding: 20px 0px 0px 0px;
  }


  div.editor-field,
  div.form-group {
    width: 100%;
    margin-bottom: $VerticalGap;

    div.col-md-10 {
      width: 100%;
    }
  }

  select,
  input[type=text],
  input[type=file],
  input[type=datetime],
  input[type=number],
  input[type=password],
  textarea {
    width: 100%;
  }

  input,
  select,
  textarea,
  button {
    font-size: 11pt;
  }

  textarea {
    min-height: 150px;
  }

  input[type=submit] {
    padding: 3px 15px 3px 15px;
    color: $TitleTextColor;
    font-family: Gobold_Light;
    font-size: 12pt;
    text-transform: uppercase;
    background-color: $ReportHeadBackground;
    border: 1px silver outset;
  }
}


table.infoTable {
  width: 100%;

  tr {
    td {
      padding: 0px 5px 5px 0px;

      span {
        display: inline-block;
        padding-left: 0px;
        color: red;
      }
    }
  }
}

div#FlightInfoNOC {
  background-color: $MenuHiliteColor;
  padding: 4px 0px 4px 5px;
  margin-bottom: 5px;

  span {
    display: inline-block;
    padding-left: 0px;
    color: red;
  }
}

#FlightInformation {
  background-color: $MenuColor;
}

#FlightInformation,
#FlightSummary {
  @include clearfix();
}

#FlightInformation {
  table.FlightLastInformation {
    width: 100%;

    tr td {
      width: 50%;
      padding-bottom: 4px;
      text-transform: uppercase;
      font-size:8pt;
      span {
        font-size: 10pt;
        font-weight: bold;
        color: red;
      }
    }
  }
}

#FlightGraph,
#SecondGraph {
  width: 100%;
  height: 90px;
  background-color: white;
  margin-top: 5px;
}
#ThirdGraph {
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 5px;
  border-top:1px red solid;
  padding-top:5px;
}

#FlightData {
  $CalulatedWidth: (($MaxResolution - 15px) / 2);
  $PitchRoll: 70px;

  margin-top: 10px;
  font-size: 11px;

  div#FlightPichRoll {
    float: right;
    width: $PitchRoll;
    height: 125px;
    padding-top: 10px;

    div.MapDataHolder {
      width: $PitchRoll;
      height: 60px;
      display: block;
      position: relative;
      margin-bottom: 20px;

      div.info {
        position: absolute;
        bottom: 0px;
        width: $PitchRoll;
        background-color: rgba(255, 255, 255, 0.60);
        text-align: center;
      }
    }

    img {
      $ImgSize: 40px;

      &.MapDataShow {
        position: absolute;
        width: $ImgSize;
        padding: 0px 0px 0px 10px;
        height: $ImgSize;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        -webkit-transform: rotateX(30deg);
        transform: rotateX(30deg);
      }
    }
  }

  div#FlightDataInfo {
    $ImgWidth: $CalulatedWidth - $PitchRoll;
    width: $ImgWidth;
    float: left;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  ul.FlightDataRow {
    li {
      width: 40px;
      float: left;
      margin-right: 5px;
      padding: 2px 2px 2px 2px;
    }

    li.col8,
    li.col9 {
      width: 30px;
    }

    @include clearfix();
  }

  ul#FlightDataHeader {
    & > li {
      border-bottom: 2px red solid;
      background-color: $MenuColor;
    }
  }

  ul#FlightDataScroll {
    height: 125px;
    width: 100%;
    overflow-y: auto;
    border-bottom: 1px red solid;

    & > li {
      border-bottom: 1px $MenuColor solid;
    }
  }
}
div#RpasInformation {
  div.FlightSummaryImage {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: white;
    margin: auto;
  }

  table {
    margin-top: 5px;

    td {
      white-space: nowrap;
      text-align: center;

      a {
        text-decoration: none;
        border-bottom: 1px #292929 dotted;
        color: #292929;

        &:hover {
          border-bottom: 1px red dotted;
        }
      }
    }
  }
}

.dash-image {
  width: 30px;
  height: 30px;
  background-color: #565555;
  -webkit-mask-size: 30px 30px;
  display: block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  float: left;

  &.img_duration {
    -webkit-mask-image: url('/images/image5.png');
    mask-image: url('/images/image5.png');
  }

  &.img_altitude {
    background-color: rgb(219, 211, 1);
    -webkit-mask-image: url(/images/image7.png);
    mask-image: url(/images/image7.png);
  }

  &.img_speed {
    background-color: rgb(11, 144, 118);
    -webkit-mask-image: url(/images/image6.png);
    mask-image: url(/images/image6.png);
  }

  &.img_distance {
    -webkit-mask-image: url('/images/image12.png');
    mask-image: url('/images/image12.png');
  }
}

div.dashboard-column {
  background-color: $MenuColor;
  margin-bottom: 20px;

  div.fixed-height {
    height: 300px;
    padding: 10px;
    overflow: auto;

    div.SummaryImage {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-color: white;
      background-size: cover;
      margin: auto;
    }

    div.SummaryCaption {
      font-weight: bold;
      font-size: 12pt;
      text-align: center;
      margin: 5px 0px 10px 0px;
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px $MenuHiliteColor solid;


        div.icon {
          float: left;
          margin-right: 10px;

          img {
            width: 40px;
            height: auto;
          }
        }

        div.caption {
          font-weight: bold;
          a {
            text-decoration:none;
            color:$ReportHeadBackground;
            &:hover {
              color:red;
            }
          }
          .UniformWidth
          {
              width:200px;
          }
        }

        div.floating {
          float: right;
          padding: 1px 4px 1px 4px;
          border-radius: 3px;
          font-size: 8pt;
          color: white;

          &.Rejected {
            background-color: $BreachColor;
          }

          &.Amended {
            background-color: $AlertColor;
          }

          &.Approved {
            background-color: $SafeColor;
          }

          &.New {
            background-color: $FilterColor;
          }
        }
      }

      &.single-line {
        li {
          @include clearfix();
          margin: 0px 0px 5px 0px;
          padding: 0px 0px 5px 0px;

          div.caption,
          div.detail {
            float: left;
          }

          div.detail {
            margin-left: 5px;
            color: red;
          }
        }
      }
    }
  }

  div.toolbar {
    height: 20px;
    padding: 0px 0px 10px 0px;

    div.button {
      float: right;
      margin: 0px 10px 0px 0px;
      border: 1px $MenuHiliteColor solid;
      background-color: white;
      border-radius: 5px;
      padding: 2px 15px 4px 15px;
      cursor: pointer;
      color: black;

      span.icon {
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 5px;
        background-color: $SafeColor;
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        box-sizing: border-box;
      }

      &:hover {
        background-color: $ReportHeadBackground;
        color: white;
      }
    }
  }
}

#loginForm {
  input[type=text],
  input[type=password] {
    width: 60%;
  }
}

table.qDetailView {
  width: 100%;

  tr {
    td {
      padding: 3px 15px 3px 0px;
      border-bottom: 1px $MenuColor solid;

      span.value {
        padding-left: 15px;
        color: red;
      }
    }
  }
}


div.photo-upload {
  float: right;
  width: 160px;
  height: 160px;

  div.user-photo  {
    img {
      width:160px;
      height:auto;
    }
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow:hidden;

  }
}

div.GraphSection {
  $Seperation: 7px;
  $TableWidth: (($MaxResolution - 10px) / 2);
  margin-top:10px;
  table {
    width: $TableWidth;
    height: 100px;

    tr {
      td.Graph {
        width: ($TableWidth - $Seperation)/2;
      }

      td.GraphDivider {
        width: $Seperation;

        & > div {
          margin: 0px ($Seperation - 1px)/2 0px ($Seperation - 1px)/2;
          width: 1px;
          background-color: red;
          height: 100px;
          display:block;
        }
      }
    }
  }
}

div#Legend {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      float: left;
      margin-right: 65px;

      &:last-child {
        margin-right: 0px;
      }

      span {
        margin-right: 5px;
        display: inline-block;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: black;

        &.pitch {
          background-color: rgba(255, 89, 0,1)
        }

        &.altitude {
          background-color: rgb(219, 211, 1);
        }

        &.satallite {
          background-color: rgba(101, 186, 25,1)
        }

        &.speed {
          background-color: rgb(11, 144, 118)
        }

        &.roll {
          background-color: rgb(153, 131, 199)
        }
      }
    }
  }

  @include clearfix();
}

div.adsb-point {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;

  canvas {
    width: 100px;
    height: 100px;
    position:absolute;
    z-index:0;
  }

  span.tail {
    position: absolute;
    background-color: aquamarine;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    border-radius: 50%;
    display: block;
    font-size: 1px;
  }

  span.FlightIcon,
  span.DroneIcon {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    margin-left: -13px;
    margin-top: -13px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  span.DroneIcon {
  }

  span.flight-title {
    position: absolute;
    top: 60px;
    left: 40px;
    z-index: 10;
    color: white;
    display: none;
    padding: 0px 2px 0px 2px;
    font-size: 9px;
  }


  &:hover {
    span.flight-title {
      display: block;
    }
  }

  &.breach {
    color: $BreachColor;

    span.flight-title,
    span.tail {
      background-color: $BreachColor;
    }
  }

  &.alert {
    color: #ff4e00;

    span.flight-title,
    span.tail {
      background-color: $AlertColor;
    }
  }

  &.safe {
    color: #0189ff;

    span.flight-title,
    span.tail {
      background-color: $SafeColor;
    }
  }

  &.normal {
    color: #ffcc01;

    span.flight-title,
    span.tail {
      background-color: #ffcc01;
    }
  }

  &.drone {
    color: #018aff;

    span.flight-title,
    span.tail {
      background-color: #018aff;
    }

    &.breach {
      span.flight-title,
      span.tail {
        background-color: red;
      }
    }

    &.alert {
      span.flight-title,
      span.tail {
        background-color: #ff4e00;
      }
    }
  }

  &.breach,
  &.alert,
  &.safe {
  }
}


  #ShowUserDescription {
    & > span {
      font-weight: bold;
    }

    #UserDescription {
      position: absolute;
      display: none;
      white-space: nowrap;
      border: 1px #222222 solid;
      background-color: $MenuColor;
      padding: 10px;
      @include box-shadow(#222222 1px 1px 10px);

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        float:left;
        &:first-child {
          margin-right:10px;
        }
        li {
          list-style: none;
          padding: 0px 0px 4px 0px;

          span {
            color: red;
            padding-left: 5px;
          }
          &:first-child {
            font-weight:bold;
            border-bottom:1px red solid;
            margin-bottom:5px;
          }
        }
      }
    }

    &:hover {
      #UserDescription {
        display: block;
      }
    }
  }

  div.upload-btn {
    position: relative;
    margin-top: 10px;

    a {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 30px;
      background-color: $ReportHeadBackground;
      z-index: 11;
      border-radius: 5px;
      color: $TitleTextColor;
      text-align: center;
      text-decoration: none;
      padding: 3px 0px 0px 0px;
      cursor: pointer;
      line-height: 30px;
      font-size: 11pt;
    }

    input[type=file] {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 30px;
      width: 100%;
      opacity: 0;
      z-index: 12;
      cursor: pointer;
    }
  }

  div.error {
    color: red;
  }


#DroneIcon {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left:-12px;
  margin-top:-12px;
  background-image: url('/images/Drone.png');
}

div.InfoWindow {
    b {
        color: red;
    }

    span.value, span.feet {
        color: #ff5900;
        padding-left: 10px;
    }

    span.caption {
        width:120px;
        display:inline-block;
    }

    span.meter {
        color: forestgreen;
        padding-left: 10px;
    }

    div.hr {
        font-size: 1px;
        height: 1px;
        width: 100%;
        background-color: silver;
        margin: 3px 0px 3px 0px;
    }
}

div.show{
    display:inline-block;
}

div.hide{
    display:none;
}

ul.prifle_menu {
  list-style: none;
  margin: 0px;
  padding: 0px;

  & > ul {
    margin-left: 50px;
  }

  & > li {
    margin: 5px 0px 0px 0px;
    cursor: pointer;

    &:hover {
      color: $SelectedItemColor;
    }

    span.permission {
      padding-left: 10px;
      color: $TitleTextColor;
    }

    span.icon {
      display: none;

      &.on {
        color: $SafeColor;
      }

      &.off {
        color: $BreachColor;
      }
    }

    &.profile_menu_row {
      &.on {
        span.icon.on {
          display: inline-block;
        }
      }

      &.off {
        span.icon.off {
          display: inline-block;
        }
      }
    }
  }
}

