@import "compass";
@import "_mixin.scss";
@import "_colors.scss";

// first we set the variables:
$BaseColor: gray;
$HiliteColor: red;
$SparkColor: rgba(234, 5, 14,0.6);

@include font-face(Weather, /fonts/weathericons-regular-webfont);

@import "dashboard.scss";

#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  color: white;
  padding: 8px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  background-color: black;
  white-space: nowrap;
  z-index: 999;
  line-height: 20px;

  span.box {
    display: inline-block;
    width: 16px;
  }
}

td.spacer {
  width: 20px;
}


div.weather {
  text-align: left;
  font-size: 10pt;

  span.icon {
    font-family: Weather;
    color: silver;

    &.big {
      font-size: 35px;
    }

    &.small {
      font-size: 25px;
    }

    &.tiny {
      font-size: 15px;
    }
  }

  .condition {
    span.icon {
      color: #ea050e;
      font-size: 60px;
    }

    color: #ea050e;
    font-weight: bold;
  }

  span.caption {
    font-size: 8pt;
  }

  span.text {
    &.big {
      font-size: 40px;
    }
  }
}

ul#forecast {
  margin: 0px;
  padding: 0px;
  list-style: none;

  li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    margin: 0px 15px 0px 0px;

    span.icon {
      color: #F58387;
    }

    .status {
      font-size: 8pt;
      color: red;
    }
  }
}



div.ChartDev h4 {
  color: rgba(234, 5, 14, 0.6);
  margin: 10px 5px 0px 90px;
  padding: 0px;
  font-size: 12pt;
}


.chart-legend li span {
  display: inline-block;
  height: 12px;
  margin-right: -10px;
  margin-left: 20px;
}

div.weather div.Temperature {
  font-size: 40px;
  font-family: Conv_DINNextLTPro-LightCondensed,Arial;
  color: #ea050e;
}

#forecast div.temp {
  color: orange;
}

#forecast div.status {
  color: red;
}

#forecast div.date {
  color: black;
}


.Pichart {
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 0, 0, 0.2);
  margin-top: 10px;

  div.ChartDev {
    width: 25%;
  }

  ul.pie-legend {
    margin: 20px 20px 0px 0px;
    padding: 0px;
    list-style: none;

    li {
      margin: 20px 20px 0px 0px;
      padding: 0px;
      line-height: 30px;

      span {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 20px;
      }
    }
  }
}



div.AlertSum {
  text-align: center;
  color: gray;

  span {
    color: red;
  }
}


