$BreachColor: #fe0000;
$AlertColor: #f2a003;
$SafeColor: #53a100;
$FilterColor: #018aff;

table.noc_table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0px;

  td {
    padding-right: 10px;
    white-space: nowrap;

    &:last-child {
      padding-right: 0px;
    }

    &.colgap {
      width: 30px;
    }

    input.date-picker {
      width: 120px;
    }

    input.time-picker {
      width: 80px;
      cursor: pointer
    }

    input.altitude {
      width: 80px;
    }

    input[type=radio] {
      margin-right: 5px
    }

    label {
      margin-right: 10px;
    }
  }
}

section div.column div.title div.button {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(192, 192, 192, 0.50);

  span.icon {
    margin-right: 3px;
    color: rgba(192, 192, 192, 0.50);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.70);
    color: black;

    span.icon {
      color: black;

      &.delete {
        color: #c30707;
      }

      &.add {
        color: #199800;
      }

      &.gps {
        color: #1845d7;
      }
    }
  }
}

#GoogleMap {
  width: 100%;
  height: 400px;
}

table.GoogleMapTable {
  width: 100%;
}

div.GoogleMapCoordinatesScroll {
  height: 400px;
  overflow: auto;
}

ul#NocSections {
  list-style: none;
  margin: 0px;
  padding: 0px;

  li {
    list-style: none;

    &.active div.title {
      background-color: darkgreen;
    }
  }
}

table.GoogleMapCoordinates {
  border-collapse: collapse;
  width: 100%;

  tr {
    span.icon {
      color: silver;
      cursor:pointer;
    }

    &:hover {
      span.icon {
        color: black;
      }
    }
  }

  th, td {
    padding: 2px 0px 2px 5px;

    input[type=text] {
      width: 100%;
    }
  }

  th {
    background-color: darkgreen;
    margin: 0px;
    font-family: Gobold_Light;
    font-size: 12px;
    color: #cacaca;
  }

  td {
    div.button {
      background-color: #474747;
      display: block;
      float: right;
      padding: 2px 10px 2px 10px;
      font-size: 10px;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      margin-left:5px;
        
      &:hover {
        background-color: darkgreen;
      }
    }


    span.icon {
      &.delete:hover {
        color: #c30707;
      }

      &.add:hover {
        color: #199800;
      }
    }
  }
}

.field-value {
  color: $SafeColor;
  padding-left:20px;
}
.field-info {
  color: $AlertColor;
  padding-left: 20px;
}
section.top-border {
  border-top: 3px solid #474747;
  padding-top: 10px;
  margin-top:0px !important;
  ul.noc-info {
    margin:0px;
    padding:0px;
    list-style:none;
    li {
      margin:0px 0px 10px 0px;
      padding:0px 0px 10px 0px;
      border-bottom:1px solid silver
    }
  }
}

#cesiumContainer  {
  position:relative;
}

#ToolBarSelect {
  background-color: #1d1c1c;
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:12px;

  option {
    background-color: #1d1c1c;
  }
}

div.cesium-viewer-bottom {
  display:none !important;
}

div#NocBillingTotalSection {
  padding: 0px 5px 5px 5px;
  font-family: Gobold_Light;
  border-bottom:2px $FilterColor solid;
  margin-bottom:5px;

  div.item-left {
    float: left;
    color: $AlertColor;
    font-size: 16px;
  }

  div.item-right {
    float: right;
    color: $FilterColor;
    font-size: 26px;
  }
}

ul#NocBillingItem {
  margin: 0px;
  padding: 0px 5px 0px 5px;
  list-style: none;

  li {
    div.NocBillingItemAmount {
      float: right;
      color: $SafeColor;
      font-size: 18px;
      font-family: Gobold_Light;
    }

    list-style: none;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px $SafeColor solid;
  }
}