@import "exPortal_V3_Common";

$BreachColor: #fe0000;
$AlertColor: #f2a003;
$SafeColor: #53a100;
$FilterColor: #018aff;

div.noc-header {
  div.noc-status {
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      float: right;

      li {
        margin: 0px 0px 0px 10px;
        display: inline-block;
        padding: 3px 10px 3px 10px;
        border-radius: 5px;
        color: white;
        font-size: 8pt;
        min-width:50px;
        text-align:center;

        &.New {
          background-color: $FilterColor;
        }

        &.Approved {
          background-color: $SafeColor;
        }

        &.Rejected {
          background-color: $BreachColor;
        }

        &.Amended {
          background-color: $AlertColor;
        }

        &.button {
          background-color: #474747;
          font-weight: bold;
          cursor: pointer;
          padding: 10px;

          span.icon {
            padding-right: 10px;
            color: $SafeColor
          }

          &:hover {
            background-color: $SafeColor;

            span.icon {
              color: $BreachColor;
            }
          }
        }
      }
    }
  }

  div.title {
    font-family:advent;
    font-size: 18pt;
    font-weight: bold;
  }

  div.sub-title {
    font-size: 12pt;
  }

  div.sub-sub-title {
    font-size: 10pt;
  }
}



section.noc-detail {
  border-bottom: 1px solid silver;
}

div.map_layer {
  width:100%;
  height:300px;
}

ul.noc-actions {
  list-style: none;
}

div.noc-actions {
  margin-top:10px;
  input {
    display: none;
  }

  label {
    cursor: pointer;
    border: 1px silver solid;
    border-radius: 5px;
    padding: 0px 10px 4px 10px;
    color: black;
  }

  input:checked + label.Approved,
  label.Approved:hover {
    background-color: $SafeColor;
    color: white;
  }

  input:checked + label.Amended,
  label.Amended:hover {
    background-color: $AlertColor;
    color: white;
  }

  input:checked + label.Rejected,
  label.Rejected:hover {
    background-color: $BreachColor;
    color: white;
  }
}

div.slider {
  width:250px;
  margin-left:10px;
  margin-right:10px;
}

span.noc-status {

}

span.noc-status {
  margin: 0px 0px 0px 10px;
  display: inline-block;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  color: white;
  font-size: 8pt;

  &.New {
    background-color: $FilterColor;
  }

  &.Approved {
    background-color: $SafeColor;
  }

  &.Rejected {
    background-color: $BreachColor;
  }

  &.Amended {
    background-color: $AlertColor;
  }
}



div.noc-detail-header {
  margin-bottom:10px;
}
div.noc-drone-info {
  div.QRCode {
    float: right;
    margin-bottom: 5px;
  }

  div.DroneGroup {
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  div.info-title {
    font-size: 14pt;
    font-family: advent;
    font-weight: bold;
  }

  div.info-sub-title {
    color: #797979;
  }
}

div.noc-pilot-info {
  div.pilot-image {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px silver solid;
    background-size: cover;
    margin-bottom: 5px;
  }

  div.info-title {
    font-size: 14pt;
    font-family: advent;
    font-weight: bold;
  }

  div.info-sub-title {
    color: #797979;
  }
}

section#noc-sections {
  $Height: 400px;
  $Width: 1150px;
  $Left: 150px;
  $ColWidth: $Width - $Left;

  div#section-left,
  div#section-right {
    float: left;
    box-sizing: border-box;
  }

  div#section-left {
    height: $Height;
    width: $Left;
    overflow: auto;

    ul {
      margin: 0px;
      padding: 0px;

      li {
        padding: 5px 10px 5px 10px;
        margin-bottom: 5px;
        background-color: white;
        cursor: pointer;
        border-bottom: 1px $MenuHiliteColor solid;
        box-sizing: border-box;

        &:hover {
          background-color: $MenuHiliteColor;
        }

        &.active {
          background-color: $MenuColor;
        }
      }
    }
  }

  $Padding: 10px;

  div#section-right {
    width: $ColWidth;

    div#content {
      margin-right: $Padding - 2px;
      padding: $Padding;
      background-color: $MenuColor;
    }

    div#content, div#GoogleMap, div#cesiumContainer {
      width: ($ColWidth - $Padding )/2;
      height: ($Height - $Padding * 2);
      float: left;
      box-sizing: border-box;
    }
  }
}