/* line 19, ../sass/Agriculture.scss */
input.date-picker {
  background-image: url("../images/cal-icon.png");
  background-position: calc(100% - 5px) 1px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 26, ../sass/Agriculture.scss */
div.title-bar {
  background-color: #474747;
  color: #ffb400;
  font-size: 10pt;
  padding: 5px 10px 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
/* line 34, ../sass/Agriculture.scss */
div.title-bar span.button {
  display: block;
  float: right;
  font-size: 7pt;
  padding: 1px 5px 1px 5px;
  border: 1px #ffb400 solid;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
/* line 44, ../sass/Agriculture.scss */
div.title-bar span.button a {
  text-decoration: none;
  color: #ffb400;
}
/* line 49, ../sass/Agriculture.scss */
div.title-bar span.button:hover {
  background-color: #ffb400;
  color: white;
}
/* line 53, ../sass/Agriculture.scss */
div.title-bar span.button:hover a {
  color: white;
}

/* line 60, ../sass/Agriculture.scss */
table#SearchTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  margin-bottom: 10px;
}
/* line 67, ../sass/Agriculture.scss */
table#SearchTable tr td {
  padding: 5px 5px 0px 0px;
  font-size: 7pt;
  white-space: nowrap;
}
/* line 72, ../sass/Agriculture.scss */
table#SearchTable tr td table tr td {
  padding: 0px 5px 0px 0px;
}
/* line 76, ../sass/Agriculture.scss */
table#SearchTable tr td input[type="text"],
table#SearchTable tr td select {
  width: 100%;
  padding: 2px 5px 2px 5px;
  box-sizing: border-box;
  margin: 0px;
  border-radius: 5px;
  border: 1px silver solid;
  color: #2b821a;
  font-family: OpenSans;
}
/* line 88, ../sass/Agriculture.scss */
table#SearchTable tr td:last-child {
  padding: 5px 0px 0px 0px;
}
/* line 92, ../sass/Agriculture.scss */
table#SearchTable tr td.button {
  text-align: right;
}
/* line 95, ../sass/Agriculture.scss */
table#SearchTable tr td.button input {
  padding: 5px 10px 5px 10px;
  background-color: #474747;
  color: #ffb400;
  border: 1px black solid;
  border-radius: 5px;
}

/* line 107, ../sass/Agriculture.scss */
table.report {
  width: 100%;
}
/* line 110, ../sass/Agriculture.scss */
table.report thead, table.report tbody {
  width: 100%;
}
/* line 113, ../sass/Agriculture.scss */
table.report thead tr, table.report tbody tr {
  width: 100%;
}
/* line 116, ../sass/Agriculture.scss */
table.report thead tr td, table.report tbody tr td {
  background-color: white;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  cursor: pointer;
}
/* line 124, ../sass/Agriculture.scss */
table.report thead tr td span.btnAssignCustomer,
table.report thead tr td span.btnSelectRow, table.report tbody tr td span.btnAssignCustomer,
table.report tbody tr td span.btnSelectRow {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 6pt;
  text-transform: capitalize;
  background-color: #474747;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  color: #ffb400;
  visibility: hidden;
}
/* line 135, ../sass/Agriculture.scss */
table.report thead tr td span.btnAssignCustomer:hover,
table.report thead tr td span.btnSelectRow:hover, table.report tbody tr td span.btnAssignCustomer:hover,
table.report tbody tr td span.btnSelectRow:hover {
  color: white;
}
/* line 140, ../sass/Agriculture.scss */
table.report thead tr td span.btnAssignCustomer, table.report tbody tr td span.btnAssignCustomer {
  display: none;
}
/* line 145, ../sass/Agriculture.scss */
table.report thead tr.selected td, table.report thead tr.selected:hover td, table.report tbody tr.selected td, table.report tbody tr.selected:hover td {
  background-color: #378927;
}
/* line 149, ../sass/Agriculture.scss */
table.report thead tr.selected td span.btnAssignCustomer, table.report thead tr.selected:hover td span.btnAssignCustomer, table.report tbody tr.selected td span.btnAssignCustomer, table.report tbody tr.selected:hover td span.btnAssignCustomer {
  display: inline-block;
  visibility: visible;
}
/* line 154, ../sass/Agriculture.scss */
table.report thead tr.selected td span.btnSelectRow, table.report thead tr.selected:hover td span.btnSelectRow, table.report tbody tr.selected td span.btnSelectRow, table.report tbody tr.selected:hover td span.btnSelectRow {
  display: none;
}
/* line 159, ../sass/Agriculture.scss */
table.report thead tr:hover td, table.report tbody tr:hover td {
  background-color: #bde3b6;
}
/* line 162, ../sass/Agriculture.scss */
table.report thead tr:hover td span.btnSelectRow, table.report tbody tr:hover td span.btnSelectRow {
  visibility: visible;
}
/* line 168, ../sass/Agriculture.scss */
table.report thead td, table.report thead th, table.report tbody td, table.report tbody th {
  text-align: left;
  padding: 2px 5px 2px 0px;
}
/* line 173, ../sass/Agriculture.scss */
table.report thead th, table.report tbody th {
  border-bottom: 2px #ffb400 solid;
}
/* line 177, ../sass/Agriculture.scss */
table.report thead td, table.report tbody td {
  border-bottom: 1px #bde3b6 solid;
}

/* line 183, ../sass/Agriculture.scss */
div.map-point,
div.map-location-point {
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 2px;
  font-family: Arial;
  font-size: 10px;
  cursor: pointer;
  margin: -13px 0px 0px -13px;
}

/* line 199, ../sass/Agriculture.scss */
div.map-location-point {
  border: 5px rgba(0, 0, 0, 0.62) solid;
  background-color: #ffb400;
}
/* line 203, ../sass/Agriculture.scss */
div.map-location-point div.image {
  position: absolute;
  width: 80px;
  height: 60px;
  left: -74px;
  top: -54px;
  border: 1px rgba(0, 0, 0, 0.62) solid;
  display: none;
  background-size: contain;
  background-position: center center;
  background-color: black;
  z-index: 99;
}
/* line 217, ../sass/Agriculture.scss */
div.map-location-point:hover div.image {
  display: block;
}

/* line 222, ../sass/Agriculture.scss */
div.map-point {
  border: 5px #ffb400 solid;
  background-color: #2b821a;
}

/* line 227, ../sass/Agriculture.scss */
div.row {
  padding-bottom: 5px;
  min-width: 200px;
}
/* line 231, ../sass/Agriculture.scss */
div.row span.label {
  color: #ffb400;
}
/* line 235, ../sass/Agriculture.scss */
div.row span.value {
  color: #2b821a;
}
/* line 239, ../sass/Agriculture.scss */
div.row span.button {
  color: #2b821a;
  border: 1px #2b821a solid;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 7pt;
}
/* line 248, ../sass/Agriculture.scss */
div.row span.button:hover {
  background-color: #2b821a;
  color: white;
}

/* line 256, ../sass/Agriculture.scss */
#qViewDataTable div.dataTables_wrapper {
  padding-bottom: 0px;
}

/* line 261, ../sass/Agriculture.scss */
#qViewDataDetails {
  margin-top: 10px;
}
/* line 264, ../sass/Agriculture.scss */
#qViewDataDetails div#DataImagesSection,
#qViewDataDetails div#DataSection {
  float: left;
  min-height: 270px;
}
/* line 270, ../sass/Agriculture.scss */
#qViewDataDetails div#DataImagesSection {
  margin-right: 20px;
  width: 270px;
}
/* line 274, ../sass/Agriculture.scss */
#qViewDataDetails div#DataImagesSection div#DataImage {
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 170px;
  overflow: hidden;
  line-height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bde3b6;
  border: 2px #ffb400 solid;
  transition: background-image 0.2s linear;
  -moz-transition: background-image 0.2s linear;
  -webkit-transition: background-image 0.2s linear;
  -ms-transition: background-image 0.2s linear;
}
/* line 291, ../sass/Agriculture.scss */
#qViewDataDetails div#DataImagesSection ul#DataImageThumbnail li:nth-child(4n) {
  margin-right: 0px;
}
/* line 296, ../sass/Agriculture.scss */
#qViewDataDetails div#DataSection {
  width: 275px;
}

/* line 303, ../sass/Agriculture.scss */
table.general-table td {
  padding: 0px 5px 4px 0px;
}
/* line 306, ../sass/Agriculture.scss */
table.general-table td:last-child {
  padding: 0px 0px 3px 0px;
}

/* line 312, ../sass/Agriculture.scss */
ul#BulkImages {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 317, ../sass/Agriculture.scss */
ul#BulkImages li {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
/* line 322, ../sass/Agriculture.scss */
ul#BulkImages li div.group-title {
  padding: 3px 0px 3px 10px;
  background-color: #ffb400;
}
/* line 327, ../sass/Agriculture.scss */
ul#BulkImages li ul {
  margin-top: 10px !important;
}

/* line 333, ../sass/Agriculture.scss */
ul#DataImageThumbnail,
ul#DataImageThumbnail li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 340, ../sass/Agriculture.scss */
ul#OtherDocuments,
ul#DataImageThumbnailGroup,
ul#BulkImages li ul,
ul#DataImageThumbnail li ul {
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
/* line 348, ../sass/Agriculture.scss */
ul#OtherDocuments li,
ul#DataImageThumbnailGroup li,
ul#BulkImages li ul li,
ul#DataImageThumbnail li ul li {
  position: relative;
  float: left;
  border: 2px #ffb400 solid;
  width: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bde3b6;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 362, ../sass/Agriculture.scss */
ul#OtherDocuments li span.delete,
ul#DataImageThumbnailGroup li span.delete,
ul#BulkImages li ul li span.delete,
ul#DataImageThumbnail li ul li span.delete {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: #474747;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 12px;
  font-weight: bold;
  display: none;
  font-size: 6px;
}
/* line 377, ../sass/Agriculture.scss */
ul#OtherDocuments li span.delete:hover,
ul#DataImageThumbnailGroup li span.delete:hover,
ul#BulkImages li ul li span.delete:hover,
ul#DataImageThumbnail li ul li span.delete:hover {
  background-color: #ffb400;
}
/* line 382, ../sass/Agriculture.scss */
ul#OtherDocuments li span.label,
ul#DataImageThumbnailGroup li span.label,
ul#BulkImages li ul li span.label,
ul#DataImageThumbnail li ul li span.label {
  background-color: #ffb400;
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  font-size: 8px;
  color: black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* line 398, ../sass/Agriculture.scss */
ul#OtherDocuments li span.title,
ul#DataImageThumbnailGroup li span.title,
ul#BulkImages li ul li span.title,
ul#DataImageThumbnail li ul li span.title {
  min-width: 56px;
  background-color: #474747;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  text-align: left;
  padding: 1px 2px 1px 2px;
  font-size: 8px;
  box-sizing: border-box;
  display: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* line 413, ../sass/Agriculture.scss */
ul#OtherDocuments li:last-child,
ul#DataImageThumbnailGroup li:last-child,
ul#BulkImages li ul li:last-child,
ul#DataImageThumbnail li ul li:last-child {
  margin-right: 0px;
}
/* line 417, ../sass/Agriculture.scss */
ul#OtherDocuments li.active, ul#OtherDocuments li:hover,
ul#DataImageThumbnailGroup li.active,
ul#DataImageThumbnailGroup li:hover,
ul#BulkImages li ul li.active,
ul#BulkImages li ul li:hover,
ul#DataImageThumbnail li ul li.active,
ul#DataImageThumbnail li ul li:hover {
  border-color: #2b821a;
}
/* line 421, ../sass/Agriculture.scss */
ul#OtherDocuments li.active span.delete, ul#OtherDocuments li:hover span.delete,
ul#DataImageThumbnailGroup li.active span.delete,
ul#DataImageThumbnailGroup li:hover span.delete,
ul#BulkImages li ul li.active span.delete,
ul#BulkImages li ul li:hover span.delete,
ul#DataImageThumbnail li ul li.active span.delete,
ul#DataImageThumbnail li ul li:hover span.delete {
  display: block;
}
/* line 425, ../sass/Agriculture.scss */
ul#OtherDocuments li.active span.label, ul#OtherDocuments li:hover span.label,
ul#DataImageThumbnailGroup li.active span.label,
ul#DataImageThumbnailGroup li:hover span.label,
ul#BulkImages li ul li.active span.label,
ul#BulkImages li ul li:hover span.label,
ul#DataImageThumbnail li ul li.active span.label,
ul#DataImageThumbnail li ul li:hover span.label {
  display: none;
}
/* line 429, ../sass/Agriculture.scss */
ul#OtherDocuments li.active span.title, ul#OtherDocuments li:hover span.title,
ul#DataImageThumbnailGroup li.active span.title,
ul#DataImageThumbnailGroup li:hover span.title,
ul#BulkImages li ul li.active span.title,
ul#BulkImages li ul li:hover span.title,
ul#DataImageThumbnail li ul li.active span.title,
ul#DataImageThumbnail li ul li:hover span.title {
  display: block;
}
/* line 12, ../sass/Agriculture.scss */
ul#OtherDocuments:after,
ul#DataImageThumbnailGroup:after,
ul#BulkImages li ul:after,
ul#DataImageThumbnail li ul:after {
  clear: both;
  display: block;
  content: "";
}

/* line 440, ../sass/Agriculture.scss */
div.form-group {
  width: 100%;
  padding: 5px 0px 2px 0px;
}
/* line 445, ../sass/Agriculture.scss */
div.form-group input[type="submit"] {
  padding: 5px 15px 5px 15px;
  background-color: #474747;
  color: #ffb400;
  border: 0px white none;
  border-radius: 5px;
  margin-right: 25px;
}
/* line 453, ../sass/Agriculture.scss */
div.form-group input[type="submit"]:hover {
  color: #474747;
  background-color: #ffb400;
}
/* line 459, ../sass/Agriculture.scss */
div.form-group label.control-label {
  width: 25%;
  float: left;
  padding-top: 5px;
}
/* line 465, ../sass/Agriculture.scss */
div.form-group div.col-md-10 {
  float: right;
  width: 75%;
}
/* line 470, ../sass/Agriculture.scss */
div.form-group div.col-md-5 {
  float: left;
  width: 36%;
}
/* line 474, ../sass/Agriculture.scss */
div.form-group div.col-md-5:last-child {
  margin-left: 3%;
}
/* line 481, ../sass/Agriculture.scss */
div.form-group div.col-md-10 input[type="text"],
div.form-group div.col-md-10 input[type="datetime"],
div.form-group div.col-md-10 input[type="number"],
div.form-group div.col-md-10 textarea,
div.form-group div.col-md-10 select,
div.form-group div.col-md-5 input[type="text"],
div.form-group div.col-md-5 input[type="datetime"],
div.form-group div.col-md-5 input[type="number"],
div.form-group div.col-md-5 textarea,
div.form-group div.col-md-5 select {
  box-sizing: border-box;
  margin: 0px;
  padding: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #474747;
  border: 1px silver solid;
}
/* line 494, ../sass/Agriculture.scss */
div.form-group div.col-md-10 input[type="text"],
div.form-group div.col-md-10 textarea,
div.form-group div.col-md-10 select,
div.form-group div.col-md-5 input[type="text"],
div.form-group div.col-md-5 textarea,
div.form-group div.col-md-5 select {
  width: 100%;
}
/* line 500, ../sass/Agriculture.scss */
div.form-group div.col-md-10 input[type="datetime"],
div.form-group div.col-md-10 input[type="number"],
div.form-group div.col-md-5 input[type="datetime"],
div.form-group div.col-md-5 input[type="number"] {
  width: 48%;
}
/* line 506, ../sass/Agriculture.scss */
div.form-group span.text-danger {
  color: #ffb400;
  display: block;
}
/* line 511, ../sass/Agriculture.scss */
div.form-group:after {
  content: "";
  display: block;
  clear: both;
}

/* line 520, ../sass/Agriculture.scss */
div.form-group-row {
  width: 100%;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px silver solid;
}
/* line 526, ../sass/Agriculture.scss */
div.form-group-row label.control-label {
  width: 25%;
  float: left;
}
/* line 531, ../sass/Agriculture.scss */
div.form-group-row div.col-md-10 {
  float: right;
  width: 75%;
}
/* line 536, ../sass/Agriculture.scss */
div.form-group-row input[type="submit"] {
  padding: 5px 15px 5px 15px;
  background-color: #474747;
  color: #ffb400;
  border: 0px white none;
  border-radius: 5px;
}
/* line 543, ../sass/Agriculture.scss */
div.form-group-row input[type="submit"]:hover {
  color: #474747;
  background-color: #ffb400;
}
/* line 550, ../sass/Agriculture.scss */
div.form-group-row:after {
  content: "";
  display: block;
  clear: both;
}

/* line 557, ../sass/Agriculture.scss */
div.internal-scroll {
  overflow: auto;
  height: 430px;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

/* line 566, ../sass/Agriculture.scss */
#AgricultureMap {
  min-height: 460px;
}

/* line 570, ../sass/Agriculture.scss */
ul#ValidationError {
  margin: 0px;
  padding: 0px;
}
/* line 574, ../sass/Agriculture.scss */
ul#ValidationError LI {
  color: #ffb400;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

/* line 582, ../sass/Agriculture.scss */
ul#FileUploaded {
  margin: 0px;
  padding: 0px;
}

/* line 587, ../sass/Agriculture.scss */
ul#FileQueue {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 592, ../sass/Agriculture.scss */
ul#FileQueue li {
  list-style: none;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px silver solid;
}
/* line 597, ../sass/Agriculture.scss */
ul#FileQueue li > div > span {
  color: red;
}

/* line 603, ../sass/Agriculture.scss */
#FirstSection {
  position: relative;
}

/* line 607, ../sass/Agriculture.scss */
#BulkUploadSearch {
  position: absolute;
  width: 100%;
  height: 400px;
  display: none;
  top: 0px;
  left: 0px;
}

/* line 616, ../sass/Agriculture.scss */
ul#AgriTraxGroup {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
/* line 621, ../sass/Agriculture.scss */
ul#AgriTraxGroup li {
  font-size: 9px;
  font-family: Arial;
  float: left;
  background-color: white;
  border: 1px #2b821a solid;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}
/* line 635, ../sass/Agriculture.scss */
ul#AgriTraxGroup li:hover, ul#AgriTraxGroup li.active {
  background-color: #2b821a;
  color: white;
}

/* line 643, ../sass/Agriculture.scss */
#PreviewImageLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
/* line 654, ../sass/Agriculture.scss */
#PreviewImageLayer div.HiliteBar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #2b821a;
  text-align: center;
}
