/* line 6, ../sass/NOC_Register.scss */
table.noc_table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0px;
}
/* line 12, ../sass/NOC_Register.scss */
table.noc_table td {
  padding-right: 10px;
  white-space: nowrap;
}
/* line 16, ../sass/NOC_Register.scss */
table.noc_table td:last-child {
  padding-right: 0px;
}
/* line 20, ../sass/NOC_Register.scss */
table.noc_table td.colgap {
  width: 30px;
}
/* line 24, ../sass/NOC_Register.scss */
table.noc_table td input.date-picker {
  width: 120px;
}
/* line 28, ../sass/NOC_Register.scss */
table.noc_table td input.time-picker {
  width: 80px;
  cursor: pointer;
}
/* line 33, ../sass/NOC_Register.scss */
table.noc_table td input.altitude {
  width: 80px;
}
/* line 37, ../sass/NOC_Register.scss */
table.noc_table td input[type=radio] {
  margin-right: 5px;
}
/* line 41, ../sass/NOC_Register.scss */
table.noc_table td label {
  margin-right: 10px;
}

/* line 47, ../sass/NOC_Register.scss */
section div.column div.title div.button {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(192, 192, 192, 0.5);
}
/* line 51, ../sass/NOC_Register.scss */
section div.column div.title div.button span.icon {
  margin-right: 3px;
  color: rgba(192, 192, 192, 0.5);
}
/* line 56, ../sass/NOC_Register.scss */
section div.column div.title div.button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
/* line 60, ../sass/NOC_Register.scss */
section div.column div.title div.button:hover span.icon {
  color: black;
}
/* line 63, ../sass/NOC_Register.scss */
section div.column div.title div.button:hover span.icon.delete {
  color: #c30707;
}
/* line 67, ../sass/NOC_Register.scss */
section div.column div.title div.button:hover span.icon.add {
  color: #199800;
}
/* line 71, ../sass/NOC_Register.scss */
section div.column div.title div.button:hover span.icon.gps {
  color: #1845d7;
}

/* line 78, ../sass/NOC_Register.scss */
#GoogleMap {
  width: 100%;
  height: 400px;
}

/* line 83, ../sass/NOC_Register.scss */
table.GoogleMapTable {
  width: 100%;
}

/* line 87, ../sass/NOC_Register.scss */
div.GoogleMapCoordinatesScroll {
  height: 400px;
  overflow: auto;
}

/* line 92, ../sass/NOC_Register.scss */
ul#NocSections {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 97, ../sass/NOC_Register.scss */
ul#NocSections li {
  list-style: none;
}
/* line 100, ../sass/NOC_Register.scss */
ul#NocSections li.active div.title {
  background-color: darkgreen;
}

/* line 106, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates {
  border-collapse: collapse;
  width: 100%;
}
/* line 111, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates tr span.icon {
  color: silver;
  cursor: pointer;
}
/* line 117, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates tr:hover span.icon {
  color: black;
}
/* line 123, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates th, table.GoogleMapCoordinates td {
  padding: 2px 0px 2px 5px;
}
/* line 126, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates th input[type=text], table.GoogleMapCoordinates td input[type=text] {
  width: 100%;
}
/* line 131, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates th {
  background-color: darkgreen;
  margin: 0px;
  font-family: Gobold_Light;
  font-size: 12px;
  color: #cacaca;
}
/* line 140, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates td div.button {
  background-color: #474747;
  display: block;
  float: right;
  padding: 2px 10px 2px 10px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}
/* line 151, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates td div.button:hover {
  background-color: darkgreen;
}
/* line 158, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates td span.icon.delete:hover {
  color: #c30707;
}
/* line 162, ../sass/NOC_Register.scss */
table.GoogleMapCoordinates td span.icon.add:hover {
  color: #199800;
}

/* line 169, ../sass/NOC_Register.scss */
.field-value {
  color: #53a100;
  padding-left: 20px;
}

/* line 173, ../sass/NOC_Register.scss */
.field-info {
  color: #f2a003;
  padding-left: 20px;
}

/* line 177, ../sass/NOC_Register.scss */
section.top-border {
  border-top: 3px solid #474747;
  padding-top: 10px;
  margin-top: 0px !important;
}
/* line 181, ../sass/NOC_Register.scss */
section.top-border ul.noc-info {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 185, ../sass/NOC_Register.scss */
section.top-border ul.noc-info li {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid silver;
}

/* line 193, ../sass/NOC_Register.scss */
#cesiumContainer {
  position: relative;
}

/* line 197, ../sass/NOC_Register.scss */
#ToolBarSelect {
  background-color: #1d1c1c;
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
/* line 207, ../sass/NOC_Register.scss */
#ToolBarSelect option {
  background-color: #1d1c1c;
}

/* line 212, ../sass/NOC_Register.scss */
div.cesium-viewer-bottom {
  display: none !important;
}

/* line 216, ../sass/NOC_Register.scss */
div#NocBillingTotalSection {
  padding: 0px 5px 5px 5px;
  font-family: Gobold_Light;
  border-bottom: 2px #018aff solid;
  margin-bottom: 5px;
}
/* line 222, ../sass/NOC_Register.scss */
div#NocBillingTotalSection div.item-left {
  float: left;
  color: #f2a003;
  font-size: 16px;
}
/* line 228, ../sass/NOC_Register.scss */
div#NocBillingTotalSection div.item-right {
  float: right;
  color: #018aff;
  font-size: 26px;
}

/* line 235, ../sass/NOC_Register.scss */
ul#NocBillingItem {
  margin: 0px;
  padding: 0px 5px 0px 5px;
  list-style: none;
}
/* line 240, ../sass/NOC_Register.scss */
ul#NocBillingItem li {
  list-style: none;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px #53a100 solid;
}
/* line 241, ../sass/NOC_Register.scss */
ul#NocBillingItem li div.NocBillingItemAmount {
  float: right;
  color: #53a100;
  font-size: 18px;
  font-family: Gobold_Light;
}
