
@{
    ViewBag.Title = "FlightChart";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}
@Html.Action("DroneFlightDetail", "DroneFlight", new { ID = ViewBag.FlightID })

<h2>FlightChart</h2>

<head>
        
</head>
<div style="width:100%"> 
    <canvas id="myChart" style="width:100%"> </canvas>
</div>


@Html.Action("FlightDataView", "Map", new { ID = ViewBag.FlightID })


@section scripts {


<script src="~/Scripts/Chart.js" type="text/javascript"></script>

    <script type="text/javascript">
        var MapDataURL = '@Url.Action("getLineChartData", new {FlightID = ViewBag.FlightID})';

    </script>
<script type="text/javascript" src="~/Scripts/FlightChart.js"></script>
}
   


