
@{
  ViewBag.Title = "FlightData";
  Layout = "~/Views/Shared/_exPortal.cshtml";
}




@Html.Action("DroneFlightDetail", "DroneFlight", new { ID = ViewBag.FlightID })


<table class="detail-info" style="width: 100%">
  <thead>
    <tr>
      <th>Altitude</th>
      <th>Speed</th>
      <th colspan="3">Current Position</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Min: <span id="data_Min_Altitude">-</span></td>
      <td>Min: <span id="data_Min_Speed">-</span></td>
      <td>Date: <span id="data_ReadTime">-</span></td>
      <td>Speed: <span id="data_Speed">-</span></td>
      <td>Heading: <span id="data_Heading">-</span></td>
      <td rowspan="3" valign="bottom"><div class="form-toolbar">
        <input id="clickReplay" type="button" value="Replay" onclick="Replay();" />
      </div>
      </td>
    </tr>
    <tr>
      <td>Max: <span id="data_Max_Altitude">-</span></td>
      <td>Max: <span id="data_Max_Speed">-</span></td>
      <td>Lat: <span id="data_Latitude">-</span></td>
      <td>Alt: <span id="data_Altitude">-</span></td>
      <td>Satalite: <span id="data_Satellites">-</span></td>
    </tr>
    <tr>
      <td>Avg: <span id="data_avg_Altitude">-</span></td>
      <td>Avg: <span id="data_Avg_Speed">-</span></td>
      <td>Lng: <span id="data_Longitude">-</span></td>
      <td>Distance: <span id="data_Distance">-</span></td>
      <td>Flight Time: <span id="data_TotalFlightTime">-</span></td>
    </tr>
  </tbody>
</table>

<div id="map-holder">
  <div id="map_canvas" style="width: 100%; height: 480px;">

  </div>
  <div id="map-info">-</div>
</div>

@section header{
  <style type="text/css">
    #map-holder {
      position: relative;
    }

    #map-info {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: auto;
      width: auto;
      padding: 5px 10px 5px 10px;
      background-color: #ea050e;
      font-weight: bold;
      color: white;
    }

    table.detail-info {
      border-bottom: 1px #ea050e solid;
    }
    table.detail-info TH {
      border-bottom:1px #ea050e solid;
      color: #ea050e;
      text-align:left;
      font-family: Conv_DINNextLTPro-LightCondensed,Arial;
      font-size: 20px;
    }
    table.detail-info td span {
      color: gray;
    }
    table.detail-info TH,
    table.detail-info td {
      padding: 1px 3px 1px 0px;
      width:16.666%
    }
  </style>
}

@section scripts{
<script type="text/javascript">
  var MapDataURL = '@Url.Action("GetFlightData", new {FlightID = ViewBag.FlightID})';
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="~/Scripts/map.js"></script>
}
<div id="MapData">
  <table></table>
</div>

