@model List<eX_Portal.ViewModel.MenuModel>
@{
  Layout = null;
  List<eX_Portal.ViewModel.MenuModel> menuList = Model;
}
<ul id="navigation" class="menu">
   @foreach(var mp in menuList.Where(p => p.ParentId == 0)) {
   <li>
     <a href=@mp.PageUrl>@mp.Name</a>
      @RenderMenuItem(menuList, mp)
  </li>
  }
</ul>

@helper RenderMenuItem(List<eX_Portal.ViewModel.MenuModel> menuList, eX_Portal.ViewModel.MenuModel mi) {
  var SubItems = menuList.Where(p => p.ParentId == mi.Id);
  if(SubItems.Count() > 0) {
    <ul>
      @foreach(var cp in SubItems) {
      <li><a href=@cp.PageUrl>@cp.Name</a></li>
      }
    </ul>
  }
}
