@{ 
  ViewBag.Title = "Traffic Monitoring";
}

<table id="qViewTable" class="report">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Video</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Traffic Management with Speed Calculation</td>
      <td><a href="@Url.Action("RTA", "Traffic",new { ID = 1 })">al_sufouh_road_2016101452.flv</a> </td>
      <td><span class="icon"></span></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Video</th>
      <th>&nbsp;</th>
    </tr>
</tfoot>
</table>
