
@{
    ViewBag.Title = "LPR Screening";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body><section class="top-space">
          <div class="column">
              <div class="title-bar">
                
                  </div>
                  <div style="height:400px;">
                  </div>
              </div>
    </section>
</body>
</html>
