input.date-picker {
  background-image: url("../images/cal-icon.png");
  background-position: calc(100% - 5px) 1px;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.title-bar {
  background-color: #474747;
  color: #ffb400;
  font-size: 10pt;
  padding: 5px 10px 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
div.title-bar span.button {
  display: block;
  float: right;
  font-size: 7pt;
  padding: 1px 5px 1px 5px;
  border: 1px #ffb400 solid;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
div.title-bar span.button a {
  text-decoration: none;
  color: #ffb400;
}
div.title-bar span.button:hover {
  background-color: #ffb400;
  color: white;
}
div.title-bar span.button:hover a {
  color: white;
}

table#SearchTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  margin-bottom: 10px;
}
table#SearchTable tr td {
  padding: 5px 5px 0px 0px;
  font-size: 7pt;
  white-space: nowrap;
}
table#SearchTable tr td table tr td {
  padding: 0px 5px 0px 0px;
}
table#SearchTable tr td input[type="text"],
table#SearchTable tr td select {
  width: 100%;
  padding: 2px 5px 2px 5px;
  box-sizing: border-box;
  margin: 0px;
  border-radius: 5px;
  border: 1px silver solid;
  color: #2b821a;
  font-family: OpenSans;
}
table#SearchTable tr td:last-child {
  padding: 5px 0px 0px 0px;
}
table#SearchTable tr td.button {
  text-align: right;
}
table#SearchTable tr td.button input {
  padding: 5px 10px 5px 10px;
  background-color: #474747;
  color: #ffb400;
  border: 1px black solid;
  border-radius: 5px;
}

table.report {
  width: 100%;
}
table.report thead, table.report tbody {
  width: 100%;
}
table.report thead tr, table.report tbody tr {
  width: 100%;
}
table.report thead tr td, table.report tbody tr td {
  background-color: white;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  cursor: pointer;
}
table.report thead tr td span.btnAssignCustomer,
table.report thead tr td span.btnSelectRow, table.report tbody tr td span.btnAssignCustomer,
table.report tbody tr td span.btnSelectRow {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 6pt;
  text-transform: capitalize;
  background-color: #474747;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  color: #ffb400;
  visibility: hidden;
}
table.report thead tr td span.btnAssignCustomer:hover,
table.report thead tr td span.btnSelectRow:hover, table.report tbody tr td span.btnAssignCustomer:hover,
table.report tbody tr td span.btnSelectRow:hover {
  color: white;
}
table.report thead tr td span.btnAssignCustomer, table.report tbody tr td span.btnAssignCustomer {
  display: none;
}
table.report thead tr.selected td, table.report thead tr.selected:hover td, table.report tbody tr.selected td, table.report tbody tr.selected:hover td {
  background-color: #378927;
}
table.report thead tr.selected td span.btnAssignCustomer, table.report thead tr.selected:hover td span.btnAssignCustomer, table.report tbody tr.selected td span.btnAssignCustomer, table.report tbody tr.selected:hover td span.btnAssignCustomer {
  display: inline-block;
  visibility: visible;
}
table.report thead tr.selected td span.btnSelectRow, table.report thead tr.selected:hover td span.btnSelectRow, table.report tbody tr.selected td span.btnSelectRow, table.report tbody tr.selected:hover td span.btnSelectRow {
  display: none;
}
table.report thead tr:hover td, table.report tbody tr:hover td {
  background-color: #bde3b6;
}
table.report thead tr:hover td span.btnSelectRow, table.report tbody tr:hover td span.btnSelectRow {
  visibility: visible;
}
table.report thead td, table.report thead th, table.report tbody td, table.report tbody th {
  text-align: left;
  padding: 2px 5px 2px 0px;
}
table.report thead th, table.report tbody th {
  border-bottom: 2px #ffb400 solid;
}
table.report thead td, table.report tbody td {
  border-bottom: 1px #bde3b6 solid;
}

div.map-point {
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  border: 5px #ffb400 solid;
  background-color: #2b821a;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 2px;
  font-family: Arial;
  font-size: 10px;
  cursor: pointer;
  margin: -13px 0px 0px -13px;
}

div.row {
  padding-bottom: 5px;
  min-width: 200px;
}
div.row span.label {
  color: #ffb400;
}
div.row span.value {
  color: #2b821a;
}
div.row span.button {
  color: #2b821a;
  border: 1px #2b821a solid;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 7pt;
}
div.row span.button:hover {
  background-color: #2b821a;
  color: white;
}

#qViewDataDetails {
  margin-top: 10px;
}
#qViewDataDetails div#DataImagesSection,
#qViewDataDetails div#DataSection {
  float: left;
  min-height: 270px;
}
#qViewDataDetails div#DataImagesSection {
  margin-right: 20px;
  width: 270px;
}
#qViewDataDetails div#DataImagesSection div#DataImage {
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 170px;
  overflow: hidden;
  line-height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bde3b6;
  border: 2px #ffb400 solid;
  transition: background-image 0.2s linear;
  -moz-transition: background-image 0.2s linear;
  -webkit-transition: background-image 0.2s linear;
  -ms-transition: background-image 0.2s linear;
}
#qViewDataDetails div#DataImagesSection ul#DataImageThumbnail li:nth-child(4n) {
  margin-right: 0px;
}
#qViewDataDetails div#DataSection {
  width: 275px;
}

table.general-table td {
  padding: 0px 5px 4px 0px;
}
table.general-table td:last-child {
  padding: 0px 0px 3px 0px;
}

ul#BulkImages {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul#BulkImages li {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
ul#BulkImages li div.group-title {
  padding: 3px 0px 3px 10px;
  background-color: #ffb400;
}
ul#BulkImages li ul {
  margin-top: 10px !important;
}

ul#DataImageThumbnail,
ul#DataImageThumbnail li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul#DataImageThumbnailGroup,
ul#BulkImages li ul,
ul#DataImageThumbnail li ul {
  list-style: none;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}
ul#DataImageThumbnailGroup li,
ul#BulkImages li ul li,
ul#DataImageThumbnail li ul li {
  position: relative;
  float: left;
  border: 2px #ffb400 solid;
  width: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bde3b6;
  box-sizing: border-box;
  cursor: pointer;
}
ul#DataImageThumbnailGroup li span.delete,
ul#BulkImages li ul li span.delete,
ul#DataImageThumbnail li ul li span.delete {
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: #474747;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 12px;
  font-weight: bold;
  display: none;
  font-size: 6px;
}
ul#DataImageThumbnailGroup li span.delete:hover,
ul#BulkImages li ul li span.delete:hover,
ul#DataImageThumbnail li ul li span.delete:hover {
  background-color: #ffb400;
}
ul#DataImageThumbnailGroup li span.label,
ul#BulkImages li ul li span.label,
ul#DataImageThumbnail li ul li span.label {
  background-color: #ffb400;
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  font-size: 8px;
  color: black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul#DataImageThumbnailGroup li span.title,
ul#BulkImages li ul li span.title,
ul#DataImageThumbnail li ul li span.title {
  min-width: 56px;
  background-color: #474747;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  text-align: left;
  padding: 1px 2px 1px 2px;
  font-size: 8px;
  box-sizing: border-box;
  display: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul#DataImageThumbnailGroup li:last-child,
ul#BulkImages li ul li:last-child,
ul#DataImageThumbnail li ul li:last-child {
  margin-right: 0px;
}
ul#DataImageThumbnailGroup li.active, ul#DataImageThumbnailGroup li:hover,
ul#BulkImages li ul li.active,
ul#BulkImages li ul li:hover,
ul#DataImageThumbnail li ul li.active,
ul#DataImageThumbnail li ul li:hover {
  border-color: #2b821a;
}
ul#DataImageThumbnailGroup li.active span.delete, ul#DataImageThumbnailGroup li:hover span.delete,
ul#BulkImages li ul li.active span.delete,
ul#BulkImages li ul li:hover span.delete,
ul#DataImageThumbnail li ul li.active span.delete,
ul#DataImageThumbnail li ul li:hover span.delete {
  display: block;
}
ul#DataImageThumbnailGroup li.active span.label, ul#DataImageThumbnailGroup li:hover span.label,
ul#BulkImages li ul li.active span.label,
ul#BulkImages li ul li:hover span.label,
ul#DataImageThumbnail li ul li.active span.label,
ul#DataImageThumbnail li ul li:hover span.label {
  display: none;
}
ul#DataImageThumbnailGroup li.active span.title, ul#DataImageThumbnailGroup li:hover span.title,
ul#BulkImages li ul li.active span.title,
ul#BulkImages li ul li:hover span.title,
ul#DataImageThumbnail li ul li.active span.title,
ul#DataImageThumbnail li ul li:hover span.title {
  display: block;
}
ul#DataImageThumbnailGroup:after,
ul#BulkImages li ul:after,
ul#DataImageThumbnail li ul:after {
  clear: both;
  display: block;
  content: "";
}

div.form-group {
  width: 100%;
  padding: 5px 0px 2px 0px;
}
div.form-group input[type="submit"] {
  padding: 5px 15px 5px 15px;
  background-color: #474747;
  color: #ffb400;
  border: 0px white none;
  border-radius: 5px;
  margin-right: 25px;
}
div.form-group input[type="submit"]:hover {
  color: #474747;
  background-color: #ffb400;
}
div.form-group label.control-label {
  width: 25%;
  float: left;
  padding-top: 5px;
}
div.form-group div.col-md-10 {
  float: right;
  width: 75%;
}
div.form-group div.col-md-5 {
  float: left;
  width: 36%;
}
div.form-group div.col-md-5:last-child {
  margin-left: 3%;
}
div.form-group div.col-md-10 input[type="text"],
div.form-group div.col-md-10 input[type="datetime"],
div.form-group div.col-md-10 input[type="number"],
div.form-group div.col-md-10 textarea,
div.form-group div.col-md-10 select,
div.form-group div.col-md-5 input[type="text"],
div.form-group div.col-md-5 input[type="datetime"],
div.form-group div.col-md-5 input[type="number"],
div.form-group div.col-md-5 textarea,
div.form-group div.col-md-5 select {
  box-sizing: border-box;
  margin: 0px;
  padding: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #474747;
  border: 1px silver solid;
}
div.form-group div.col-md-10 input[type="text"],
div.form-group div.col-md-10 textarea,
div.form-group div.col-md-10 select,
div.form-group div.col-md-5 input[type="text"],
div.form-group div.col-md-5 textarea,
div.form-group div.col-md-5 select {
  width: 100%;
}
div.form-group div.col-md-10 input[type="datetime"],
div.form-group div.col-md-10 input[type="number"],
div.form-group div.col-md-5 input[type="datetime"],
div.form-group div.col-md-5 input[type="number"] {
  width: 48%;
}
div.form-group span.text-danger {
  color: #ffb400;
  display: block;
}
div.form-group:after {
  content: "";
  display: block;
  clear: both;
}

div.form-group-row {
  width: 100%;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px silver solid;
}
div.form-group-row label.control-label {
  width: 25%;
  float: left;
}
div.form-group-row div.col-md-10 {
  float: right;
  width: 75%;
}
div.form-group-row input[type="submit"] {
  padding: 5px 15px 5px 15px;
  background-color: #474747;
  color: #ffb400;
  border: 0px white none;
  border-radius: 5px;
}
div.form-group-row input[type="submit"]:hover {
  color: #474747;
  background-color: #ffb400;
}
div.form-group-row:after {
  content: "";
  display: block;
  clear: both;
}

div.internal-scroll {
  overflow: auto;
  height: 430px;
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

#AgricultureMap {
  min-height: 460px;
}

ul#ValidationError {
  margin: 0px;
  padding: 0px;
}
ul#ValidationError LI {
  color: #ffb400;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

ul#FileUploaded {
  margin: 0px;
  padding: 0px;
}

ul#FileQueue {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul#FileQueue li {
  list-style: none;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px silver solid;
}
ul#FileQueue li > div > span {
  color: red;
}

#FirstSection {
  position: relative;
}

#BulkUploadSearch {
  position: absolute;
  width: 100%;
  height: 400px;
  display: none;
  top: 0px;
  left: 0px;
}

ul#AgriTraxGroup {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}
ul#AgriTraxGroup li {
  font-size: 9px;
  font-family: Arial;
  float: left;
  background-color: white;
  border: 1px #2b821a solid;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}
ul#AgriTraxGroup li:hover, ul#AgriTraxGroup li.active {
  background-color: #2b821a;
  color: white;
}

#PreviewImageLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
#PreviewImageLayer div.HiliteBar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #2b821a;
  text-align: center;
}
