div.dash-row {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
div.dash-row div.dash-column {
  width: 50%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
}
div.dash-row div.dash-column:nth-child(odd) {
  padding-right: 5px;
}
div.dash-row div.dash-column:nth-child(even) {
  padding-left: 5px;
}
div.dash-row div.dash-content {
  width: 100%;
  border: 1px rgba(0, 91, 144, 0.2) solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
}
div.dash-row h2 {
  color: #005b90;
}
div.dash-row h3 {
  color: #01c074;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 12pt;
}
div.dash-row a {
  color: #005b90;
  text-decoration: none;
}
div.dash-row div.jwplayer {
  margin-bottom: 10px;
}
div.dash-row div.content-inner {
  width: 100%;
  height: 200px;
  overflow: auto;
}
