@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/../fonts/fontawesome-webfont.ttf?1450774730') format('truetype'), url('../fonts/../fonts/FontAwesome.otf?1450774730') format('opentype'), url('../fonts/../fonts/fontawesome-webfont.svg?1450774730') format('svg'), url('../fonts/../fonts/fontawesome-webfont.eot?1450774730') format('embedded-opentype'), url('../fonts/../fonts/fontawesome-webfont.woff?1450774730') format('woff'), url('../fonts/../fonts/fontawesome-webfont.woff2?1450774730') format('woff2');
}
@font-face {
  font-family: 'Avenir Next Condensed Demi';
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.svg#AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Bold.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.svg#AvenirNextCondensed/AvenirNextCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed Ultra';
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.svg#AvenirNextCondensed/AvenirNextCondensed-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Italic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.svg#AvenirNextCondensed/AvenirNextCondensed-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Heavy.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Heavy.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.svg#AvenirNextCondensed/AvenirNextCondensed-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed Demi';
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.svg#AvenirNextCondensed/AvenirNextCondensed-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Medium.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.svg#AvenirNextCondensed/AvenirNextCondensed-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Regular.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.svg#AvenirNextCondensed/AvenirNextCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.svg#AvenirNextCondensed/AvenirNextCondensed-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.svg#AvenirNextCondensed/AvenirNextCondensed-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.svg#AvenirNextCondensed/AvenirNextCondensed-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed Ultra';
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.svg#AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Lt2.eot");
  src: url("Advent/advent-Lt2.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Lt2.woff2") format("woff2"), url("Advent/advent-Lt2.woff") format("woff"), url("Advent/advent-Lt2.ttf") format("truetype"), url("Advent/advent-Lt2.svg#advent-Lt2") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Regular.eot");
  src: url("Advent/advent-Regular.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Regular.woff2") format("woff2"), url("Advent/advent-Regular.woff") format("woff"), url("Advent/advent-Regular.ttf") format("truetype"), url("Advent/advent-Regular.svg#advent-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Bd2.eot");
  src: url("Advent/advent-Bd2.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Bd2.woff2") format("woff2"), url("Advent/advent-Bd2.woff") format("woff"), url("Advent/advent-Bd2.ttf") format("truetype"), url("Advent/advent-Bd2.svg#advent-Bd2") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Bd1.eot");
  src: url("Advent/advent-Bd1.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Bd1.woff2") format("woff2"), url("Advent/advent-Bd1.woff") format("woff"), url("Advent/advent-Bd1.ttf") format("truetype"), url("Advent/advent-Bd1.svg#advent-Bd1") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Lt3.eot");
  src: url("Advent/advent-Lt3.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Lt3.woff2") format("woff2"), url("Advent/advent-Lt3.woff") format("woff"), url("Advent/advent-Lt3.ttf") format("truetype"), url("Advent/advent-Lt3.svg#advent-Lt3") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Bd3.eot");
  src: url("Advent/advent-Bd3.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Bd3.woff2") format("woff2"), url("Advent/advent-Bd3.woff") format("woff"), url("Advent/advent-Bd3.ttf") format("truetype"), url("Advent/advent-Bd3.svg#advent-Bd3") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Lt1.eot");
  src: url("Advent/advent-Lt1.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Lt1.woff2") format("woff2"), url("Advent/advent-Lt1.woff") format("woff"), url("Advent/advent-Lt1.ttf") format("truetype"), url("Advent/advent-Lt1.svg#advent-Lt1") format("svg");
  font-weight: 300;
  font-style: normal;
}
div.instrument.attitude div.roll div.pitch,
div.instrument.attitude div.roll {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0px;
  background-color: #ff0000;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0px;
  background-color: #18bdec;
}

.ui-slider .ui-slider-handle {
  width: 16px;
  height: 12px;
  border: 0px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -2px;
  margin-left: 0px;
}

.cesium-viewer .cesium-widget-credits {
  display: none !important;
}

div.SpotMarker {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 50%;
  cursor: default;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
div.SpotMarker span.Marker {
  display: block;
  width: 8px;
  height: 8px;
  left: 3px;
  top: 3px;
  position: absolute;
  border-radius: 50%;
}
div.SpotMarker div.Marker-ToolTip {
  display: none;
  position: absolute;
  top: 16px;
  width: auto;
  height: auto;
  padding: 3px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px black solid;
  border-radius: 3px;
  color: white;
}
div.SpotMarker:hover div.Marker-ToolTip {
  display: block;
}

div#StartMarker {
  border: 1px white solid;
}
div#StartMarker span.Marker {
  background-color: white;
}

div#EndMarker {
  border: 1px #18bdec solid;
}
div#EndMarker span.Marker {
  background-color: #18bdec;
}

div#FlightMapDroneIcon {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: -16px;
  margin-top: -16px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
}

div#custom-handle {
  width: 50px;
  margin-left: -25px;
  line-height: 21px;
  font-size: 11px;
  height: 21px;
  text-align: center;
}

div#FlightInfoColumn1,
div#FlightInfoColumn2,
div#FlightInfoColumn3,
div#FlightInfoColumn2_3_merge {
  float: left;
}

div#FlightInfoColumn3 div#Toolbar > div.button, div#FlightInfoColumn3 div#Toolbar > div.round-button {
  background-color: silver;
  cursor: pointer;
  box-sizing: content-box;
  float: left;
}
div#FlightInfoColumn3 div#Toolbar > div.button {
  border-radius: 3px;
}
div#FlightInfoColumn3 div#Toolbar > div.button span.icon {
  color: #ff0000;
  margin-right: 6px;
}
div#FlightInfoColumn3 div#Toolbar > div.button:hover {
  background-color: #ff0000;
  color: white;
}
div#FlightInfoColumn3 div#Toolbar > div.button:hover span.icon {
  color: #18bdec;
}
div#FlightInfoColumn3 div#Toolbar > div.round-button {
  border-radius: 50%;
  font-weight: bold;
  padding: 0px;
  vertical-align: bottom;
  text-align: center;
}
div#FlightInfoColumn3 div#Toolbar > div.round-button.active:hover, div#FlightInfoColumn3 div#Toolbar > div.round-button:hover {
  background-color: #ff0000;
  color: white;
}
div#FlightInfoColumn3 div#Toolbar > div.round-button.active {
  background-color: #18bdec;
  color: white;
}
div#FlightInfoColumn3 div#FlightSlider {
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: bottom;
}
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderStart {
  left: 0px;
}
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderEnd {
  right: 0px;
}
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderCenter {
  width: 100%;
  text-align: center;
  left: 0px;
  color: #ff0000;
  font-weight: bold;
}
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderStart,
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderEnd,
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderCenter {
  position: absolute;
  top: 0px;
  font-size: 14px;
}
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderStart,
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderEnd,
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderBar,
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderCenter {
  display: inline-block;
}
div#FlightInfoColumn3 div#FlightSlider div#FlightSliderBar {
  position: absolute;
  bottom: 0px;
  background-color: silver;
}

div#FlightInfoColumn3::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

div#FlightInfoSection::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

nav#flightmap_infobar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav#flightmap_infobar ul li {
  list-style: none;
  float: left;
  overflow: hidden;
  font-family: 'Advent';
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}
nav#flightmap_infobar ul li div.image {
  float: left;
  border-radius: 50%;
  background-color: #484848;
  background-size: cover;
  background-repeat: no-repeat;
}
nav#flightmap_infobar ul li div.title1 {
  font-family: Arial;
}
nav#flightmap_infobar ul li.rpas div.image {
  background-size: 70% 70%;
  background-position: center center;
}

div#AttitudeMeter {
  position: relative;
}
div#AttitudeMeter div.AttitudePichRollBackground {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #1C1C1C;
}
div#AttitudeMeter div#attitude {
  position: relative;
  z-index: 99;
  border-radius: 50%;
}
div#AttitudeMeter div.AttitudePitchSection,
div#AttitudeMeter div.AttitudeRollSection {
  position: absolute;
  color: white;
  z-index: 99;
  font-family: 'Advent';
}
div#AttitudeMeter div.AttitudePitchSection {
  left: 10px;
  text-align: left;
}
div#AttitudeMeter div.AttitudeRollSection {
  right: 10px;
  text-align: right;
}

div#FlightStatusBar ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: block;
}
div#FlightStatusBar ul li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: left;
}
div#FlightStatusBar ul li > div {
  display: block;
  background-color: #1C1C1C;
  background-size: contain;
  border-radius: 50%;
}
div#FlightStatusBar ul li > div:hover, div#FlightStatusBar ul li > div.active {
  background-color: #ff0000;
}
div#FlightStatusBar ul li div.FlightStatusIconWind {
  background-image: url("/images/V3/flightmap-wind.png");
}
div#FlightStatusBar ul li div.FlightStatusIconTemp {
  background-image: url("/images/V3/flightmap-temp.png");
}
div#FlightStatusBar ul li div.FlightStatusIconAirline {
  background-image: url("/images/V3/flightmap-airlines.png");
}
div#FlightStatusBar ul li div.FlightStatusIconEM {
  background-image: url("/images/V3/flightmap-em.png");
}
div#FlightStatusBar div#FlightStatusIconInfo {
  color: white;
  display: block;
}

div#FlightData ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div#FlightData li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div#FlightData li div {
  float: left;
  display: block;
  font-family: "Avenir Next Condensed";
}
div#FlightData li::after {
  content: "";
  display: block;
  clear: both;
  float: none;
  border-bottom: 1px #d9d9d9 solid !important;
}

section#BottomSection div#BottomMapInfo,
section#BottomSection div#ComSection,
section#BottomSection div#GoogleMap,
section#BottomSection div#CesiumMap {
  float: left;
}
section#BottomSection div#BottomMapInfo {
  background-color: black;
  display: table;
}
section#BottomSection div#BottomMapInfo div.MapInfoContent {
  vertical-align: middle;
  display: table-cell;
}
section#BottomSection div#BottomMapInfo ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
section#BottomSection div#BottomMapInfo ul li {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  list-style: none;
  color: white;
  text-align: center;
}
section#BottomSection div#BottomMapInfo ul li:last-child {
  margin-bottom: 0px;
}
section#BottomSection div#BottomMapInfo ul li div.title {
  text-transform: uppercase;
}
section#BottomSection div#BottomMapInfo ul li div.value {
  font-weight: bold;
}
section#BottomSection div#ComSection {
  background-color: white;
}
section#BottomSection div#ComSection div.caption {
  width: 100%;
  background-color: #5ffff2;
  font-family: 'Advent';
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-weight: 800;
}
section#BottomSection div#ComSection ul#ComsList {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}
section#BottomSection div#ComSection ul#ComsList li {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
section#BottomSection div#ComSection ul#ComsList li div.message {
  border-radius: 8px;
  padding: 1px 10px 1px 10px;
}
section#BottomSection div#ComSection ul#ComsList li div.message div.name {
  padding-right: 10px;
  font-weight: bold;
  display: table-cell;
}
section#BottomSection div#ComSection ul#ComsList li div.message div.content {
  display: table-cell;
  width: auto;
}
section#BottomSection div#ComSection ul#ComsList li.tome div.message {
  background-color: #1C1C1C;
  color: white;
}
section#BottomSection div#ComSection ul#ComsList li.fromme div.message {
  background-color: silver;
}
section#BottomSection div#ComSection ul#ComsList li div.date {
  text-align: right;
  padding-right: 0px;
  font-size: 10px;
}
section#BottomSection div#GoogleMap,
section#BottomSection div#CesiumMap {
  background-color: silver;
}
section#BottomSection::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

#FlightChartInfos div.flightchartinfo {
  float: left;
  text-align: center;
}
#FlightChartInfos div.flightchartinfo div.title {
  font-weight: bold;
  text-transform: uppercase;
}
#FlightChartInfos div.flightchartinfo div.sub-title {
  text-transform: uppercase;
}

@media screen and (min-width: 720px) {
  nav#flightmap_infobar {
    margin-bottom: 8px;
  }

  nav#flightmap_infobar ul li div.image {
    margin-right: 8px;
  }
  nav#flightmap_infobar ul li div.title-1 {
    font-size: 11px;
  }
  nav#flightmap_infobar ul li div.title-2 {
    font-size: 10px;
  }
  nav#flightmap_infobar ul li div.title-2 > span {
    font-size: 16px;
  }
  nav#flightmap_infobar ul li div.title-3 {
    font-size: 9px;
    color: #929292;
  }

  nav#flightmap_infobar ul li {
    width: 102px;
    margin-right: 8px;
    font-size: 11px;
  }
  nav#flightmap_infobar ul li.pack-of-2 {
    width: 136px;
  }
  nav#flightmap_infobar ul li:last-child {
    margin-right: 0px;
  }
  nav#flightmap_infobar ul li div.image {
    width: 30px;
    height: 30px;
  }

  div#FlightCharts {
    width: 281.6px;
    height: 60px;
  }
  div#FlightCharts div.flightchart {
    width: 88.53333px;
    margin-right: 8px;
    height: 60px;
    float: left;
  }
  div#FlightCharts div.flightchart:last-child {
    margin-right: 0px;
  }

  div#FlightChartInfos {
    width: 281.6px;
  }
  div#FlightChartInfos div.flightchartinfo {
    width: 88.53333px;
    margin-right: 8px;
    float: left;
  }
  div#FlightChartInfos div.flightchartinfo div.title {
    font-size: 9.1px;
  }
  div#FlightChartInfos div.flightchartinfo div.sub-title {
    font-size: 7.8px;
  }
  div#FlightChartInfos div.flightchartinfo:last-child {
    margin-right: 0px;
  }

  div#AttitudeMeter {
    width: 160px;
    height: 104px;
    margin-top: 8px;
    margin-left: 8px;
  }
  div#AttitudeMeter div#attitude {
    left: 28px;
  }
  div#AttitudeMeter div#attitude,
  div#AttitudeMeter div.instrument {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    box-sizing: content-box;
  }
  div#AttitudeMeter div.AttitudePichRollBackground {
    border-radius: 25.6px;
    height: 64px;
    top: 20px;
  }
  div#AttitudeMeter div.AttitudePitchSection,
  div#AttitudeMeter div.AttitudeRollSection {
    top: 39.2px;
    font-size: 9.6px;
  }
  div#AttitudeMeter div.AttitudePitchSection span.Number,
  div#AttitudeMeter div.AttitudePitchSection span.Symbol,
  div#AttitudeMeter div.AttitudeRollSection span.Number,
  div#AttitudeMeter div.AttitudeRollSection span.Symbol {
    font-size: 24px;
  }

  div#FlightStatusBar {
    margin-left: 21.568px;
  }

  div#FlightStatusMetar {
    margin-top: 8px;
    width: 246.4px;
    height: 29.568px;
    display: block;
    background-color: silver;
    border-radius: 14.784px;
    overflow: hidden;
  }
  div#FlightStatusMetar div.MetarInfoContent {
    box-sizing: border-box;
    width: 184.832px;
    height: 13.568px;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    display: table;
  }
  div#FlightStatusMetar div.MetarInfoContent div.MetarInfo {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    font-size: 9.1px;
    font-weight: bold;
  }
  div#FlightStatusMetar div.MetarTitle {
    box-sizing: border-box;
    background-color: silver;
    width: 45.568px;
    height: 45.568px;
    border-radius: 50%;
    border: 8px solid white;
    float: left;
    margin-left: -8px;
    margin-top: -8px;
  }
  div#FlightStatusMetar div.MetarTitle div.content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: 29.568px;
    width: 29.568px;
    font-size: 10.4px;
  }
  div#FlightStatusMetar div.MetarTitle div.content div.refresh {
    font-size: 6.5px;
  }

  section#FlightStatusInfo {
    margin-bottom: 8px;
  }

  div#FlightInfoColumn1 {
    width: 281.6px;
    margin-right: 8px;
  }

  div#FlightInfoColumn2 {
    width: 176px;
    margin-right: 8px;
  }

  div#FlightInfoColumn3 {
    width: 246.4px;
  }
  div#FlightInfoColumn3 div#Toolbar {
    margin-top: 8px;
    width: 246.4px;
    font-size: 10.4px;
  }
  div#FlightInfoColumn3 div#Toolbar > div {
    float: left;
  }
  div#FlightInfoColumn3 div#Toolbar > div.button {
    width: 70px;
    height: 23px;
    line-height: 23px;
    margin-right: -6.52px;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
  }
  div#FlightInfoColumn3 div#Toolbar > div.round-button {
    width: 23px;
    line-height: 23px;
    height: 23px;
    margin-right: -6.52px;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
  }
  div#FlightInfoColumn3 div#Toolbar > div:last-child {
    margin-right: 0px !important;
  }
  div#FlightInfoColumn3 div#FlightSlider {
    width: 246.4px;
    margin-top: 8px;
  }
  div#FlightInfoColumn3 div#FlightSliderBar {
    width: 246.4px;
    height: 8px;
    border: 0px;
  }

  div#FlightInfoColumn2_3_merge {
    width: 430.4px;
  }

  div#FlightStatusBar ul {
    height: 22px;
    margin: 0px;
  }
  div#FlightStatusBar ul li {
    width: 22px;
    height: 22px;
    margin: 0px 2px 0px 0px;
  }
  div#FlightStatusBar ul li > div {
    width: 22px;
    height: 22px;
  }
  div#FlightStatusBar div#FlightStatusIconInfo {
    margin-top: 2px;
  }
  div#FlightStatusBar div#FlightStatusIconInfo span {
    background-color: #ff0000;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    font-size: 11px;
    display: table-cell;
  }

  div#FlightData ul li div {
    font-size: 10px;
  }
  div#FlightData ul li div.col1 {
    width: 24.56px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col2 {
    width: 36.84px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col3 {
    width: 36.84px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col4 {
    width: 24.56px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col5 {
    width: 24.56px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col6 {
    width: 24.56px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col7 {
    width: 24.56px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col8 {
    width: 24.56px;
    margin-right: 2px;
  }
  div#FlightData ul li div.col9 {
    width: 24.56px;
    margin-right: 0px;
  }
  div#FlightData div.data-rows {
    height: 80px;
    overflow: auto;
    overflow-y: scroll;
  }
  div#FlightData ul.header-row li {
    font-weight: bold;
  }

  div#BottomMapInfo,
  div#ComSection,
  div#GoogleMap,
  div#CesiumMap {
    height: 300px;
  }

  div#BottomMapInfo {
    width: 72px;
  }
  div#BottomMapInfo li {
    width: 72px;
    font-size: 12px;
  }

  div#ComSection {
    width: 216px;
  }
  div#ComSection div.caption {
    font-size: 20px;
    letter-spacing: 4px;
    height: 30px;
    line-height: 20px;
  }
  div#ComSection div#ComsContent {
    width: 216px;
    height: 240px;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
  }
  div#ComSection div#ComsSendMessage {
    width: 216px;
    height: 30px;
    background-color: green;
  }
  div#ComSection div#ComsSendMessage div.ContentBox, div#ComSection div#ComsSendMessage div.ContentButton {
    float: left;
    width: 100%;
    height: 30px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox input, div#ComSection div#ComsSendMessage div.ContentButton input {
    margin: 0px;
    line-height: 30px;
    border: 0px;
    height: 30px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox input {
    padding: 0px 10px 0px 10px;
    width: 146px;
  }
  div#ComSection div#ComsSendMessage div.ContentButton input {
    padding: 0px;
    width: 50px;
  }
  div#ComSection div#ComsSendMessage div.ContentButton {
    width: 50px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox {
    width: 166px;
  }

  div#GoogleMap,
  div#CesiumMap {
    width: 432px;
  }
}
@media screen and (min-width: 1080px) {
  nav#flightmap_infobar {
    margin-bottom: 12px;
  }

  nav#flightmap_infobar ul li div.image {
    margin-right: 12px;
  }
  nav#flightmap_infobar ul li div.title-1 {
    font-size: 13px;
  }
  nav#flightmap_infobar ul li div.title-2 {
    font-size: 12px;
  }
  nav#flightmap_infobar ul li div.title-2 > span {
    font-size: 18px;
  }
  nav#flightmap_infobar ul li div.title-3 {
    font-size: 11px;
    color: #929292;
  }

  nav#flightmap_infobar ul li {
    width: 153px;
    margin-right: 12px;
    font-size: 13px;
  }
  nav#flightmap_infobar ul li.pack-of-2 {
    width: 204px;
  }
  nav#flightmap_infobar ul li:last-child {
    margin-right: 0px;
  }
  nav#flightmap_infobar ul li div.image {
    width: 40px;
    height: 40px;
  }

  div#FlightCharts {
    width: 422.4px;
    height: 60px;
  }
  div#FlightCharts div.flightchart {
    width: 132.8px;
    margin-right: 12px;
    height: 60px;
    float: left;
  }
  div#FlightCharts div.flightchart:last-child {
    margin-right: 0px;
  }

  div#FlightChartInfos {
    width: 422.4px;
  }
  div#FlightChartInfos div.flightchartinfo {
    width: 132.8px;
    margin-right: 12px;
    float: left;
  }
  div#FlightChartInfos div.flightchartinfo div.title {
    font-size: 9.8px;
  }
  div#FlightChartInfos div.flightchartinfo div.sub-title {
    font-size: 8.4px;
  }
  div#FlightChartInfos div.flightchartinfo:last-child {
    margin-right: 0px;
  }

  div#AttitudeMeter {
    width: 240px;
    height: 156px;
    margin-top: 12px;
    margin-left: 12px;
  }
  div#AttitudeMeter div#attitude {
    left: 42px;
  }
  div#AttitudeMeter div#attitude,
  div#AttitudeMeter div.instrument {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    box-sizing: content-box;
  }
  div#AttitudeMeter div.AttitudePichRollBackground {
    border-radius: 38.4px;
    height: 96px;
    top: 30px;
  }
  div#AttitudeMeter div.AttitudePitchSection,
  div#AttitudeMeter div.AttitudeRollSection {
    top: 58.8px;
    font-size: 9.6px;
  }
  div#AttitudeMeter div.AttitudePitchSection span.Number,
  div#AttitudeMeter div.AttitudePitchSection span.Symbol,
  div#AttitudeMeter div.AttitudeRollSection span.Number,
  div#AttitudeMeter div.AttitudeRollSection span.Symbol {
    font-size: 24px;
  }

  div#FlightStatusBar {
    margin-left: 36.352px;
  }

  div#FlightStatusMetar {
    margin-top: 12px;
    width: 369.6px;
    height: 44.352px;
    display: block;
    background-color: silver;
    border-radius: 22.176px;
    overflow: hidden;
  }
  div#FlightStatusMetar div.MetarInfoContent {
    box-sizing: border-box;
    width: 293.248px;
    height: 28.352px;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    display: table;
  }
  div#FlightStatusMetar div.MetarInfoContent div.MetarInfo {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    font-size: 9.8px;
    font-weight: bold;
  }
  div#FlightStatusMetar div.MetarTitle {
    box-sizing: border-box;
    background-color: silver;
    width: 60.352px;
    height: 60.352px;
    border-radius: 50%;
    border: 8px solid white;
    float: left;
    margin-left: -8px;
    margin-top: -8px;
  }
  div#FlightStatusMetar div.MetarTitle div.content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: 44.352px;
    width: 44.352px;
    font-size: 11.2px;
  }
  div#FlightStatusMetar div.MetarTitle div.content div.refresh {
    font-size: 7px;
  }

  section#FlightStatusInfo {
    margin-bottom: 12px;
  }

  div#FlightInfoColumn1 {
    width: 422.4px;
    margin-right: 12px;
  }

  div#FlightInfoColumn2 {
    width: 264px;
    margin-right: 12px;
  }

  div#FlightInfoColumn3 {
    width: 369.6px;
  }
  div#FlightInfoColumn3 div#Toolbar {
    margin-top: 12px;
    width: 369.6px;
    font-size: 11.2px;
  }
  div#FlightInfoColumn3 div#Toolbar > div {
    float: left;
  }
  div#FlightInfoColumn3 div#Toolbar > div.button {
    width: 70px;
    height: 24px;
    line-height: 24px;
    margin-right: 17.52px;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
  }
  div#FlightInfoColumn3 div#Toolbar > div.round-button {
    width: 24px;
    line-height: 24px;
    height: 24px;
    margin-right: 17.52px;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
  }
  div#FlightInfoColumn3 div#Toolbar > div:last-child {
    margin-right: 0px !important;
  }
  div#FlightInfoColumn3 div#FlightSlider {
    width: 369.6px;
    margin-top: 12px;
  }
  div#FlightInfoColumn3 div#FlightSliderBar {
    width: 369.6px;
    height: 8px;
    border: 0px;
  }

  div#FlightInfoColumn2_3_merge {
    width: 645.6px;
  }

  div#FlightStatusBar ul {
    height: 26px;
    margin: 0px;
  }
  div#FlightStatusBar ul li {
    width: 26px;
    height: 26px;
    margin: 0px 3px 0px 0px;
  }
  div#FlightStatusBar ul li > div {
    width: 26px;
    height: 26px;
  }
  div#FlightStatusBar div#FlightStatusIconInfo {
    margin-top: 3px;
  }
  div#FlightStatusBar div#FlightStatusIconInfo span {
    background-color: #ff0000;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    font-size: 11px;
    display: table-cell;
  }

  div#FlightData ul li div {
    font-size: 10px;
  }
  div#FlightData ul li div.col1 {
    width: 37.04px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col2 {
    width: 55.56px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col3 {
    width: 55.56px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col4 {
    width: 37.04px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col5 {
    width: 37.04px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col6 {
    width: 37.04px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col7 {
    width: 37.04px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col8 {
    width: 37.04px;
    margin-right: 4px;
  }
  div#FlightData ul li div.col9 {
    width: 37.04px;
    margin-right: 0px;
  }
  div#FlightData div.data-rows {
    height: 90px;
    overflow: auto;
    overflow-y: scroll;
  }
  div#FlightData ul.header-row li {
    font-weight: bold;
  }

  div#BottomMapInfo,
  div#ComSection,
  div#GoogleMap,
  div#CesiumMap {
    height: 300px;
  }

  div#BottomMapInfo {
    width: 108px;
  }
  div#BottomMapInfo li {
    width: 108px;
    font-size: 12px;
  }

  div#ComSection {
    width: 324px;
  }
  div#ComSection div.caption {
    font-size: 20px;
    letter-spacing: 4px;
    height: 30px;
    line-height: 20px;
  }
  div#ComSection div#ComsContent {
    width: 324px;
    height: 240px;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
  }
  div#ComSection div#ComsSendMessage {
    width: 324px;
    height: 30px;
    background-color: green;
  }
  div#ComSection div#ComsSendMessage div.ContentBox, div#ComSection div#ComsSendMessage div.ContentButton {
    float: left;
    width: 100%;
    height: 30px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox input, div#ComSection div#ComsSendMessage div.ContentButton input {
    margin: 0px;
    line-height: 30px;
    border: 0px;
    height: 30px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox input {
    padding: 0px 10px 0px 10px;
    width: 254px;
  }
  div#ComSection div#ComsSendMessage div.ContentButton input {
    padding: 0px;
    width: 50px;
  }
  div#ComSection div#ComsSendMessage div.ContentButton {
    width: 50px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox {
    width: 274px;
  }

  div#GoogleMap,
  div#CesiumMap {
    width: 648px;
  }
}
@media screen and (min-width: 1320px) {
  nav#flightmap_infobar {
    margin-bottom: 15px;
  }

  nav#flightmap_infobar ul li div.image {
    margin-right: 15px;
  }
  nav#flightmap_infobar ul li div.title-1 {
    font-size: 14px;
  }
  nav#flightmap_infobar ul li div.title-2 {
    font-size: 13px;
  }
  nav#flightmap_infobar ul li div.title-2 > span {
    font-size: 19px;
  }
  nav#flightmap_infobar ul li div.title-3 {
    font-size: 12px;
    color: #929292;
  }

  nav#flightmap_infobar ul li {
    width: 177.75px;
    margin-right: 15px;
    font-size: 14px;
  }
  nav#flightmap_infobar ul li.pack-of-2 {
    width: 237px;
  }
  nav#flightmap_infobar ul li:last-child {
    margin-right: 0px;
  }
  nav#flightmap_infobar ul li div.image {
    width: 50px;
    height: 50px;
  }

  div#FlightCharts {
    width: 492px;
    height: 60px;
  }
  div#FlightCharts div.flightchart {
    width: 154px;
    margin-right: 15px;
    height: 60px;
    float: left;
  }
  div#FlightCharts div.flightchart:last-child {
    margin-right: 0px;
  }

  div#FlightChartInfos {
    width: 492px;
  }
  div#FlightChartInfos div.flightchartinfo {
    width: 154px;
    margin-right: 15px;
    float: left;
  }
  div#FlightChartInfos div.flightchartinfo div.title {
    font-size: 11.2px;
  }
  div#FlightChartInfos div.flightchartinfo div.sub-title {
    font-size: 9.6px;
  }
  div#FlightChartInfos div.flightchartinfo:last-child {
    margin-right: 0px;
  }

  div#AttitudeMeter {
    width: 277.5px;
    height: 180.375px;
    margin-top: 15px;
    margin-left: 15px;
  }
  div#AttitudeMeter div#attitude {
    left: 48.5625px;
  }
  div#AttitudeMeter div#attitude,
  div#AttitudeMeter div.instrument {
    width: 180.375px;
    height: 180.375px;
    border-radius: 50%;
    box-sizing: content-box;
  }
  div#AttitudeMeter div.AttitudePichRollBackground {
    border-radius: 44.4px;
    height: 111px;
    top: 34.6875px;
  }
  div#AttitudeMeter div.AttitudePitchSection,
  div#AttitudeMeter div.AttitudeRollSection {
    top: 67.9875px;
    font-size: 9.6px;
  }
  div#AttitudeMeter div.AttitudePitchSection span.Number,
  div#AttitudeMeter div.AttitudePitchSection span.Symbol,
  div#AttitudeMeter div.AttitudeRollSection span.Number,
  div#AttitudeMeter div.AttitudeRollSection span.Symbol {
    font-size: 24px;
  }

  div#FlightStatusBar {
    margin-left: 43.66px;
  }

  div#FlightStatusMetar {
    margin-top: 15px;
    width: 430.5px;
    height: 51.66px;
    display: block;
    background-color: silver;
    border-radius: 25.83px;
    overflow: hidden;
  }
  div#FlightStatusMetar div.MetarInfoContent {
    box-sizing: border-box;
    width: 346.84px;
    height: 35.66px;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    display: table;
  }
  div#FlightStatusMetar div.MetarInfoContent div.MetarInfo {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    font-size: 11.2px;
    font-weight: bold;
  }
  div#FlightStatusMetar div.MetarTitle {
    box-sizing: border-box;
    background-color: silver;
    width: 67.66px;
    height: 67.66px;
    border-radius: 50%;
    border: 8px solid white;
    float: left;
    margin-left: -8px;
    margin-top: -8px;
  }
  div#FlightStatusMetar div.MetarTitle div.content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: 51.66px;
    width: 51.66px;
    font-size: 12.8px;
  }
  div#FlightStatusMetar div.MetarTitle div.content div.refresh {
    font-size: 8px;
  }

  section#FlightStatusInfo {
    margin-bottom: 15px;
  }

  div#FlightInfoColumn1 {
    width: 492px;
    margin-right: 15px;
  }

  div#FlightInfoColumn2 {
    width: 307.5px;
    margin-right: 15px;
  }

  div#FlightInfoColumn3 {
    width: 430.5px;
  }
  div#FlightInfoColumn3 div#Toolbar {
    margin-top: 15px;
    width: 430.5px;
    font-size: 12.8px;
  }
  div#FlightInfoColumn3 div#Toolbar > div {
    float: left;
  }
  div#FlightInfoColumn3 div#Toolbar > div.button {
    width: 70px;
    height: 26px;
    line-height: 26px;
    margin-right: 28.5px;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
  }
  div#FlightInfoColumn3 div#Toolbar > div.round-button {
    width: 26px;
    line-height: 26px;
    height: 26px;
    margin-right: 28.5px;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
  }
  div#FlightInfoColumn3 div#Toolbar > div:last-child {
    margin-right: 0px !important;
  }
  div#FlightInfoColumn3 div#FlightSlider {
    width: 430.5px;
    margin-top: 15px;
  }
  div#FlightInfoColumn3 div#FlightSliderBar {
    width: 430.5px;
    height: 8px;
    border: 0px;
  }

  div#FlightInfoColumn2_3_merge {
    width: 753px;
  }

  div#FlightStatusBar ul {
    height: 22px;
    margin: 0px;
  }
  div#FlightStatusBar ul li {
    width: 22px;
    height: 22px;
    margin: 0px 3.75px 0px 0px;
  }
  div#FlightStatusBar ul li > div {
    width: 22px;
    height: 22px;
  }
  div#FlightStatusBar div#FlightStatusIconInfo {
    margin-top: 3.75px;
  }
  div#FlightStatusBar div#FlightStatusIconInfo span {
    background-color: #ff0000;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-size: 11px;
    display: table-cell;
  }

  div#FlightData ul li div {
    font-size: 12px;
  }
  div#FlightData ul li div.col1 {
    width: 43.2px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col2 {
    width: 64.8px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col3 {
    width: 64.8px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col4 {
    width: 43.2px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col5 {
    width: 43.2px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col6 {
    width: 43.2px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col7 {
    width: 43.2px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col8 {
    width: 43.2px;
    margin-right: 5px;
  }
  div#FlightData ul li div.col9 {
    width: 43.2px;
    margin-right: 0px;
  }
  div#FlightData div.data-rows {
    height: 95px;
    overflow: auto;
    overflow-y: scroll;
  }
  div#FlightData ul.header-row li {
    font-weight: bold;
  }

  div#BottomMapInfo,
  div#ComSection,
  div#GoogleMap,
  div#CesiumMap {
    height: 350px;
  }

  div#BottomMapInfo {
    width: 126px;
  }
  div#BottomMapInfo li {
    width: 126px;
    font-size: 13px;
  }

  div#ComSection {
    width: 378px;
  }
  div#ComSection div.caption {
    font-size: 21px;
    letter-spacing: 4.33333px;
    height: 31px;
    line-height: 21px;
  }
  div#ComSection div#ComsContent {
    width: 378px;
    height: 289px;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
  }
  div#ComSection div#ComsSendMessage {
    width: 378px;
    height: 30px;
    background-color: green;
  }
  div#ComSection div#ComsSendMessage div.ContentBox, div#ComSection div#ComsSendMessage div.ContentButton {
    float: left;
    width: 100%;
    height: 30px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox input, div#ComSection div#ComsSendMessage div.ContentButton input {
    margin: 0px;
    line-height: 30px;
    border: 0px;
    height: 30px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox input {
    padding: 0px 10px 0px 10px;
    width: 308px;
  }
  div#ComSection div#ComsSendMessage div.ContentButton input {
    padding: 0px;
    width: 50px;
  }
  div#ComSection div#ComsSendMessage div.ContentButton {
    width: 50px;
  }
  div#ComSection div#ComsSendMessage div.ContentBox {
    width: 328px;
  }

  div#GoogleMap,
  div#CesiumMap {
    width: 756px;
  }

  div#FlightData {
    margin-top: 15px;
  }
}
