@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/../fonts/fontawesome-webfont.ttf?1450774730') format('truetype'), url('../fonts/../fonts/FontAwesome.otf?1450774730') format('opentype'), url('../fonts/../fonts/fontawesome-webfont.svg?1450774730') format('svg'), url('../fonts/../fonts/fontawesome-webfont.eot?1450774730') format('embedded-opentype'), url('../fonts/../fonts/fontawesome-webfont.woff?1450774730') format('woff'), url('../fonts/../fonts/fontawesome-webfont.woff2?1450774730') format('woff2');
}
@font-face {
  font-family: 'Avenir Next Condensed Demi';
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic.svg#AvenirNextCondensed/AvenirNextCondensed-DemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Bold.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Bold.svg#AvenirNextCondensed/AvenirNextCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed Ultra';
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLight.svg#AvenirNextCondensed/AvenirNextCondensed-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Italic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Italic.svg#AvenirNextCondensed/AvenirNextCondensed-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Heavy.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Heavy.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Heavy.svg#AvenirNextCondensed/AvenirNextCondensed-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed Demi';
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-DemiBold.svg#AvenirNextCondensed/AvenirNextCondensed-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Medium.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Medium.svg#AvenirNextCondensed/AvenirNextCondensed-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-Regular.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-Regular.svg#AvenirNextCondensed/AvenirNextCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-MediumItalic.svg#AvenirNextCondensed/AvenirNextCondensed-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-BoldItalic.svg#AvenirNextCondensed/AvenirNextCondensed-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed';
  src: url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-HeavyItalic.svg#AvenirNextCondensed/AvenirNextCondensed-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Condensed Ultra';
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.eot");
  src: url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.woff2") format("woff2"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.woff") format("woff"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.ttf") format("truetype"), url("AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic.svg#AvenirNextCondensed/AvenirNextCondensed-UltraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Lt2.eot");
  src: url("Advent/advent-Lt2.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Lt2.woff2") format("woff2"), url("Advent/advent-Lt2.woff") format("woff"), url("Advent/advent-Lt2.ttf") format("truetype"), url("Advent/advent-Lt2.svg#advent-Lt2") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Regular.eot");
  src: url("Advent/advent-Regular.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Regular.woff2") format("woff2"), url("Advent/advent-Regular.woff") format("woff"), url("Advent/advent-Regular.ttf") format("truetype"), url("Advent/advent-Regular.svg#advent-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Bd2.eot");
  src: url("Advent/advent-Bd2.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Bd2.woff2") format("woff2"), url("Advent/advent-Bd2.woff") format("woff"), url("Advent/advent-Bd2.ttf") format("truetype"), url("Advent/advent-Bd2.svg#advent-Bd2") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Bd1.eot");
  src: url("Advent/advent-Bd1.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Bd1.woff2") format("woff2"), url("Advent/advent-Bd1.woff") format("woff"), url("Advent/advent-Bd1.ttf") format("truetype"), url("Advent/advent-Bd1.svg#advent-Bd1") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Lt3.eot");
  src: url("Advent/advent-Lt3.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Lt3.woff2") format("woff2"), url("Advent/advent-Lt3.woff") format("woff"), url("Advent/advent-Lt3.ttf") format("truetype"), url("Advent/advent-Lt3.svg#advent-Lt3") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Bd3.eot");
  src: url("Advent/advent-Bd3.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Bd3.woff2") format("woff2"), url("Advent/advent-Bd3.woff") format("woff"), url("Advent/advent-Bd3.ttf") format("truetype"), url("Advent/advent-Bd3.svg#advent-Bd3") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Advent';
  src: url("Advent/advent-Lt1.eot");
  src: url("Advent/advent-Lt1.eot?#iefix") format("embedded-opentype"), url("Advent/advent-Lt1.woff2") format("woff2"), url("Advent/advent-Lt1.woff") format("woff"), url("Advent/advent-Lt1.ttf") format("truetype"), url("Advent/advent-Lt1.svg#advent-Lt1") format("svg");
  font-weight: 300;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #1C1C1C;
  font-family: 'Avenir Next Condensed';
}

div {
  box-sizing: border-box;
}

span.icon {
  font-family: 'FontAwesome';
}

a {
  text-decoration: none;
  color: #ff0000;
}
a:hover {
  text-decoration: none;
  color: #18bdec;
}

div.clear {
  display: block;
  clear: both;
  float: none;
}

div#Overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 99;
  display: none;
}
div#Overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -128px;
  width: 256px;
  height: 256px;
}

section::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

header::after {
  content: "";
  display: block;
  clear: both;
  float: none;
  border-bottom: 1px #7f7f7f solid;
}

div.left-section {
  float: left;
}
div.left-section img {
  width: auto;
}

div.right-section {
  float: right;
}

nav.user-management {
  content: "";
  display: block;
  clear: both;
  float: none;
}
nav.user-management ul {
  margin: 0px;
  padding: 0px;
  float: right;
}
nav.user-management ul li {
  display: inline-block;
}
nav.user-management ul li#user-menu {
  position: relative;
}
nav.user-management ul li#user-menu ul {
  position: absolute;
  left: 0px;
  display: none;
}
nav.user-management ul li#user-menu ul li {
  display: block;
  padding: 5px 0px 0px 0px;
  margin-left: 0px;
  white-space: nowrap;
}
nav.user-management ul li#user-menu:hover > a {
  color: #18bdec;
}
nav.user-management ul:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

nav.main-menu {
  content: "";
  display: block;
  clear: both;
  float: none;
}
nav.main-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: right;
  background-color: white;
}
nav.main-menu ul a {
  color: #1C1C1C;
}
nav.main-menu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
nav.main-menu ul li:hover > a {
  color: #ff0000;
}
nav.main-menu ul li:hover ul {
  display: block;
}
nav.main-menu ul li ul {
  position: absolute;
  display: none;
  left: 0;
  z-index: 9;
}
nav.main-menu ul li ul li {
  display: block;
}
nav.main-menu ul li ul li a {
  color: #1C1C1C;
}
nav.main-menu ul li ul li:hover a {
  color: #ff0000;
}
nav.main-menu ul li:last-child {
  padding-right: 0px;
}
nav.main-menu ul li:last-child ul {
  right: 0px !important;
  left: auto !important;
}

nav.breadcrumbs {
  margin-top: 5px;
  content: "";
  display: block;
  clear: both;
  float: none;
}
nav.breadcrumbs ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: right;
}
nav.breadcrumbs ul li {
  padding: 0px 3px 0px 0px;
  display: inline-block;
  list-style: none;
}
nav.breadcrumbs ul li a {
  color: #1C1C1C;
}
nav.breadcrumbs ul li:hover a {
  color: #18bdec;
}
nav.breadcrumbs ul li:after {
  display: inline-block;
  padding-left: 3px;
  content: ">";
}
nav.breadcrumbs ul li:last-child {
  padding-right: 0px;
  color: #ff0000;
}
nav.breadcrumbs ul li:last-child:after {
  padding-right: 0px;
  content: "";
  display: none;
}

div.ADSBOverlay {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
div.ADSBOverlay div.ADSB-Icon {
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: contain;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

@media screen and (min-width: 720px) {
  header {
    margin-top: 8px;
  }
  header:after {
    padding-top: 8px;
    margin-bottom: 8px;
  }

  nav.user-management ul li {
    margin-left: 8px;
  }
  nav.user-management ul li ul li {
    padding: 5px 8px 0px 8px;
  }

  nav.main-menu ul li {
    padding-right: 8px;
    padding-left: 8px;
  }

  body {
    font-size: 12pt;
  }

  nav .user-management > ul > li > ul,
  nav.main-menu > ul > li > ul {
    top: 12pt;
  }

  #FlightChartInfos div.flightchartinfo div.title {
    font-size: 9.75pt;
  }
  #FlightChartInfos div.flightchartinfo div.sub-title {
    font-size: 9pt;
  }

  section {
    width: 720px;
    margin: auto;
  }

  div.left-section img {
    height: 30px;
  }
}
@media screen and (min-width: 1080px) {
  header {
    margin-top: 12px;
  }
  header:after {
    padding-top: 12px;
    margin-bottom: 12px;
  }

  nav.user-management ul li {
    margin-left: 12px;
  }
  nav.user-management ul li ul li {
    padding: 5px 12px 0px 12px;
  }

  nav.main-menu ul li {
    padding-right: 12px;
    padding-left: 12px;
  }

  body {
    font-size: 13pt;
  }

  nav .user-management > ul > li > ul,
  nav.main-menu > ul > li > ul {
    top: 13pt;
  }

  #FlightChartInfos div.flightchartinfo div.title {
    font-size: 10.75pt;
  }
  #FlightChartInfos div.flightchartinfo div.sub-title {
    font-size: 10pt;
  }

  section {
    width: 1080px;
    margin: auto;
  }

  div.left-section img {
    height: 40px;
  }
}
@media screen and (min-width: 1320px) {
  header {
    margin-top: 15px;
  }
  header:after {
    padding-top: 15px;
    margin-bottom: 15px;
  }

  nav.user-management ul li {
    margin-left: 15px;
  }
  nav.user-management ul li ul li {
    padding: 5px 15px 0px 15px;
  }

  nav.main-menu ul li {
    padding-right: 15px;
    padding-left: 15px;
  }

  body {
    font-size: 14pt;
  }

  nav .user-management > ul > li > ul,
  nav.main-menu > ul > li > ul {
    top: 14pt;
  }

  #FlightChartInfos div.flightchartinfo div.title {
    font-size: 11.75pt;
  }
  #FlightChartInfos div.flightchartinfo div.sub-title {
    font-size: 11pt;
  }

  section {
    width: 1260px;
    margin: auto;
  }

  div.left-section img {
    height: 50px;
  }
}
