@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/../fonts/fontawesome-webfont.ttf?1450774730') format('truetype'), url('../fonts/../fonts/FontAwesome.otf?1450774730') format('opentype'), url('../fonts/../fonts/fontawesome-webfont.svg?1450774730') format('svg'), url('../fonts/../fonts/fontawesome-webfont.eot?1450774730') format('embedded-opentype'), url('../fonts/../fonts/fontawesome-webfont.woff?1450774730') format('woff'), url('../fonts/../fonts/fontawesome-webfont.woff2?1450774730') format('woff2');
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/../fonts/OpenSans.ttf?1478508894') format('truetype'), url('../fonts/../fonts/OpenSans.eot?1478508894') format('embedded-opentype'), url('../fonts/../fonts/OpenSans.svg?1478508894') format('svg'), url('../fonts/../fonts/OpenSans.woff?1478508894') format('woff'), url('../fonts/../fonts/OpenSans.woff2?1478508894') format('woff2');
}
@font-face {
  font-family: "Gobold_Light";
  src: url('../fonts/../fonts/GoboldThinLight.ttf?1478593771') format('truetype'), url('../fonts/../fonts/GoboldThinLight.eot?1478593771') format('embedded-opentype'), url('../fonts/../fonts/GoboldThinLight.svg?1478593771') format('svg'), url('../fonts/../fonts/GoboldThinLight.woff?1478593771') format('woff'), url('../fonts/../fonts/GoboldThinLight.woff2?1478593771') format('woff2');
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
table {
  box-sizing: border-box;
}

span.refresh,
span.icon,
span.green_icon {
  font-family: FontAwesome;
  font-size: 12px;
  display: inline-block;
}

span.refresh {
  margin-left: 5px;
  cursor: pointer;
}
span.refresh:hover {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#flightmap {
  min-height: 510px;
}

input,
select,
textarea,
button,
file {
  box-sizing: border-box;
  border: 1px silver solid;
  font-family: OpenSans;
  color: #474747;
  margin: 0px;
}

input,
select,
textarea,
button {
  padding: 2px 4px 2px 4px;
}

input[type=datetime] {
  background-image: url("../images/cal-icon.png");
  background-position: calc(100% - 4px) 3px;
  background-repeat: no-repeat;
  cursor: pointer;
}

input.time-picker {
  background-image: url("../images/time-picker.png");
  background-position: calc(100% - 4px) 3px;
  background-repeat: no-repeat;
  background-size: 20px;
}

select {
  padding: 1px 4px 1px 4px;
}

div.label {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  background-color: white;
  border-radius: 10px;
  width: 30px;
}

h2 {
  font-family: Gobold_Light;
  color: #474747;
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px #474747 solid;
}

a {
  text-decoration: none;
  color: #ff0000;
}

a:hover {
  text-decoration: underline;
  color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input.spinner {
  width: 30px;
}

ul.simple-list {
  list-style: none;
  margin: 0px 0px 0px 5px;
  padding: 0px;
}
ul.simple-list li {
  margin: 0px;
  margin: 5px 0px 5px 0px;
}
ul.simple-list input[type="checkbox"] {
  display: none;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
ul.simple-list input[type="checkbox"] + label {
  padding-left: 20px;
  background-image: url("/images/adsb-check-off.png");
  background-repeat: no-repeat;
  background-position: left center;
  height: 16px;
  display: block;
}
ul.simple-list input[type="checkbox"]:checked + label {
  background-image: url("/images/adsb-check-on.png");
}

ul.multi-select {
  margin: 10px 0px 5px 5px;
  padding: 0px;
}
ul.multi-select li {
  display: inline-block;
}
ul.multi-select input[type="checkbox"] {
  display: none;
}
ul.multi-select input[type="checkbox"] + label {
  margin: 0px 6px 3px 0px;
  padding: 0px 5px 0px 5px;
  border-radius: 6px;
  background-color: white;
}
ul.multi-select input[type="checkbox"]:checked + label {
  background-color: #53a100;
  color: white;
}
ul.multi-select input[type="checkbox"] + label:hover {
  background-color: #87d534;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: OpenSans;
  color: #292929;
}

body {
  padding: 10px 30px 60px 30px;
  box-sizing: border-box;
  position: relative;
}

footer {
  border-top: 1px red solid;
  font-size: 8pt;
  padding: 3px 0px 10px 0px;
}

div.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.shaded {
  background-color: #ededed;
}

header {
  font-size: 11px;
}
header div.left-section {
  float: left;
}
header div.right-section {
  float: right;
}
header div.logo img {
  width: auto;
  height: 72px;
}
header:after {
  clear: both;
  display: block;
  content: "";
}

.ui-spinner-input {
  margin: 0px 16px 0px 3px;
}

nav {
  text-transform: uppercase;
}

nav.user-management ul,
nav.main-menu ul,
nav.breadcrumbs ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav.user-management ul li,
nav.main-menu ul li,
nav.breadcrumbs ul li {
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}
nav.user-management ul li:last-child ul,
nav.main-menu ul li:last-child ul,
nav.breadcrumbs ul li:last-child ul {
  left: auto !important;
  right: 0px !important;
}
nav.user-management ul li ul,
nav.main-menu ul li ul,
nav.breadcrumbs ul li ul {
  position: absolute;
  top: 14px;
  left: 0px;
  display: none;
  z-index: 10;
}
nav.user-management ul li ul li,
nav.main-menu ul li ul li,
nav.breadcrumbs ul li ul li {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
nav.user-management ul li:hover ul,
nav.main-menu ul li:hover ul,
nav.breadcrumbs ul li:hover ul {
  display: block;
}
nav.user-management ul li a,
nav.main-menu ul li a,
nav.breadcrumbs ul li a {
  text-decoration: none;
  color: #292929;
}
nav.user-management:after,
nav.main-menu:after,
nav.breadcrumbs:after {
  clear: both;
  display: block;
  content: "";
}

nav.user-management ul {
  margin-right: 12px;
}
nav.user-management ul li {
  border-right: 1px black solid;
}
nav.user-management ul li:last-child {
  border-right: 0px white none;
}
nav.user-management ul li span.icon {
  display: inline-block;
}
nav.user-management ul li:hover span.icon {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
nav.user-management ul li#user-menu:hover {
  background-color: #cacaca;
}
nav.user-management ul li ul {
  background-color: #e5e5e5;
  min-width: 100%;
  margin-right: 0px;
}
nav.user-management ul li ul li {
  border-right: 0px white none;
  min-width: 100%;
}
nav.user-management ul li ul li:hover {
  background-color: #cacaca;
}

nav.main-menu {
  margin-top: 5px;
}
nav.main-menu ul li {
  padding: 7px 12px 6px 12px;
  background-color: #e5e5e5;
}
nav.main-menu ul li a {
  display: block;
  width: 100%;
}
nav.main-menu ul li ul {
  top: 25px;
  background-color: #cacaca;
  width: auto;
}
nav.main-menu ul li ul li {
  min-width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 5px 12px 5px 12px;
  background-color: #cacaca;
}
nav.main-menu ul li ul li:hover {
  background-color: #e5e5e5;
}
nav.main-menu ul li:last-child {
  padding-right: 17px;
}
nav.main-menu ul li:hover {
  background-color: #cacaca;
}
nav.main-menu div.navigation-logo {
  float: left;
  margin-right: 10px;
  background-color: #e5e5e5;
}
nav.main-menu div.navigation-logo img {
  height: 16px;
  width: auto;
  padding: 5px 10px 4px 10px;
}

nav.breadcrumbs {
  margin-top: 5px;
}
nav.breadcrumbs ul li {
  padding: 0px 3px 0px 0px;
}
nav.breadcrumbs ul li:after {
  display: inline-block;
  padding-left: 3px;
  content: ">";
}
nav.breadcrumbs ul li:last-child {
  color: red;
  padding-right: 12px;
}
nav.breadcrumbs ul li:last-child:after {
  display: none;
  padding: 0px;
  content: "";
}

div.column-group:after,
table.info-tiles:after {
  clear: both;
  display: block;
  content: "";
}

section {
  margin: 0px auto 0px auto;
}
section:after {
  clear: both;
  display: block;
  content: "";
}
section.body-content {
  font-size: 11pt;
}
section div.body-title {
  padding: 5px 0px 5px 5px;
  background-color: #474747;
  color: white;
  margin: 12px 0px 0px 0px;
  font-family: Gobold_Light;
  font-size: 18px;
  color: #ff9b9b;
}
section div.column {
  box-sizing: border-box;
  float: left;
}
section div.column:last-child {
  border-right: 0px red none;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  section {
    width: 1150px;
    font-size: 11pt;
  }
  section div.column {
    margin-right: 15px;
  }
  section div.column div.column-content {
    width: 100%;
    padding: 0px 0px 0px 5px;
    box-sizing: border-box;
  }
  section div.column div.title {
    padding: 5px 0px 5px 5px;
    background-color: #474747;
    margin: 0px;
    font-family: Gobold_Light;
    font-size: 12px;
    color: #cacaca;
  }
  section div.column div.title div.button {
    float: right;
    display: inline-block;
    padding: 0px 8px 2px 8px;
    background-color: #e5e5e5;
    color: black;
    margin-right: 10px;
    font-family: OpenSans;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  section div.column div.title div.button:hover {
    background-color: #ff9b9b;
  }
  section div.column div.title div.info {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    color: white;
  }
  section div.column div.sub-title {
    padding: 5px 0px 5px 5px;
    background-color: #ededed;
    border-bottom: 2px white solid;
    margin: 0px 0px 5px 0px;
    font-family: Gobold_Light;
    font-size: 10px;
  }
  section div.column.NoVideo div#FlightSummary {
    width: 100%;
  }
  section div.column-full {
    width: 1150px;
  }
  section div.column-half {
    width: 567.5px;
  }
  section div.column-half div.column-2-of-6 {
    width: 221px;
  }
  section div.column-half div.column-4-of-6 {
    width: 331.5px;
  }
  section div.column-half div#FlightVideo {
    width: 240px;
    height: 160px;
    float: left;
    background-color: black;
  }
  section div.column-half div#FlightSummary {
    width: 327.5px;
    float: right;
  }
  section div.column-half div#FlightSummary.NoVideo {
    width: 100%;
    float: none;
    padding-top: 5px;
  }
  section div.column-half div#FlightSummary.NoVideo div#GeneralInformation table.infoTable td {
    width: 50%;
  }
  section div.column-half div#FlightSummary.NoVideo div#GeneralInformation table.infoTable td > div {
    line-height: 30px;
    float: left;
  }
  section div.column-half div#FlightSummary.NoVideo div#GeneralInformation table.infoTable td div.FlightSummaryImage {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
  }
  section div.column-2-of-6 {
    width: 373.33333px;
  }
  section div.column-4-of-6 {
    width: 761.66667px;
  }
  section div.column-1-of-3 {
    width: 373.33333px;
  }
  section div.column-3 {
    width: 378.33333px;
  }
  section div.column-3 div.column-2-of-6 {
    width: 145.33333px;
  }
  section div.column-3 div.column-4-of-6 {
    width: 218px;
  }
  section div.column-3 div#FlightVideo {
    width: 240px;
    height: 140px;
    float: left;
    background-color: black;
  }
  section div.column-3 div#FlightSummary {
    width: 100%;
    align-items: center;
    float: right;
  }
  section div.column-3 div#FlightSummary.NoVideo {
    width: 100%;
    float: none;
    padding-top: 10px;
  }
  section div.hr {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 2px;
  }
  section div.fixed-height-1 {
    height: 165px;
  }
  section .top-space, section.top-space {
    margin-top: 15px;
  }
  section div.two-column-form-group div.form-group {
    width: 48%;
    float: left;
  }
  section div.two-column-form-group div.form-group:after {
    clear: both;
    display: block;
    content: "";
  }
  section div.two-column-form-group div.form-group:last-child {
    margin-left: 4%;
  }

  footer {
    width: 1150px;
    margin: auto;
  }
}
div#Overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(85, 49, 5, 0.53);
  display: none;
}
div#Overlay img {
  position: relative;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  left: 50%;
  top: 50%;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

div.dataTables_wrapper {
  margin-top: 12px;
}

div.dataTables_head {
  background-color: #474747;
  padding: 5px;
}
div.dataTables_head:after {
  clear: both;
  display: block;
  content: "";
}
div.dataTables_head label {
  color: white;
}
div.dataTables_head span.refresh {
  color: white;
}
div.dataTables_head input {
  font-size: 8pt;
}

table.report thead tr th {
  padding: 4px 2px 4px 4px;
  font-weight: normal;
  text-align: left;
  border-left: 1px silver solid;
  border-bottom: 2px solid red;
}
table.report thead tr th:last-child {
  border-left: 0px silver none;
  border-right: 1px silver solid;
}
table.report tbody tr td {
  border-left: 1px silver solid;
  padding: 4px 2px 4px 4px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
table.report tbody tr td:last-child {
  border-right: 1px silver solid;
  border-left: 0px silver none;
}
table.report tbody tr td.menu {
  position: relative;
  width: 16px;
}
table.report tbody tr td.menu img {
  display: none;
  visibility: hidden;
}
table.report tbody tr.even td {
  background-color: #f1f1f1;
}
table.report tbody tr:hover td {
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background-color: #e5e5e5;
}
table.report tbody tr.active td {
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background-color: #cacaca;
}
table.report tbody tr:hover td.menu, table.report tbody tr.active td.menu {
  background-image: url("../images/menu-drop-down.png");
  background-repeat: no-repeat;
  background-position: right center;
}
table.report tfoot tr th {
  color: silver;
  padding: 4px 2px 4px 4px;
  font-weight: normal;
  text-align: left;
  border-left: 1px silver solid;
  border-bottom: 1px #474747 solid;
  border-top: 1px #474747 solid;
}
table.report tfoot tr th:last-child {
  border-left: 0px silver none;
  border-right: 1px silver solid;
}

table.dataTable thead .sorting {
  background-image: none;
}

UL.qViewMenu {
  position: absolute;
  right: 0px;
  top: 28px;
  background-color: #cacaca;
  list-style: none;
  margin: 0px;
  padding: 0px;
  z-index: 10;
  display: block;
}
UL.qViewMenu li:hover {
  background-color: #e5e5e5;
}
UL.qViewMenu li a {
  color: black;
  text-decoration: none;
  display: block;
  min-width: 120px;
  padding: 5px 10px 5px 10px;
}

div.form-horizontal {
  border: 1px #474747 solid;
  margin: 0px auto 40px auto;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
}
div.form-horizontal.NoBorder {
  border: 0px red none !important;
  padding: 0px !important;
}
div.form-horizontal span.field-validation-error {
  display: block;
  color: red;
}
div.form-horizontal div.two-column-form-group div.form-group {
  width: 48%;
  float: left;
}
div.form-horizontal div.two-column-form-group div.form-group:after {
  clear: both;
  display: block;
  content: "";
}
div.form-horizontal div.two-column-form-group div.form-group:last-child {
  margin-left: 4%;
}
div.form-horizontal div.editor-label {
  padding-bottom: 3px;
}
div.form-horizontal div.form-toolbar {
  padding: 20px 0px 0px 0px;
}
div.form-horizontal div.editor-field,
div.form-horizontal div.form-group {
  width: 100%;
  margin-bottom: 12px;
}
div.form-horizontal div.editor-field div.col-md-10,
div.form-horizontal div.form-group div.col-md-10 {
  width: 100%;
}
div.form-horizontal select,
div.form-horizontal input[type=text],
div.form-horizontal input[type=file],
div.form-horizontal input[type=datetime],
div.form-horizontal input[type=number],
div.form-horizontal input[type=password],
div.form-horizontal textarea {
  width: 100%;
}
div.form-horizontal input,
div.form-horizontal select,
div.form-horizontal textarea,
div.form-horizontal button {
  font-size: 11pt;
}
div.form-horizontal textarea {
  min-height: 150px;
}
div.form-horizontal input[type=submit] {
  padding: 3px 15px 3px 15px;
  color: #ff9b9b;
  font-family: Gobold_Light;
  font-size: 12pt;
  text-transform: uppercase;
  background-color: #474747;
  border: 1px silver outset;
}

table.infoTable {
  width: 100%;
}
table.infoTable tr td {
  padding: 0px 5px 5px 0px;
}
table.infoTable tr td span {
  display: inline-block;
  padding-left: 0px;
  color: red;
}

div#FlightInfoNOC {
  background-color: #cacaca;
  padding: 4px 0px 4px 5px;
  margin-bottom: 5px;
}
div#FlightInfoNOC span {
  display: inline-block;
  padding-left: 0px;
  color: red;
}

#FlightInformation {
  background-color: #e5e5e5;
}

#FlightInformation:after,
#FlightSummary:after {
  clear: both;
  display: block;
  content: "";
}

#FlightInformation table.FlightLastInformation {
  width: 100%;
}
#FlightInformation table.FlightLastInformation tr td {
  width: 50%;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-size: 8pt;
}
#FlightInformation table.FlightLastInformation tr td span {
  font-size: 10pt;
  font-weight: bold;
  color: red;
}

#FlightGraph,
#SecondGraph {
  width: 100%;
  height: 90px;
  background-color: white;
  margin-top: 5px;
}

#ThirdGraph {
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 5px;
  border-top: 1px red solid;
  padding-top: 5px;
}

#FlightData {
  margin-top: 10px;
  font-size: 11px;
}
#FlightData div#FlightPichRoll {
  float: right;
  width: 70px;
  height: 125px;
  padding-top: 10px;
}
#FlightData div#FlightPichRoll div.MapDataHolder {
  width: 70px;
  height: 60px;
  display: block;
  position: relative;
  margin-bottom: 20px;
}
#FlightData div#FlightPichRoll div.MapDataHolder div.info {
  position: absolute;
  bottom: 0px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
#FlightData div#FlightPichRoll img.MapDataShow {
  position: absolute;
  width: 40px;
  padding: 0px 0px 0px 10px;
  height: 40px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#FlightData div#FlightPichRoll img:hover {
  -webkit-transform: rotateX(30deg);
  transform: rotateX(30deg);
}
#FlightData div#FlightDataInfo {
  width: 497.5px;
  float: left;
}
#FlightData ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#FlightData ul.FlightDataRow li {
  width: 40px;
  float: left;
  margin-right: 5px;
  padding: 2px 2px 2px 2px;
}
#FlightData ul.FlightDataRow li.col8,
#FlightData ul.FlightDataRow li.col9 {
  width: 30px;
}
#FlightData ul.FlightDataRow:after {
  clear: both;
  display: block;
  content: "";
}
#FlightData ul#FlightDataHeader > li {
  border-bottom: 2px red solid;
  background-color: #e5e5e5;
}
#FlightData ul#FlightDataScroll {
  height: 125px;
  width: 100%;
  overflow-y: auto;
  border-bottom: 1px red solid;
}
#FlightData ul#FlightDataScroll > li {
  border-bottom: 1px #e5e5e5 solid;
}

div#RpasInformation div.FlightSummaryImage {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-color: white;
  margin: auto;
}
div#RpasInformation table {
  margin-top: 5px;
}
div#RpasInformation table td {
  white-space: nowrap;
  text-align: center;
}
div#RpasInformation table td a {
  text-decoration: none;
  border-bottom: 1px #292929 dotted;
  color: #292929;
}
div#RpasInformation table td a:hover {
  border-bottom: 1px red dotted;
}

.dash-image {
  width: 30px;
  height: 30px;
  background-color: #565555;
  -webkit-mask-size: 30px 30px;
  display: block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  float: left;
}
.dash-image.img_duration {
  -webkit-mask-image: url("/images/image5.png");
  mask-image: url("/images/image5.png");
}
.dash-image.img_altitude {
  background-color: #dbd301;
  -webkit-mask-image: url(/images/image7.png);
  mask-image: url(/images/image7.png);
}
.dash-image.img_speed {
  background-color: #0b9076;
  -webkit-mask-image: url(/images/image6.png);
  mask-image: url(/images/image6.png);
}
.dash-image.img_distance {
  -webkit-mask-image: url("/images/image12.png");
  mask-image: url("/images/image12.png");
}

div.dashboard-column {
  background-color: #e5e5e5;
  margin-bottom: 20px;
}
div.dashboard-column div.fixed-height {
  height: 300px;
  padding: 10px;
  overflow: auto;
}
div.dashboard-column div.fixed-height div.SummaryImage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: white;
  background-size: cover;
  margin: auto;
}
div.dashboard-column div.fixed-height div.SummaryCaption {
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  margin: 5px 0px 10px 0px;
}
div.dashboard-column div.fixed-height ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
div.dashboard-column div.fixed-height ul li {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px #cacaca solid;
}
div.dashboard-column div.fixed-height ul li div.icon {
  float: left;
  margin-right: 10px;
}
div.dashboard-column div.fixed-height ul li div.icon img {
  width: 40px;
  height: auto;
}
div.dashboard-column div.fixed-height ul li div.caption {
  font-weight: bold;
}
div.dashboard-column div.fixed-height ul li div.caption a {
  text-decoration: none;
  color: #474747;
}
div.dashboard-column div.fixed-height ul li div.caption a:hover {
  color: red;
}
div.dashboard-column div.fixed-height ul li div.caption .UniformWidth {
  width: 200px;
}
div.dashboard-column div.fixed-height ul li div.floating {
  float: right;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
  font-size: 8pt;
  color: white;
}
div.dashboard-column div.fixed-height ul li div.floating.Rejected {
  background-color: #fe0000;
}
div.dashboard-column div.fixed-height ul li div.floating.Amended {
  background-color: #f2a003;
}
div.dashboard-column div.fixed-height ul li div.floating.Approved {
  background-color: #53a100;
}
div.dashboard-column div.fixed-height ul li div.floating.New {
  background-color: #018aff;
}
div.dashboard-column div.fixed-height ul.single-line li {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
}
div.dashboard-column div.fixed-height ul.single-line li:after {
  clear: both;
  display: block;
  content: "";
}
div.dashboard-column div.fixed-height ul.single-line li div.caption,
div.dashboard-column div.fixed-height ul.single-line li div.detail {
  float: left;
}
div.dashboard-column div.fixed-height ul.single-line li div.detail {
  margin-left: 5px;
  color: red;
}
div.dashboard-column div.toolbar {
  height: 20px;
  padding: 0px 0px 10px 0px;
}
div.dashboard-column div.toolbar div.button {
  float: right;
  margin: 0px 10px 0px 0px;
  border: 1px #cacaca solid;
  background-color: white;
  border-radius: 5px;
  padding: 2px 15px 4px 15px;
  cursor: pointer;
  color: black;
}
div.dashboard-column div.toolbar div.button span.icon {
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 5px;
  background-color: #53a100;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
}
div.dashboard-column div.toolbar div.button:hover {
  background-color: #474747;
  color: white;
}

#loginForm input[type=text],
#loginForm input[type=password] {
  width: 60%;
}

table.qDetailView {
  width: 100%;
}
table.qDetailView tr td {
  padding: 3px 15px 3px 0px;
  border-bottom: 1px #e5e5e5 solid;
}
table.qDetailView tr td span.value {
  padding-left: 15px;
  color: red;
}

div.photo-upload {
  float: right;
  width: 160px;
  height: 160px;
}
div.photo-upload div.user-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
div.photo-upload div.user-photo img {
  width: 160px;
  height: auto;
}

div.GraphSection {
  margin-top: 10px;
}
div.GraphSection table {
  width: 570px;
  height: 100px;
}
div.GraphSection table tr td.Graph {
  width: 281.5px;
}
div.GraphSection table tr td.GraphDivider {
  width: 7px;
}
div.GraphSection table tr td.GraphDivider > div {
  margin: 0px 3px 0px 3px;
  width: 1px;
  background-color: red;
  height: 100px;
  display: block;
}

div#Legend ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
div#Legend ul li {
  float: left;
  margin-right: 65px;
}
div#Legend ul li:last-child {
  margin-right: 0px;
}
div#Legend ul li span {
  margin-right: 5px;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: black;
}
div#Legend ul li span.pitch {
  background-color: #ff5900;
}
div#Legend ul li span.altitude {
  background-color: #dbd301;
}
div#Legend ul li span.satallite {
  background-color: #65ba19;
}
div#Legend ul li span.speed {
  background-color: #0b9076;
}
div#Legend ul li span.roll {
  background-color: #9983c7;
}
div#Legend:after {
  clear: both;
  display: block;
  content: "";
}

div.adsb-point {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
div.adsb-point canvas {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 0;
}
div.adsb-point span.tail {
  position: absolute;
  background-color: aquamarine;
  width: 2px;
  height: 2px;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 50%;
  display: block;
  font-size: 1px;
}
div.adsb-point span.FlightIcon,
div.adsb-point span.DroneIcon {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 18px;
  width: 25px;
  height: 25px;
  margin-left: -13px;
  margin-top: -13px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
div.adsb-point span.flight-title {
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 10;
  color: white;
  display: none;
  padding: 0px 2px 0px 2px;
  font-size: 9px;
}
div.adsb-point:hover span.flight-title {
  display: block;
}
div.adsb-point.breach {
  color: #fe0000;
}
div.adsb-point.breach span.flight-title,
div.adsb-point.breach span.tail {
  background-color: #fe0000;
}
div.adsb-point.alert {
  color: #ff4e00;
}
div.adsb-point.alert span.flight-title,
div.adsb-point.alert span.tail {
  background-color: #f2a003;
}
div.adsb-point.safe {
  color: #0189ff;
}
div.adsb-point.safe span.flight-title,
div.adsb-point.safe span.tail {
  background-color: #53a100;
}
div.adsb-point.normal {
  color: #ffcc01;
}
div.adsb-point.normal span.flight-title,
div.adsb-point.normal span.tail {
  background-color: #ffcc01;
}
div.adsb-point.drone {
  color: #018aff;
}
div.adsb-point.drone span.flight-title,
div.adsb-point.drone span.tail {
  background-color: #018aff;
}
div.adsb-point.drone.breach span.flight-title,
div.adsb-point.drone.breach span.tail {
  background-color: red;
}
div.adsb-point.drone.alert span.flight-title,
div.adsb-point.drone.alert span.tail {
  background-color: #ff4e00;
}

#ShowUserDescription > span {
  font-weight: bold;
}
#ShowUserDescription #UserDescription {
  position: absolute;
  display: none;
  white-space: nowrap;
  border: 1px #222222 solid;
  background-color: #e5e5e5;
  padding: 10px;
  -moz-box-shadow: #222222 1px 1px 10px;
  -webkit-box-shadow: #222222 1px 1px 10px;
  box-shadow: #222222 1px 1px 10px;
}
#ShowUserDescription #UserDescription ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: left;
}
#ShowUserDescription #UserDescription ul:first-child {
  margin-right: 10px;
}
#ShowUserDescription #UserDescription ul li {
  list-style: none;
  padding: 0px 0px 4px 0px;
}
#ShowUserDescription #UserDescription ul li span {
  color: red;
  padding-left: 5px;
}
#ShowUserDescription #UserDescription ul li:first-child {
  font-weight: bold;
  border-bottom: 1px red solid;
  margin-bottom: 5px;
}
#ShowUserDescription:hover #UserDescription {
  display: block;
}

div.upload-btn {
  position: relative;
  margin-top: 10px;
}
div.upload-btn a {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: #474747;
  z-index: 11;
  border-radius: 5px;
  color: #ff9b9b;
  text-align: center;
  text-decoration: none;
  padding: 3px 0px 0px 0px;
  cursor: pointer;
  line-height: 30px;
  font-size: 11pt;
}
div.upload-btn input[type=file] {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  opacity: 0;
  z-index: 12;
  cursor: pointer;
}

div.error {
  color: red;
}

#DroneIcon {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -12px;
  margin-top: -12px;
  background-image: url("/images/Drone.png");
}

div.InfoWindow b {
  color: red;
}
div.InfoWindow span.value, div.InfoWindow span.feet {
  color: #ff5900;
  padding-left: 10px;
}
div.InfoWindow span.caption {
  width: 120px;
  display: inline-block;
}
div.InfoWindow span.meter {
  color: forestgreen;
  padding-left: 10px;
}
div.InfoWindow div.hr {
  font-size: 1px;
  height: 1px;
  width: 100%;
  background-color: silver;
  margin: 3px 0px 3px 0px;
}
