@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/../fonts/fontawesome-webfont.ttf?1450774730') format('truetype'), url('../fonts/../fonts/FontAwesome.otf?1450774730') format('opentype'), url('../fonts/../fonts/fontawesome-webfont.svg?1450774730') format('svg'), url('../fonts/../fonts/fontawesome-webfont.eot?1450774730') format('embedded-opentype'), url('../fonts/../fonts/fontawesome-webfont.woff?1450774730') format('woff'), url('../fonts/../fonts/fontawesome-webfont.woff2?1450774730') format('woff2');
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/../fonts/OpenSans.ttf?1478508894') format('truetype'), url('../fonts/../fonts/OpenSans.eot?1478508894') format('embedded-opentype'), url('../fonts/../fonts/OpenSans.svg?1478508894') format('svg'), url('../fonts/../fonts/OpenSans.woff?1478508894') format('woff'), url('../fonts/../fonts/OpenSans.woff2?1478508894') format('woff2');
}
@font-face {
  font-family: "Gobold_Light";
  src: url('../fonts/../fonts/GoboldThinLight.ttf?1478593771') format('truetype'), url('../fonts/../fonts/GoboldThinLight.eot?1478593771') format('embedded-opentype'), url('../fonts/../fonts/GoboldThinLight.svg?1478593771') format('svg'), url('../fonts/../fonts/GoboldThinLight.woff?1478593771') format('woff'), url('../fonts/../fonts/GoboldThinLight.woff2?1478593771') format('woff2');
}
.default-list, nav.main-menu, nav.user-management, nav.breadcrumbs {
  font-family: OpenSans, Arial;
  font-size: 9pt;
  color: darkgray;
}
.default-list ul, nav.main-menu ul, nav.user-management ul, nav.breadcrumbs ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.default-list ul li, nav.main-menu ul li, nav.user-management ul li, nav.breadcrumbs ul li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}
.default-list ul li a, nav.main-menu ul li a, nav.user-management ul li a, nav.breadcrumbs ul li a {
  text-decoration: none;
  color: black;
}
.default-list ul li a:hover, nav.main-menu ul li a:hover, nav.user-management ul li a:hover, nav.breadcrumbs ul li a:hover {
  color: red;
}
.default-list ul li ul, nav.main-menu ul li ul, nav.user-management ul li ul, nav.breadcrumbs ul li ul {
  display: none;
  position: absolute;
  left: -10px;
  top: 14px;
  padding: 10px;
}
.default-list ul li ul li, nav.main-menu ul li ul li, nav.user-management ul li ul li, nav.breadcrumbs ul li ul li {
  float: none;
  margin-right: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  position: unset;
  white-space: nowrap;
}
.default-list ul li ul li:last-child, nav.main-menu ul li ul li:last-child, nav.user-management ul li ul li:last-child, nav.breadcrumbs ul li ul li:last-child {
  padding-bottom: 0px;
}
.default-list ul li:hover > a, nav.main-menu ul li:hover > a, nav.user-management ul li:hover > a, nav.breadcrumbs ul li:hover > a {
  color: red;
}
.default-list ul li:hover ul, nav.main-menu ul li:hover ul, nav.user-management ul li:hover ul, nav.breadcrumbs ul li:hover ul {
  display: block;
}
.default-list ul li:last-child, nav.main-menu ul li:last-child, nav.user-management ul li:last-child, nav.breadcrumbs ul li:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border-right: 0px silver none;
}

.icon {
  font-family: 'FontAwesome';
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #333333;
  font-family: OpenSans, Arial;
  font-size: 9pt;
}

section {
  width: 950px;
  margin: 0px auto 5px auto;
}

header {
  margin-top: 20px;
}

div.newsection {
  margin-top: 10px;
}
div.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

div div.logo {
  width: 300px;
  height: 60px;
  float: left;
}
div div.logo img {
  width: 100%;
  height: auto !important;
}

nav.main-menu {
  float: right;
}

nav.user-management {
  float: right;
}
nav.user-management b {
  color: black;
}
nav.user-management > ul > li {
  margin-right: 0px;
  padding-right: 5px;
}
nav.user-management > ul > li::after {
  margin-left: 5px;
  content: "|";
}
nav.user-management > ul > li:last-child::after {
  content: "";
  display: none;
}

nav.main-menu > ul {
  margin-top: 30px;
}
nav.main-menu > ul > li {
  text-transform: uppercase;
}
nav.main-menu > ul > li > ul {
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 10;
}
nav.main-menu > ul > li > ul > li {
  text-transform: none;
}

nav.breadcrumbs {
  float: left;
}
nav.breadcrumbs ul li {
  font-size: 8pt;
  margin-right: 0px;
  padding-right: 5px;
}
nav.breadcrumbs ul li::after {
  margin-left: 5px;
  content: ">";
}
nav.breadcrumbs ul li:last-child::after {
  content: "";
}
nav.breadcrumbs::after {
  clear: both;
  display: block;
  content: "";
}

h1.page-title {
  margin: 0px;
  padding: 0px;
  font-family: OpenSans, Arial;
  color: red;
  font-size: 12pt;
}
h1.page-title::before {
  clear: both;
  display: block;
  content: "";
  height: 5px;
}

div.grid-section {
  width: 950px;
  margin-bottom: 10px;
}
div.grid-section > div {
  float: left;
  background-clip: padding-box;
  border-right: 10px solid transparent;
  min-height: 30px;
}
div.grid-section > div:last-child {
  border-right: 0px none;
}
div.grid-section > div.grid-2of8 {
  width: 230px;
}
div.grid-section > div.grid-3of8 {
  width: 350px;
}
div.grid-section > div.grid-4of8 {
  width: 470px;
}
div.grid-section:after {
  clear: both;
  display: block;
  content: "";
  height: 0px;
}

div.grid-section.flight-info > div {
  background-color: #ededed;
  text-transform: uppercase;
}
div.grid-section.flight-info > div * {
  font-size: 8pt;
}
div.grid-section.flight-info > div > table {
  height: 70px;
  padding: 10px 10px 10px 10px;
}
div.grid-section.flight-info > div > table th {
  margin: 0px;
  padding: 0px;
}
div.grid-section.flight-info > div > table td {
  margin: 0px;
  padding: 0px 0px 0px 15px;
}
div.grid-section.flight-info > div th {
  text-align: left;
}

table.warning tr td, table.warning tr th {
  padding: 3px;
}
table.warning tr th span.icon {
  font-size: 15pt;
}
table.warning tr.yellow td, table.warning tr.yellow th {
  color: #fe8400;
}
table.warning tr.red td, table.warning tr.red th {
  color: #ed1c22;
}

div#traffic_map {
  width: 100%;
  height: 260px;
}

div#traffic_chart {
  width: 100%;
  height: 125px;
}

div.traffic_data {
  height: 125px;
  background-color: #ededed;
}

table#traffic_data {
  width: 100%;
}
table#traffic_data thead {
  background-color: black;
  color: red;
}
table#traffic_data thead th {
  padding: 6px 2px 6px 2px;
  font-size: 6pt;
  text-align: left;
}
table#traffic_data thead th:first-child {
  padding-left: 12px;
}
table#traffic_data tbody td {
  padding: 1px 2px 1px 2px;
  border-bottom: 1px #dedede solid;
  font-size: 7pt;
  color: black;
}
table#traffic_data tbody td:first-child {
  padding-left: 12px;
}

ul.tiles {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.tiles li {
  width: 110px;
  float: left;
  margin-right: 10px;
  height: 125px;
  background-color: #e62a38;
}
ul.tiles li:last-child {
  margin-right: 0px;
}
ul.tiles li div.tile-icon {
  border-bottom: 1px white solid;
  width: 100%;
  text-align: center;
}
ul.tiles li div.tile-icon img {
  width: 40px;
  height: auto;
  padding: 0px 0px 3px 0px;
}
ul.tiles li div.tile-title {
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0px 8px 0px;
  font-size: 8pt;
}
ul.tiles li div.tile-detail {
  font-family: Gobold_Light;
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0px 3px 0px;
  font-size: 26pt;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

a[href^="https://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.adsb-point,
.map-point {
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 0px red solid;
  text-align: center;
  margin-top: -22px;
  margin-left: -11px;
}

.adsb-point span,
.map-point span {
  display: block;
  position: absolute;
  color: gold;
  text-shadow: 1px 1px 1px black;
}

.adsb-point:hover span,
.map-point:hover span,
.adsb-point:hover span.flight-title {
  display: block;
}

.map-point span.GeoTagIcon {
  font-size: 16px;
  left: 3px;
  top: 0px;
}

.map-point span.GeoTagPoint {
  font-size: 16px;
  top: 10px;
  left: 8px;
}

.adsb-point span.FlightIcon {
  font-size: 35px;
  left: 3px;
  top: 0px;
  /*color: #d5ff00 !important;*/
  display: block;
  text-shadow: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.adsb-point span.flight-title {
  color: #5f0702;
  left: 0px;
  bottom: -5px;
  text-shadow: none;
  background-color: rgba(243, 124, 1, 0.38);
  padding: 0px 3px 0px 3px;
  display: none;
}
