
.img1 {
  -webkit-mask-image: url('/images/image5.png');
  mask-image: url('/images/image5.png');

}

.img2 {
  -webkit-mask-image: url('/images/image6.png');
  mask-image: url('/images/image6.png');
}

.img3 {
  -webkit-mask-image: url('/images/image7.png');
  mask-image: url('/images/image7.png');
}

.img4 {
  -webkit-mask-image: url('/images/image12.png');
  mask-image: url('/images/image12.png');
}

.img5 {
  -webkit-mask-image: url('/images/image9.png');
  mask-image: url('/images/image9.png');
}

.img6 {
  -webkit-mask-image: url('/images/image8.png');
  mask-image: url('/images/image8.png');
}

.img7 {
  -webkit-mask-image: url('/images/image11.png');
  mask-image: url('/images/image11.png');
}

.img8 {
  -webkit-mask-image: url('/images/image10.png');
  mask-image: url('/images/image10.png');
}

/*
  .img1 { background-color: #9DC3E6;}
  .img2 { background-color: rgba(187,17,17,1); }
  .img5 { background-color: rgba(100,50,205,1); }
  .img6 { background-color: rgba(255,119,119,1);}
  .img8 { background-color: rgba(151,187,205,1);}
  */

#drone-map-info div.col-4.item2 div.data {
  color: rgb(44, 141, 152);
}

#drone-map-info div.col-4.item3 div.data {
  color: rgb(10, 101, 10);
}


#drone-map-info div.col-4.item4 div.data {
  color: rgb(255, 106, 0)
}

#drone-map-info div.col-4.item5 div.data {
  color: rgb(86, 65, 128)
}
#drone-map-info div.col-4.item6 div.data {
  color: rgb(150, 114, 46);
}

#drone-map-info div.col-4.item7 div.data {
  color: rgb(37, 81, 87);
}

#drone-map-info div.col-4.item8 div.data {
  color: rgb(102, 32, 122);
}
ul#line-legend {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

  ul#line-legend li {
    margin: 0px;
    padding: 0px;
    width: 18%;
    display: inline-block;
  }

    ul#line-legend li span.legend {
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
    }

      ul#line-legend li span.legend span {
        font-size: 10px;
        color: white;
        visibility: hidden;
      }

    ul#line-legend li.active span.legend span {
      visibility: visible;
    }

    ul#line-legend li:hover span.legend span {
      visibility: visible;
      color: black;
    }

#map-video {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
