@font-face {
  font-family: "Weather";
  src: url("/fonts/weathericons-regular-webfont.eot?") format("eot"), url("/fonts/weathericons-regular-webfont.woff2") format("woff2"), url("/fonts/weathericons-regular-webfont.woff") format("woff"), url("/fonts/weathericons-regular-webfont.ttf") format("truetype"), url("/fonts/weathericons-regular-webfont.svg#Weather") format("svg");
}
/* line 3, ../sass/dashboard.scss */
div.dash-row {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 6, ../sass/dashboard.scss */
div.dash-row div.dash-column {
  width: 50%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
}
/* line 13, ../sass/dashboard.scss */
div.dash-row div.dash-column:nth-child(odd) {
  padding-right: 5px;
}
/* line 17, ../sass/dashboard.scss */
div.dash-row div.dash-column:nth-child(even) {
  padding-left: 5px;
}
/* line 22, ../sass/dashboard.scss */
div.dash-row div.dash-content {
  width: 100%;
  border: 1px rgba(255, 0, 0, 0.2) solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
}
/* line 32, ../sass/dashboard.scss */
div.dash-row h2 {
  color: red;
}
/* line 35, ../sass/dashboard.scss */
div.dash-row h3 {
  color: rgba(234, 5, 14, 0.6);
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 12pt;
}
/* line 42, ../sass/dashboard.scss */
div.dash-row a {
  color: red;
  text-decoration: none;
}
/* line 47, ../sass/dashboard.scss */
div.dash-row div.jwplayer {
  margin-bottom: 10px;
}
/* line 51, ../sass/dashboard.scss */
div.dash-row div.content-inner {
  width: 100%;
  height: 200px;
  overflow: auto;
}

/* line 14, ../sass/internal-dashboard.scss */
#chartjs-tooltip,
#DsChart3-tooltip {
  opacity: 0;
  position: absolute;
  color: white;
  padding: 8px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  background-color: black;
  white-space: nowrap;
  z-index: 999;
  line-height: 20px;
}
/* line 28, ../sass/internal-dashboard.scss */
#chartjs-tooltip span.box {
  display: inline-block;
  width: 16px;
}

/* line 34, ../sass/internal-dashboard.scss */
td.spacer {
  width: 20px;
}

/* line 39, ../sass/internal-dashboard.scss */
div.weather {
  text-align: left;
  font-size: 10pt;
}
/* line 43, ../sass/internal-dashboard.scss */
div.weather span.icon {
  font-family: Weather;
  color: silver;
}
/* line 48, ../sass/internal-dashboard.scss */
div.weather span.icon.big {
  font-size: 35px;
}
/* line 52, ../sass/internal-dashboard.scss */
div.weather span.icon.small {
  font-size: 25px;
}
/* line 56, ../sass/internal-dashboard.scss */
div.weather span.icon.tiny {
  font-size: 15px;
}
/* line 61, ../sass/internal-dashboard.scss */
div.weather .condition {
  color: #ea050e;
  font-weight: bold;
  text-align: center
}
/* line 62, ../sass/internal-dashboard.scss */
div.weather .condition span.icon {
  color: #ea050e;
  font-size: 60px;
}
/* line 71, ../sass/internal-dashboard.scss */
div.weather span.caption {
  font-size: 8pt;
}
/* line 76, ../sass/internal-dashboard.scss */
div.weather span.text.big {
  font-size: 40px;
}

/* line 82, ../sass/internal-dashboard.scss */
ul#forecast {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 87, ../sass/internal-dashboard.scss */
ul#forecast li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: left;
  margin: 0px 15px 0px 0px;
  text-align:center;
}
/* line 94, ../sass/internal-dashboard.scss */
ul#forecast li span.icon {
  color: #F58387;
}
/* line 98, ../sass/internal-dashboard.scss */
ul#forecast li .status {
  font-size: 8pt;
  color: red;  
}
/* Styles for Pie chart divisions*/
.ChartDev{
    width:250px;

}



    .chart-legend li span{
    display: inline-block;
    width:40;
    height: 12px;
    margin-right: -10px;
    margin-left:20px;

}


 
/* line 35, ../sass/dashboard.scss */
div.ChartDev h4 {
  color: rgba(234, 5, 14, 0.6);
  margin: 10px 5px 0px 90px;
  padding: 0px;
  font-size: 12pt;
}


.Pichart{
    width:100%;

    border:solid;
    border-width:1px;
    border-color:rgba(255, 0, 0, 0.2); 
    margin-top:10px;
}

.Pichart div.ChartDev {
  width:25%;
}

ul.pie-legend {
  margin:20px 20px  0px 0px;
  padding:0px;
  list-style:none;
}

ul.pie-legend  li {
  margin:20px 20px 0px 0px;
  padding:0px;
  line-height:30px;
  
}

ul.pie-legend  li span {
  display: inline-block;
  width:30px;
  height:30px;
  line-height:30px;
  vertical-align: middle;
  margin-right:10px;
  border-radius:20px;
}

div.AlertSum {
    text-align: center;
        color: gray;
}
div.AlertSum span {
  color:red;
}