
#map-holder {
  position: relative;
}

#map-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: auto;
  width: auto;
  padding: 5px 10px 5px 10px;
  background-color: #ea050e;
  font-weight: bold;
  color: white;
}

table.detail-info {
  border-bottom: 1px #ea050e solid;
}

  table.detail-info TH {
    border-bottom: 1px #ea050e solid;
    color: #ea050e;
    text-align: left;
    font-family: Conv_DINNextLTPro-LightCondensed,Arial;
    font-size: 20px;
  }

  table.detail-info td {
    white-space: nowrap;
  }

    table.detail-info td span {
      color: gray;
    }

  table.detail-info TH,
  table.detail-info td {
    padding: 1px 3px 1px 0px;
    width: 16.666%;
  }

#drone-map-info {
  width: 100%;
}


#drone-map-info div.col-4 {
  width:25%;
  float:left;
  /* font-size:0px; */
  /* line-height:50px; */
}


#drone-map-info div.col-4 div.title span {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  text-align:center;
  font-size:12px;
  display:block;
  width:50px;
}

#drone-map-info div.col-4 div.title {
  position:absolute;
  left:0px;
  top:0px;
}

#drone-map-info div.col-4 div.unit {
  font-weight:bolder;
  color:#5b5b5b;
  font-size:18px;
  line-height:normal;
  padding:0px 0px 10px 0px;
}

  #drone-map-info div.col-4 div.data {
    font-size: 40px;
    line-height: 40px;
    font-family: Conv_DINNextLTPro-LightCondensed,Arial;
    color: #ea050e;
    font-weight: bold;
  }


  .dash-image {
    width: 30px;
    height: 30px;
    background-color: #565555;
    -webkit-mask-size: 30px 30px;
    display:block;
    margin:0px 10px 0px 0px;
  }

  .verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform: rotate(270deg);
    font-size:12px;
    line-height:normal;
    width: 20;
}
.verticalTableHeader p {
    margin:0 -100% ;
    display:inline-block;
}
.verticalTableHeader p:before{
    content:'';
    width:0;
    display:inline-block;
    vertical-align:middle;
}

div.image span.icon {
    font-size: 40px;
    padding: 0px 10px 0px 0px;
    color: black;
}
div.more-info {
  font-size:13px;
  color:#7D7B7B;
  white-space: nowrap;
  padding-left: 30px;
}
div.more-info span {
padding-right:3px;
}