section div.title {
  padding: 3px 0px 3px 5px;
  border-bottom: 2px white solid;
  margin-bottom: 5px;
  vertical-align: text-bottom;
  background-color: #c2c0c0;
  font-size: 12pt;
}

div#PayloadRuns, div#PayloadRFIDs {
  height: 215px;
  width: 100%;
  border-bottom: 2px red solid;
}

ul#PayloadRunIDs, ul#RFIDs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 175px;
  overflow: auto;
}
ul#PayloadRunIDs li, ul#RFIDs li {
  border-bottom: 1px silver solid;
  padding: 1px 0px 1px 0px;
  height: 16px;
}
ul#PayloadRunIDs li div, ul#RFIDs li div {
  height: 16px;
}
ul#PayloadRunIDs li.active {
  background-color: #90ff13;
}
ul#PayloadRunIDs li:hover {
  background-color: #fbd74c;
}
ul#PayloadRunIDs li div {
  float: left;
  display: block;
  margin-right: 5px;
  width: 100px;
}
ul#PayloadRunIDs li div.c4 {
  width: 150px;
}
ul#RFIDs li:hover {
  background-color: #fc9d9d;
}
ul#RFIDs li div {
  width: 70px;
  float: left;
  overflow: hidden;
}
ul#RFIDs li.active {
  background-color: aqua;
}
ul#RFIDs li div.c1 {
  width: 200px;
}

div#RSSIs {
  border-bottom: 2px red solid;
  line-height: 20px;
}
div#RSSIs label {
  line-height: 20px;
  vertical-align: text-bottom;
}
div#RSSIs::-webkit-scrollbar-track {
  background: #ddd;
}
div#RSSIs::-webkit-scrollbar-thumb {
  background: #666;
}
div#RSSIs::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

ul#RSSI {
  margin: 0px;
  padding: 0px;
  list-style: none;
  white-space: nowrap;
  width: 5000px;
}
ul#RSSI li {
  float: left;
  margin-right: 10px;
  list-style: none;
  padding-top: 5px;
}
