div.title-bar {
  background-color: #474747;
  color: #fc2830;
  font-size: 10pt;
  padding: 5px 10px 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
div.title-bar span.button {
  display: block;
  float: right;
  font-size: 7pt;
  margin-left: 10px;
}
div.title-bar span.button a {
  padding: 1px 5px 1px 5px;
  border: 1px #fc2830 solid;
  cursor: pointer;
  text-decoration: none;
  color: #fc2830;
  border-radius: 5px;
  display: block;
}
div.title-bar span.button a:hover {
  background-color: #fc2830;
  color: white;
  border-radius: 5px;
}

#map-video {
  min-height: 460px;
}

div#dmat-layout {
  background-image: url("../images/dmat-traffic-layout.png");
  width: 100%;
  height: 460px;
  position: relative;
}
div#dmat-layout div.zone {
  color: yellow;
  padding-left: 3px;
}
div#dmat-layout #dmat-pos-u, div#dmat-layout #dmat-pos-r, div#dmat-layout #dmat-pos-d, div#dmat-layout #dmat-pos-l {
  position: absolute;
  width: 100px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
div#dmat-layout #dmat-pos-u {
  bottom: 5px;
  left: 233.75px;
}
div#dmat-layout #dmat-pos-r {
  left: 5px;
  top: 197px;
}
div#dmat-layout #dmat-pos-d {
  top: 5px;
  left: 233.75px;
}
div#dmat-layout #dmat-pos-l {
  right: 5px;
  top: 197px;
}

ul.traffic-data {
  margin: 1px 0px 0px 3px;
  padding: 0px;
  list-style: none;
}
ul.traffic-data li {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 90px;
  font-size: 8px;
}
ul.traffic-data li label {
  width: auto;
  display: inline-block;
  color: #bfb4b4;
}
ul.traffic-data li label i {
  font-style: normal;
  color: aqua;
  display: none;
}
ul.traffic-data li label:hover i {
  display: inline-block;
}
ul.traffic-data li > div {
  width: 30px;
  color: #9acd32;
  height: 9px;
}
ul.traffic-data li > div > span {
  width: 30px;
  top: 0px;
}

div#dmat-info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  padding: 5px;
}
div#dmat-info ul.traffic-data-info {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div#dmat-info ul.traffic-data-info li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: wheat;
}
div#dmat-info ul.traffic-data-info li > div {
  color: yellow;
  height: 15px;
  width: auto;
  min-width: 60px;
}
div#dmat-info ul.traffic-data-info li > div > span {
  width: 120px;
  top: 3px;
}

div#dmat-info ul.traffic-data-info li label,
ul.traffic-data li label {
  display: inline-block;
}
div#dmat-info ul.traffic-data-info li > div,
ul.traffic-data li > div {
  position: relative;
  display: inline-block;
}
div#dmat-info ul.traffic-data-info li > div > span,
ul.traffic-data li > div > span {
  position: absolute;
  left: 0px;
  height: 15px;
}
