@model IEnumerable<eX_Portal.Models.MSTR_DroneCheckList>
@{
  Layout = null;
}



  @foreach (var item in Model) {
    <span class="icon">&#xf0a9;</span>
      <a href="@Url.Action("Validation", "DroneCheckList", new {ID = item.ID, DroneID = ViewBag.DroneID } )">
        @Html.DisplayFor(modelItem => item.CheckListTitle)
        @if (!String.IsNullOrEmpty(item.CheckListSubTitle)) {
          <span class="subtitles"> - @Html.DisplayFor(modelItem => item.CheckListSubTitle)</span>
        }
      </a><br />
  }
