
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
</head>
<body>
   
    <div> 
        @Html.Raw(ViewBag.Message)
        <a href="http://dcaa.exponent-ts.com">LogIn</a>
    </div>
</body>
</html>
