@{
  Layout = "~/Views/Shared/_eXPortalBeforeLogin.cshtml";
}

<div>
Thank you for using the portal. 
</div>
<div>
  Please @Html.ActionLink("Log in", "Index", "User") again to use the site.

</div>
<script type="text/javascript">
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>