@{
  ViewBag.Title = "Logout";
}
<div style="padding:30px 0px 30px 0px;">
  <div style="padding:0px 0px 20px 0px;">
    Thank you for using the portal.
  </div>
  <div style="padding:0px 0px 0px 0px;">
    Please @Html.ActionLink("Log in", "Index", "User") again to use the site.
  </div>

</div>

   