@{
  Layout = "~/Views/Shared/_eXPortalBeforeLogin.cshtml";
}

<div>
Thank you for using the portal. 
</div>
<div>
  Please @Html.ActionLink("Log in", "Index", "User") again to use the site.

</div>
<script type="text/javascript">
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>