@{
  Layout = null;
}
<link href="~/Content/dewa-dashboard.css" rel="stylesheet" />

<div class="dash-row">

  <div class="dash-column col1">
    <div class="content">
      <h2>Power Line Inspection</h2>
      <div><a href="#">View more...</a></div>
    </div>
  </div>

  <div class="dash-column col2">
    <div class="content">
      <h2>Red Tide &amp; Oil Spill Detection</h2>
      <div><a href="#">View more...</a></div>
    </div>
  </div>

  <div class="dash-column col3">
    <div class="content">
      <h2>Image Mapping</h2>
      <div><a href="#">View more...</a></div>
    </div>
  </div>
  
  <div class="dash-column col4">
    <div class="content">
      <h2>Water Sampling</h2>
      <div><a href="#">View more...</a></div>
    </div>
  </div>
  
</div>