@{
  Layout = null;
}

<div class="dash-row">
  <div class="dash-column col1">
    <div class="dash-content">

      <h3>UAS Flight Chart</h3>
      <canvas id="DsChart1" style="width:50px;height:250px"> </canvas>
      <a href="@Url.Action("ChartDetails", "DashBoard")">Chart Details</a>

    </div>
  </div>

  <div class="dash-column col2">
    <div class="dash-content">
      <h3>UAS Last Flight</h3>
      <canvas id="myChart" style="width:50px;height:250px"> </canvas>
    </div>
  </div>

  <div class="dash-column col1">
    <div class="dash-content">

      <h3>EnvironmentalData</h3>

    </div>
  </div>

  <div class="dash-column col2">
    <div class="dash-content">
      <h3>Total Pilot Hours</h3>
      <canvas id="myChart" style="width:50px;height:250px"> </canvas>
    </div>
  </div>
</div>




<script src="~/Scripts/Chart.js" type="text/javascript"></script>
<script type="text/javascript">
  var DashBoardChartDataURL = '@Url.Action("getCurrentFlightChartData","Dashboard")';
</script>
<script type="text/javascript" src="~/Scripts/DashBoardFlightChart.js"></script>
