@using eX_Portal.exLogic;

<section class="top_space">
  <div class="column column-1-of-3 dashboard-column">
    Column 1
  </div>

  <div class="column column-1-of-3 dashboard-column">
    Column 2
  </div>
  <div class="column column-1-of-3 dashboard-column">
    Column 3
  </div>

</section>
