@model List<Dictionary<String, Object>>
@if (Model.Any()) {
  <div class="col-3">
    <h2>@ViewBag.DocumentType</h2>
    <ul>
      @foreach (var item in Model) {
        <li>
          <a href=@item["DocumentName"]>@item["Name"]</a><br />
          @item["UploadedDate"]
        </li>
      }
    </ul>
  </div>
}
