<div id="live-drones-load">Loading live drones... Please wait.
  </div>
<ul id="live-drones"></ul>
<div style="clear:both">&nbsp;</div>
@section scripts {
  <script type="text/javascript" src="~/Scripts/drone-live.js"></script>

}

@section header {
<link href="/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

  }