@model eX_Portal.exLogic.qView

@Html.Action("DroneDetail", "Drone", new { ID = ViewBag.DroneID })

@Html.Raw(Model.getDataTable())

@section scripts {
  <script type="text/javascript">
@Html.Raw(Model.getScripts())
  </script>
}

@section toolbar {
  <a class="button" href="@Url.Action("Manage", "Drone", new { ID = ViewBag.DroneID }) ">Manage</a>
  }