@model eX_Portal.Models.MSTR_User
@Html.Action("UserDetailView","User", new { ID = Model.UserId })

@section toolbar {
<ul>
    <li> @Html.ActionLink("Create Pilot Log ", "Create", "PilotLog", new { ID = Model.UserId }, null)  </li>
</ul>
    }
@Html.Action("PilotLogDetails", new { ID = Model.UserId })
@Html.Action("PilotLogTotal", new { ID = Model.UserId })



@section scripts {
    <script type="text/javascript">

  var LastButton = null;
  $('table#PilotLogDetails').on('click', 'img.row-button', function (e) {
    e.stopPropagation();
    if (LastButton) LastButton.parent().find('UL').remove();
    var Btn = $(this);
    LastButton = Btn;
    var data = Btn.attr("data-pkey");
    //var pKey = data['_PKey'];
    //Btn.parent().find('UL').remove();
    Btn.parent().append(
      '<ul class="qViewMenu">\n' +
      '<li><a href="/PilotLog/Edit/' + data + '">Edit</a></li>\n' +
      '<li><a class="_delete" href="/PilotLog/Delete/' + data + '">Delete</a></li>\n' +
      '</ul>'
      );
    //alert('Key: ' + pKey)
  });



    </script>


}