@model eX_Portal.Models.MSTR_User
@{
    Layout = "~/Views/Shared/_Email.cshtml";
}

    <div> 
      <P>Hello,</P>

      <P>
        Please click on the link below for activation.
        <br />
        <a href="http://dcaa.exponent-ts.com/User/Activation?email=@Model.EmailId&key=@Model.ActivationKey">Activate</a>
      </P>
    </div>

