@model eX_Portal.Models.MSTR_User
@{
    Layout = "~/Views/Shared/_Email.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activation</title>
    Please click on the link below for activation.

</head>
<body>
    <div> 
    </div>
</body>
</html>
