@model eX_Portal.Models.MSTR_User
@{
  Layout = "~/Views/Shared/_Email.cshtml";
}

@if(Model != null) { 
<p>Dear @Model.FirstName @Model.LastName,</p>

<p>Please use the following password to login into the 
  exponent portal <a href="https://portal.exponent-ts.com/">portal.exponent-ts.com</a></p>

<p>User Name: @Model.UserName<br />
  Password: @ViewBag.NewPassword</p>

  <p>If you are not requested the password, please ignore
  this email.</p>


} else {
<p>Invalid User</p>

}