@model eX_Portal.Models.MSTR_User
@{
    ViewBag.Title = "RPASUserCreated";
}

@if (Model != null)
{
    <p>Dear @Model.FirstName,</p>

    <p>
        You have been registered to  Exponent Portal. Password will be messaged to you.
    </p>

    <p>
        Details:

        User Name  : @Model.UserName<br />
        Registered EmailId    : @Model.EmailId<br />
        Registered Mobile No  : @Model.MobileNo<br />
    </p>
    <p>
        To Activate your account,  <a href="#">Click here</a>.
    </p>
    <p>
        Thank you.
    </p>


}
else
{
    <p>Invalid User</p>

}
