@{
    ViewBag.Title = "Dashboard";
}


<div class="row">

    <div class="col-3">
        <h2>Drone Creation</h2>
        <p>Allow to create or register  new drone on system.</p>
        <p><a class="btn btn-default" href="http://localhost:4137/Drone/">Click Here...</a></p>
    </div>

  <div class="col-3">
    <h2>Drone Flight</h2>
    <p>
      List of flights created for drone is listed here.
    <p><a class="btn btn-default" href="http://localhost:4137/DroneFlight/">Click Here...</a></p>
  </div>

    <div class="col-3">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p><a class="btn btn-default" href="http://localhost:4137/DroneFlight/">Click Here...</a></p>
    </div>
</div>

<div style="height:150px;">&nbsp;</div>