@{
  ViewBag.Title = "Dashboard";
}


<div class="row">

  <div class="col-3">
    <h2>UAS</h2>
    <p>
      This feature allow you to view all the UAS registered. From the
      UAS, you will be able to see the service history and flight details.
    </p>
    <p><a class="btn btn-default" href="/Drone/">Click Here...</a></p>
  </div>

  <div class="col-3">
    <h2>UAS Flight</h2>
    <p>
      List of flights created for UAS is listed here.
    <p><a class="btn btn-default" href="/DroneFlight/">Click Here...</a></p>
  </div>

  <div class="col-3">
    <h2>UAS Service Details</h2>
    <p>Create and manage UAS Services and History.</p>
    <p><a class="btn btn-default" href="/DroneService/">Click Here...</a></p>
  </div>
</div>
<div id="map_canvas" style="width: 100%; height: 480px;">

  <div style="height:150px;">&nbsp;</div>
</div>

@section scripts{
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="~/Scripts/infobox.js"></script>

  <script type="text/javascript">
    var map;
    var _Location = [];
    var livemarkers = [];

    var initLat = 24.9899106;
    var initLng = 55.0034188;
    var defaultZoom = 10;


    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();



    $(document).ready(function () {

      initialize();
    });

    function initialize() {
      geocoder = new google.maps.Geocoder();
      var mapOptions = {
        zoom: defaultZoom,
        center: new google.maps.LatLng(initLat, initLng),
        panControl: false,
        mapTypeControl: false,
        mapTypeControlOptions: {
          position: google.maps.ControlPosition.RIGHT_TOP,
        },
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE,
          position: google.maps.ControlPosition.LEFT_TOP,
        },
        scaleControl: false,
        streetViewControl: true,
        overviewMapControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

      GetDrones();
    };


    function GetDrones() {
      var _locVal = [];
      $.ajax({
        type: "GET",
        url: '@Url.Action("GetDrones", "Map")',
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        async: true,
        success: function (_Location) {
          setMarker(map, _Location)
        },
        failure: function (msg) {
          alert('Live Drone ' + msg);
        }
      });
    }

    function setMarker(map, _Location) {
      $.each(_Location, function (index, location) {
        var body = '' +
            '<b>' + location['DroneName'] + '</b><br>\n' +
            'Owner: ' + location['OwnerName'] + '<br>\n' +
            'Manufacture: ' + location['Manufacture'] + '<br>\n' +
            'UAV Type: ' + location['UAVType'];

        var myLatLng = new google.maps.LatLng(location['LastLatitude'], location['LastLongitude']);
        var marker = createMarker(map, myLatLng, location['DroneName'], body);

      });
      map.fitBounds(bounds);
    }

    function createMarker(map, latlng, heading, body) {
      var image = '/Blue.png';
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        icon: image,
        title: heading
      });

      var myOptions = {
        content: heading,
        boxStyle: {
          textAlign: "center",
          color: 'red',
          fontSize: "8pt",
          width: "auto"
        },
        disableAutoPan: true,
        pixelOffset: new google.maps.Size(-25, 0),
        position: latlng,
        closeBoxURL: "",
        isHidden: false,
        pane: "mapPane",
        enableEventPropagation: true
      };

      var ibLabel = new InfoBox(myOptions);
      ibLabel.open(map);

      marker.addListener('click', function () {
        var infowindow = new google.maps.InfoWindow({
          content: body
        });
        infowindow.open(map, marker);
      });

      bounds.extend(marker.position);
    }

    function ShowInfo(marker, i) {
      return function() {
        infowindow.open(map, marker);
      }
    }

  </script>
}
