@using eX_Portal.exLogic;

@model eX_Portal.Models.MSTR_BlackBox

@Html.Action("BBDetails", new { ID = Model.BlackBoxID })

<h2>Black Box Transaction Details</h2>
@Html.Action("TransactionDet", "BlackBox", new { ID = Model.BlackBoxID })


