@{ 
  Double Buffer = 3;
  String sBuffer = Request.QueryString["Buffer"];
  if (!String.IsNullOrWhiteSpace(sBuffer)) {
    Double.TryParse(sBuffer, out Buffer);
  }
}

<h1>The Video</h1>
<h2 id="VideoURL">video url</h2>
<div id="myElement">Loading the player...</div>
@section scripts {
<script src="~/jwplayer/jwplayer.js"></script>
<script>jwplayer.key = "vYTpeN5XOdY1qcyCv75ibloaO/VRGoOeHn6CsA==";</script>
<script type="text/javascript">
  var playerInstance = null;
  $(document).ready(function () {
    var VideoURL = 'flv:VOD/drone100-1458557134.flv'
    var StreamURL = 'rtmp://s2rpa1y1xc5k55.cloudfront.net/cfx/st/' + VideoURL;
    $('#VideoURL').html(StreamURL);
    playerInstance = jwplayer("myElement");

    playerInstance.setup({
      file: StreamURL,
      width: 640,
      height: 360,
      title: 'Basic Video Embed',
      description: 'A video with a basic title and description!',
      mediaid: '123456',
      rtmp: {
        bufferlength: 3
      }
  });

  
  })

</script>
}


