
<nav class="user-management">
  @if (Session["UserID"] == null) {

    <ul>
      <li>@Html.ActionLink("Log in", "Index", "User")</li>
    </ul>
  } else {
    <ul>
      <li>Welcome @Session["FirstName"]</li>
    </ul>
  }
</nav>