
@{
  Layout = "~/Views/Shared/_exPortal_V3.cshtml";
  ViewBag.Title = "View";
}

<nav id="flightmap_infobar">
  <ul>
    <li>
      <div class="image"></div>
      <div class="title-1"></div>
      <div class="title-2"></div>
    </li>
  </ul>
</nav>

