@model Exponent.ADSB.ADSBQuery


@{
  ViewBag.Title = "No Fly Zone Dashboard";
  //  Layout = null;
}
<table class="restable" >
    <tr class="restd">
        <td class="restd">
            <div>
                <div class="editor-label">
                    Organisation
                </div>
                <div class="editor-field" id="ddlist">
                    @Html.DropDownList("Organisation_Value", new SelectList(ViewBag.Organisations, "Value", "Text"), new { @class = "form-control", @onchange = "FillPilot()", @id = "ddlOrg" })
                </div>
                <div class="editor-label">
                    Pilots
                </div>
                <div class="editor-field" id="ddlist">
                    @Html.DropDownList("Value", new SelectList(Enumerable.Empty<SelectListItem>()), new { @id = "ddlModel" })
       
        </div>
                <div>
                    <input checked="checked"
                           id="chkActive"
                           name="ActivePilot"
                           type="checkbox"
                           value="true" /> Active Pilots <br />
                    <input checked="checked"
                           id="chkRegion"
                           name="RegionPilot"
                           type="checkbox"
                           value="true" /> Active Pilots in Region
                </div>

        </div>
        </td>
        <td class="restd">
            <div style="width:100%; height:600px; position:relative">
                <div id="adsb_map" style="width:100%; height:600px"></div>
                <div id="AddDiv">
                    <div class="button" id="addzone"><span class="icon green">&#xf055;</span>Add New Zone</div>
                </div>
            </div>
            <div id="zonedetails" style="height:20%; padding-bottom:50px;">

                <div id="DetailDiv">
                    <table cellpadding="0" cellspacing="0" class="adsb-detail">
                        <tbody>
                            <tr>
                                <td>
                                    Organization
                                </td>
                                <td colspan="3">
                                    <ul class="radio">
                                        <li><input type="radio" name="crust" id="crust1" value="Pilots" /><label for="crust1">Deep dish</label></li>
                                        <li><input type="radio" name="crust" id="crust2" value="Organisation" /><label for="crust2">Thick</label></li>
                                        <li><input type="radio" name="crust" id="crust3" value="Region" /><label for="crust3">Hand thrown</label></li>
                                        <li><input type="radio" name="crust" id="crust4" value="AllPilot" /><label for="crust4">Thin</label></li>
                                        <li><input type="radio" name="crust" id="crust4" value="AllOrg" /><label for="crust4">Thin</label></li>

                                    </ul>
                                </td>
                                <td>
                                    Pilot
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    <input type="text" id="zonename" />
                                </td>
                                <td>
                                    Color
                                </td>
                                <td>

                                    <select name="cars" id="colorpicker">
                                        <option value="Orange">Orange</option>
                                    </select>
                                </td>
                                <td>
                                    Start Date
                                </td>
                                <td>
                                    <input type="text" id="startdate" class="date-picker" />
                                </td>
                                <td>
                                    End Date
                                </td>
                                <td>
                                    <input type="text" id="enddate" class="date-picker" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Descriiption
                                </td>
                                <td colspan="3">

                                    <input type="text" id="desc" style="width:100% ;height:100%" />

                                </td>
                                <td>
                                    Start Time
                                </td>
                                <td>
                                    <input type="text" id="starttime" class="form-control time-picker" />
                                </td>
                                <td>
                                    End Time
                                </td>
                                <td>
                                    <input type="text" id="endtime" class="form-control time-picker" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Message
                                </td>
                                <td colspan="3">
                                    <textarea id="ZoneMessage" style="visibility:visible;width:100%;height:100%"></textarea>
                                </td>
                                <td>
                                    Coordinates
                                </td>
                                <td colspan="3">
                                    <textarea id="ZoneCoordinates" style="visibility:visible;width:100%;height:100%"></textarea>
                                </td>
                            </tr>
                            <tr style="text-align:right;">
                                <td colspan="5"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-toolbar" style="text-align:right;">
                        <input type="button" id="SaveZone" value="Save Zone" />
                        <input type="button" id="CancelZone" value="Cancel" />
                        <input type="button" id="RemoveZone" value="Remove" />
                    </div>
                </div>
            </div>
        </td>

    </tr>
    

</table>








@section header{
  <link href="~/Content/black-box.css" rel="stylesheet" />
  <link href="~/jquery-ui/jquery-ui.css" rel="stylesheet" />
  <link href="~/jquery-ui/jquery.ui.timepicker.css" rel="stylesheet" />
  <style type="text/css">
      table.restable {
          width: 100%;
          border-collapse: collapse;
      }
          table.restable tr.restd {
              width: 100%;
              border-collapse: collapse;
          }

          table.restable td.restd {
              width: 50%;
              
          }
    #AddDiv {
      position: absolute;
      right:60px;
      top:10px;
      z-index:10;
      border-radius:5px;
    }

    div.button {
      background-color: #272727;
      color: white;
      border: 2px #272727 solid;
      border-radius:3px;
      font-size:12px;
      padding:2px 10px 2px 10px;
      cursor:pointer
    }
    div.button:hover {
      background-color:#3e3e3e;
    }
    span.icon {
      padding-right:5px;
    }
    span.green {
      color:#4cff00;
    }
    table.adsb-detail {
      
    } 
    table.adsb-detail td {
      padding: 5px 20px 5px 0px;
    }
      table.adsb-detail tr td:last-child {
        padding-right:0px;
      }
      table.adsb-detail td input {
        border-radius:3px;
        
      }
      ul.radio {
          margin: 0;
          padding: 0;
          margin-left: 0px;
          list-style: none;
          width:auto;
      }

          ul.radio li {
              border: 1px transparent solid;
          }

    

  </style>
}

@section scripts {
  <script type="text/javascript">
      var InitQuery = @Html.Raw(Json.Encode(Model));
      

      function FillPilot()
      {
          var OrgID = $('#ddlOrg').val();

          if (OrgID != 0) {
              $.ajax({
                  type: 'GET',
                  url: 'GetPilot',
                  data: "AccountID=" + $('#ddlOrg').val(),
                  success: function (data) {
                      var dValue = data;
                      $(data).each(function () {
                          $('#ddlModel').append('<option value="' + this.Value + '">' + this.Text + '</option>');

                      })
                  },
                  error: function (e) {
                      alert(e);
                  }


              });
          }

      }
  </script>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyDY6IHXH4-fUAzYq6HBR_ndu_lnyyopcTs"></script>
  <script src="~/Scripts/ADSB-Aircraft-DB.js" type="text/javascript"></script>
  <script src="~/Scripts/ADSB-Map.js" type="text/javascript"></script>
  <script src="~/Scripts/ADSB.js" type="text/javascript"></script>
  <script src="~/Scripts/ADSB-FullScreen.js" type="text/javascript"></script>
  <script src="~/jquery-ui/jquery-ui.js"></script>
  <script src="~/jquery-ui/jquery.ui.timepicker.js"></script>

}

